{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Telmisartan 40mg
  Module: module1_admin
  Vars  : 3
#}

## 1.2 	Application Information

1.2.1    Application letter (Attached)

Name of Applicant:  {{ drug.molecular_formula }} {{ drug.molecular_formula }} {{ drug.molecular_formula }}.

Address: 	Plot No.6, Block H

Oshodi Industrial scheme

Oshodi, Lagos.

Phone: +2348129910709

E-mail: pharma@mecure.com
