{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Telmisartan 40mg
  Module: module1_admin
  Vars  : 2
#}

## 2.3.P.4.5 Excipients of Human or Animal Origin

(a)	For {{ drug.molecular_formula }} using excipients without risk of transmitting agents of animal spongiform encephalopathies, a letter of attestation confirming this can be found in:

No excipients form human or animal origin is used in formulation {{ drug.name }} 40
