{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Telmisartan 40mg
  Module: module1_admin
  Vars  : 2
#}

## Administrative Summary:

Related dossiers (e.g. {{ drug.molecular_formula }}(s) with the same {{ drug.molecular_formula }}(s) submitted to the Prequalification Programme by the applicant): Not applicable

{# TABLE #}
| Applicant’s date of preparation or revision of the QIS | November 19, 2018 |
| --- | --- |
| Internal version and/or date of acceptance | (W.H.O use only) |

{# TABLE #}
| Reference number | Prequalified (Y/N) | API, strength, dosage form
(eg. Abacavir (as Ampicillin) 250 mg tablets) | API manufacturer
(including address) |
| --- | --- | --- | --- |
|  |  | {{ drug.name }} {{ drug.strength }} {{ drug.dosage_form }} B.P

{{ drug.name }}  B.P………….{{ drug.strength }}
Excipients: q.s | {{ drug.name }} B.P
US {{ drug.molecular_formula }} {{ drug.molecular_formula }} {{ drug.molecular_formula }}
121, Neemuch Mata Scheme,
Dewali, Udaipur,
Rajasthan,
India, 313001. |
