{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Telmisartan 40mg
  Module: module1_admin
  Vars  : 1
#}

## Administrative Data

7. Marketing authorization holder

{{ manufacturer.name }}, Plot 6, Block H, Oshodi Industrial Scheme,

Oshodi, Lagos. Nigeria.

8. Marketing authorization number(s)

Not Applicable
