{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Telmisartan 40mg
  Module: module1_admin
  Vars  : 0
#}

## Administrative block:

It is having two floors, ground and first floor. The first floor Consist of offices for SuperintendentPharmacist, and Human Resource Department and marketing department. Ground floor consist the offices for Chairman, Managing director, Executive Director, administrative office, a conference hall.
