{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Telmisartan 40mg
  Module: module1_admin
  Vars  : 1
#}

## {{ drug.molecular_formula }} option 3 – full details in the PD (ongoing stability study commitment)

The Applicant undertook in writing (date of letter of commitment) a commitment regarding ongoing stability studies.  Unless otherwise justified, at least one batch per year of the product will be included in the stability programme (unless none is produced during that year).  The stability protocol will be that which was approved for primary batches (or the protocol was submitted for assessment).  Out-of-specification results or significant atypical trends will be investigated.  Any confirmed significant change or out-of-specification result will be reported immediately to W.H.O. The possible impact on batches on the market will be considered in consultation with W.H.O inspectors.
