{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Telmisartan 40mg
  Module: module1_admin
  Vars  : 6
#}

## {{ drug.molecular_formula }} option 2 – {{ drug.molecular_formula }}

The Applicant provided a commitment in writing (date of letter of commitment) to inform W.H.O in the event that the {{ drug.molecular_formula }} is revised or withdrawn, and that revisions to the {{ drug.molecular_formula }} will be handled as per variation 5 (Annex 3, {{ drug.molecular_formula }} 981).  Note that revisions or withdrawal will require additional consideration of the {{ drug.molecular_formula }} data requirements to support the dossier.
