{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Glibenclamide 5mg
  Module: module1_admin
  Vars  : 7
#}

## {{ drug.molecular_formula }} {{ drug.molecular_formula }}

{{ drug.molecular_formula }}: - 15 minutes was found to be suitable time for the granulation of {{ drug.name }} {{ drug.pharmacopoeia_standard }} {{ drug.strength }} {{ drug.dosage_form }} because at this time fines: granules ratio is found uniform by observing three consecutive batches.

{# TABLE #}
| col_0 | col_1 | col_2 | col_3 |
| --- | --- | --- | --- |
|  |  |  |  |
| {{ drug.molecular_formula }} No | {{ drug.molecular_formula }} | {{ drug.molecular_formula }} {{ drug.molecular_formula }} ({{ drug.molecular_formula }}) | {{ drug.molecular_formula }} ({{ drug.molecular_formula }}) |
| GB 01
Trial 1 | {{ submission_date }} | 5
10
15 | 30 |
| GB 01
Trial 2 | {{ submission_date }} | 5
10
 15 | 30 |
| GB O1
Trial 3 | {{ submission_date }} | 5
10
 15 | 30 |
