{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Metformin Hydrochloride 500mg
  Module: module1_admin
  Vars  : 5
#}

## {{ drug.molecular_formula }} {{ drug.molecular_formula }}

{{ drug.molecular_formula }}: - 15 minutes was found to be suitable time for the granulation of {{ drug.name }} {{ drug.dosage_form }} because at this time fines: granules ratio is found uniform by observing three consecutive batches.

{# TABLE #}
| col_0 | col_1 | col_2 | col_3 |
| --- | --- | --- | --- |
|  |  |  |  |
| {{ drug.molecular_formula }} No | {{ drug.molecular_formula }} | {{ drug.molecular_formula }} {{ drug.molecular_formula }} ({{ drug.molecular_formula }}) | {{ drug.molecular_formula }} ({{ drug.molecular_formula }}) |
| MH 01 | {{ submission_date }} | 5
10
15 | 30 |
| MH 02 | {{ submission_date }} | 5
10
 15 | 30 |
| MH O3 | {{ submission_date }} | 5
10
 15 | 30 |
