{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Losartan Potassium 50mg
  Module: module1_admin
  Vars  : 32
#}

### Identification test

Solubility: soluble in water, ethanol and chloroform and insoluble in ether. This is measured by the OT-42 method. 
Dichromate precipitation test: in {{ drug.strength }} of2% sample {{ drug.dosage_form }}, add {{ drug.strength }} dilute hydrochloric acid {{ drug.dosage_form }} (TS-117), further add {{ drug.strength }} of water plus {{ drug.strength }} of 10% potassium dichromate {{ drug.dosage_form }} and {{ drug.strength }}. This should form an orange precipitate.
Take {{ drug.strength }} of cobalt nitrate and {{ drug.strength }} of ammonium thiocyanate for being dissolved in {{ drug.strength }} of water; add {{ drug.strength }} of 2% aqueous sample {{ drug.dosage_form }}; after the mixing, add dilute hydrochloric acid test {{ drug.dosage_form }} (TS-117) for acidification. This should form light blue precipitate.
Take {{ drug.strength }} of 2% sample {{ drug.dosage_form }}; add {{ drug.strength }} of 25% hydrochloric acid, {{ drug.strength }} of 5% barium chloride and {{ drug.strength }} 5% molybdenum tungsten phosphoric acid {{ drug.dosage_form }}. This should generate a lot of white precipitate which gradually turns blue in the sunlight.
The pH value of 5% sample {{ drug.dosage_form }} should be 3.0 to 3.7. This is measured by conventional means.
Adding a few drops of iodine test {{ drug.dosage_form }} (TS-124) to {{ drug.strength }} of 0.5% sample {{ drug.dosage_form }} should produce a deep red color. 
Take {{ drug.strength }} of sample, add water to {{ drug.strength }} as a {{ drug.dosage_form }}, add 0.{{ drug.strength }} of iodine test {{ drug.dosage_form }} (TS-124), after mixing by shaking for 30s, iodine test {{ drug.dosage_form }} should fade (to distinguish polyvinylpyrrolidone due to that polyvinylpyrrolidone can form red color). Add {{ drug.strength }} of starch test {{ drug.dosage_form }} (TS-235), after shaking and mixing, there should be no blue color formed. to produce blue.
