{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Glibenclamide 5mg
  Module: module1_admin
  Vars  : 5
#}

## If applicable (primary stability study commitment):

The Applicant undertook in writing (date of letter of commitment) to continue long-term testing of < {{ drug.molecular_formula }} reference number, trade name ({{ drug.molecular_formula }} of {{ drug.molecular_formula }}), strength, pharmaceutical form> for a period of time sufficient to cover the W.H.O provisional shelf-life (period ending month/year) and to report any out-of-specification results or significant changes immediately to W.H.O for the following batches :

<{{ batch_number }}, manufacturing dates, {{ batch_number }} and primary packing materials >
