{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Glibenclamide 5mg
  Module: module1_admin
  Vars  : 5
#}

## If applicable (primary stability study commitment):

The Applicant (or {{ drug.molecular_formula }} manufacturer) undertook in writing (date of letter of commitment) to continue long-term testing of <{{ drug.molecular_formula }} of {{ drug.molecular_formula }}> for a period of time sufficient to cover the W.H.O provisional re-test period (period ending month/year) and to report any significant changes or out-of-specification results immediately to W.H.O for the following batches :

<{{ batch_number }}, manufacturing dates, {{ batch_number }}, and primary packing materials>
