{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Glibenclamide 5mg
  Module: module1_admin
  Vars  : 3
#}

## If applicable (commitment stability studies):

Since stability data on three production scale batches was not provided with the application, the Applicant undertook in writing, (date of letter of commitment) to put the remaining number <e.g. additional two (2)> production scale batches of < {{ drug.molecular_formula }} reference number, trade name ({{ drug.molecular_formula }} of {{ drug.molecular_formula }}), strength, pharmaceutical form, primary packing material> on long-term stability testing. Any out-of-specification results or significant changes during the study will immediately be reported to W.H.O.  The approved stability protocol will be used for commitment batches.
