{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Telmisartan 40mg
  Module: module1_admin
  Vars  : 1
#}

## If applicable (when the proposed largest commercial {{ batch_number }} is 200 000 units (x units) or less)

The Applicant undertook in writing (date of letter of commitment) to place the first three batches of any production size larger than x units on stability.   The stability protocol will be that which was approved for primary batches (or the protocol was submitted for assessment).  Out-of-specification results or significant atypical trends will be investigated.  Any confirmed significant change or out-of-specification result will be reported immediately to W.H.O.
