{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Telmisartan 40mg
  Module: module1_admin
  Vars  : 2
#}

## Name and manufacturing site address of starting material manufacturer(s):

N/A

Where the {{ drug.molecular_formula }}(s) and the starting materials and reagents used to manufacture the {{ drug.molecular_formula }}(s) are without risk of transmitting agents of animal spongiform encephalopathies, a letter of attestation confirming this can be found in:

N/A
