{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Losartan Potassium 50mg
  Module: module1_admin
  Vars  : 134
#}

# [{{ drug.molecular_formula }}]

1.4.2 Quality Information Summary

{{ drug.molecular_formula }}

Summary of product information:

Administrative Summary:

Related dossiers (e.g. {{ drug.molecular_formula }}(s) with the same {{ drug.molecular_formula }}(s) submitted to the Prequalification Programme by the applicant): Not applicable

2.3.S {{ drug.molecular_formula }} {{ drug.molecular_formula }} (or {{ drug.molecular_formula }} {{ drug.molecular_formula }} {{ drug.molecular_formula }} ({{ drug.molecular_formula }})) ({{ drug.molecular_formula }}, {{ drug.molecular_formula }})

Indicate which option applies for the submission of {{ drug.molecular_formula }} information:

2.3.S.2 Manufacture (name, manufacturer)

2.3.S.2.1 Manufacturer(s) (name, manufacturer)

(a)	Name, address and responsibility (e.g. fabrication, packaging, labelling, testing, storage) of each manufacturer, including contractors and each proposed production site or facility involved in these activities:

2.3.S.4 Control of the {{ drug.molecular_formula }} (name, manufacturer)

2.3.S.4.1 Specification (name, manufacturer)

{{ drug.molecular_formula }} specifications of the {{ drug.molecular_formula }} manufacturer:

2.3.S.6 Container Closure System (name, manufacturer)

Description of the container closure system(s) for the storage and shipment of the

{{ drug.molecular_formula }}:

Primary Packing Material- {{ drug.molecular_formula }} Bag

Secondary Packing Material- Corrugated Box

Packing Procedure

Take clean {{ drug.molecular_formula }} Bag, ensure its cleanliness and that of the polyethylene bags. Place the transparent polyethylene bags inside box. Take the tare weight of box and polyethylene bags on calibrated weighing balance.

Note down the Tare weight. Fill the desired quantity of product inside the transparent polyethylene bags keep one in another inside box. Check the Weight along and fill the material upto the required net weight + Tare weight. Note down all Net weight, Tare weight & gross weight details along with bag numbers in {{ batch_number }} record .Tie the Inner bag with plastic closing strip with {{ drug.molecular_formula }} {{ drug.molecular_formula }} {{ drug.molecular_formula }} {{ drug.molecular_formula }} printed on it. The required Product labels are issued in presence of QA person. The product labels have the following printed matter, these labels are printed in different colour for different products to distinguish easily and avoid mix up.

The following information is pre-printed on labels:

Product name, Batch No., Mfg. Date, Exp. Date, Gross Weight, Tare Weight, Net Weight,

Drum No., Manufacturing Lic. No., Name of manufacturer ({{ manufacturer.name }} Chem) and its logo, Address of manufacturing site (Factory Address) and Head office address.

Prepare the {{ batch_number }} product labels with overprinting details such as, Grade (IP/{{ drug.pharmacopoeia_standard }}/{{ drug.pharmacopoeia_standard }}), Batch No, Mfg. Dt., Exp. Dt, Net weight, tare weight , Gross Weight & Storage condition.

Product labels are of two types, Inner plain label and outer sticker label. Both labels have identical print matter .Keep inner label in inside the bag. Stick the outer sticker label on bag. And cover the sides of labels with colourless transparent cello- tape to avoid tearing of label. Seal the box with glue sealing. Issued by QC/QA with mentioned seal numbers on {{ batch_number }} record.

Storage Condition: {{ storage.storage_conditions }} a temperature below 30ºC.

2.3.S.7 Stability (name, manufacturer)

2.3.S.7.1 Stability Summary and Conclusions (name, manufacturer)

(c)	Proposed storage conditions and re-test period (or shelf-life, as appropriate):

* indicate if a shelf-life is proposed in lieu of a re-test period (e.g. in the case of labile {{ drug.molecular_formula }})

2.3.P {{ drug.molecular_formula }} {{ drug.molecular_formula }} (or {{ drug.molecular_formula }} {{ drug.molecular_formula }} {{ drug.molecular_formula }} ({{ drug.molecular_formula }}))

2.3.P.1 Description and Composition of the {{ drug.molecular_formula }}

Description of the {{ drug.molecular_formula }} (in signed specifications): Blue coloured, circular biconvex {{ drug.dosage_form }} having embossed with “{{ drug.molecular_formula }}” on one side and “50” on the other side.

Composition of the {{ drug.molecular_formula }}:

(i) 	Composition, i.e. list of all components of the {{ drug.molecular_formula }} and their amounts on a per unit basis and percentage basis (including individual components of mixtures prepared in-house (e.g. coatings) and overages, if any):

(ii) 	Composition of all components purchased as mixtures (e.g. colourants, coatings, {{ drug.dosage_form }} shells, imprinting inks):

Description of accompanying reconstitution diluent(s), if applicable:

2.3.P.2.2.1 Formulation Development

Information on primary (submission, registration, exhibit) batches including comparative bioavailability or biowaiver, stability, commercial:

Summary of {{ batch_number }}:

Summary of formulations and discussion of any differences:

2.3.P.3 Manufacture

2.3.P.3.1 Manufacturer(s)

Name, address and responsibility (e.g. fabrication, packaging, labeling, testing) of each manufacturer, including contractors and each proposed production site or facility involved in manufacturing and testing:

2.3.P.3.2 {{ batch_number }}

Largest intended commercial {{ batch_number }}: 50,{{ storage.pack_size }}

Other intended commercial {{ batch_number }}:

<information on all intended commercial {{ batch_number }} should be in the {{ drug.molecular_formula }}>

(a)	List of all components of the {{ drug.molecular_formula }} to be used in the manufacturing process and their amounts on a per {{ batch_number }} (including components of mixtures prepared in-house (e.g. coatings) and overages, if any):

2.3.P.3.3 Description of Manufacturing Process and Process Controls

Flow diagram of the manufacturing process:

{{ drug.molecular_formula }} {{ drug.molecular_formula }} {{ drug.molecular_formula }} OF ME {{ drug.molecular_formula }}’S {{ drug.molecular_formula }} {{ drug.molecular_formula }} {{ drug.pharmacopoeia_standard }} {{ drug.strength }} {{ drug.dosage_form }}

Narrative description of the manufacturing process, including equipment type and working capacity, process parameters:

{{ drug.molecular_formula }} {{ drug.molecular_formula }} {{ drug.molecular_formula }}

{{ drug.molecular_formula }}

The processing of the batches was performed according to the Master Processing Procedure and the room temperature and humidity is controlled as specified. Samples were drawn according to the sampling procedure. The documents required for the validation were present during the process.

{{ drug.molecular_formula }}

Sifting of raw materials is done for ensuring uniformity of size. This is done using the sifter size stated in the drug master file and transferred to the {{ drug.molecular_formula }}.

{{ drug.molecular_formula }} {{ drug.molecular_formula }} {{ drug.molecular_formula }}

Mixing of active material with excipients is done in the R.M.G mass mixer as described in the Master Processing Procedure.

Wet mass of the mixed raw materials is passed through a multimill and the mass obtained is transferred into a Fluid Bed Dryer bowl for semi drying and final drying operations. Milling and blending is done to get lubricated granules of same particle size.

The data is filled and recorded in the attachment attached in this protocol.

{{ drug.molecular_formula }}

The lubricated granules are compressed on a single rotary Cad/Clit 20 stn.press fitted with punches having 5 mm /caplet /S/C, at 170.{{ drug.strength }} per {{ drug.dosage_form }} weight, embossed “{{ drug.molecular_formula }}” on one side and “50” on other side and at a Hardness of not less than 3.00 kg/cm2 on Monsanto units.

{{ drug.molecular_formula }}

Inspection of {{ drug.dosage_form }} is done manually on inspection table where the weight, width, length, thickness, hardness, friability and disintegration time of the {{ drug.dosage_form }} are checked while the compression operation is ongoing.

{{ drug.molecular_formula }}

The compressed {{ drug.dosage_form }} are coated only after getting approval from Quality Control department. This is done as stated in {{ batch_number }} record.

{{ drug.molecular_formula }} {{ drug.molecular_formula }} {{ drug.molecular_formula }} {{ drug.molecular_formula }} {{ drug.molecular_formula }}

2.3.P.3.4 Controls of Critical Steps and Intermediates

(a)	Summary of controls performed at the critical steps of the manufacturing process and on isolated intermediates:

Proposed/validated holding periods for intermediates (including bulk product):

2.3.P.3.5 Process Validation and/or Evaluation

Summary of the process validation and/or evaluation studies conducted and/or a summary of the proposed validation protocol for the critical steps or critical assays used in the manufacturing process (e.g. protocol number, parameters, results):

Document code(s) for the process validation protocol(s) and/or report(s) (including reference number/version/date):

See attached Process Validation Protocol for Me Cure’s {{ drug.name }} {{ drug.strength }} {{ drug.pharmacopoeia_standard }}.

Blue coloured, circular biconvex {{ drug.dosage_form }} having embossed with “{{ drug.molecular_formula }}” on one side and “50” on the other side.

Control of {{ drug.molecular_formula }}

2.3.P.5.1 Specification(s)

(a)	Specification(s) for the {{ drug.molecular_formula }}:

2.3.P.7 Container Closure System

Description of the container closure systems, including unit count or fill size, container size or volume:

2.3.P.8 Stability

2.3.P.8.1 Stability Summary and Conclusions

Proposed storage statement and shelf-life (and in-use storage conditions and in-use period, if applicable):

2.3.P.8.2 Post-approval Stability Protocol and Stability Commitment

(a)	Stability protocol for Primary stability batches (e.g. storage conditions (including tolerances), {{ batch_number }} and {{ batch_number }}, tests and acceptance criteria, testing frequency, container closure system(s)):

Stability protocol for Commitment batches (e.g. storage conditions (including tolerances), {{ batch_number }} (if known) and {{ batch_number }}, tests and acceptance criteria, testing frequency, container closure system(s)):

Stability protocol for Ongoing Batches (e.g. storage conditions (including tolerances), number of batches per strength and {{ batch_number }}, tests and acceptance criteria, testing frequency, container closure system(s)):

Not applicable

2.3.P.8.3 Stability Data

(c)	Bracketing and matrixing design for commitment and/or continuing (i.e. ongoing) batches, if applicable:

{{ drug.molecular_formula }} {{ drug.molecular_formula }} OF {{ drug.molecular_formula }} {{ drug.molecular_formula }} – for W.H.O use

Important note: The product information is an essential part of the medicinal product. The {{ drug.molecular_formula }} and {{ drug.molecular_formula }} published with the W.H.O {{ drug.molecular_formula }} have been quality assured by W.H.O experts and reflect the situation at the time of publication of the W.H.O {{ drug.molecular_formula }}. These texts, i.e. the {{ drug.molecular_formula }} and the {{ drug.molecular_formula }} are prequalified and should be adhered to. Generally, a deviation from the prequalified product information (especially as to contents) means the product can no longer be considered to be prequalified.

{{ drug.molecular_formula }}

If applicable (primary stability study commitment):

The Applicant (or {{ drug.molecular_formula }} manufacturer) undertook in writing (date of letter of commitment) to continue long-term testing of <{{ drug.molecular_formula }} of {{ drug.molecular_formula }}> for a period of time sufficient to cover the W.H.O provisional re-test period (period ending month/year) and to report any significant changes or out-of-specification results immediately to W.H.O for the following batches :

<{{ batch_number }}, manufacturing dates, {{ batch_number }}, and primary packing materials>

If applicable (commitment stability studies):

Since stability data on three production scale batches were not provided with the application, the remaining number of production scale batches should be put on long-term stability testing. Any significant changes or out-of-specification results should be reported immediately to W.H.O. The approved stability protocol should be used for commitment batches.

{{ drug.molecular_formula }} option 2 – {{ drug.molecular_formula }}

The Applicant provided a commitment in writing (date of letter of commitment) to inform W.H.O in the event that the {{ drug.molecular_formula }} is revised or withdrawn, and that revisions to the {{ drug.molecular_formula }} will be handled as per variation 5 (Annex 3, {{ drug.molecular_formula }} 981).  Note that revisions or withdrawal will require additional consideration of the {{ drug.molecular_formula }} data requirements to support the dossier.

{{ drug.molecular_formula }} option 3 – full details in the PD (ongoing stability study commitment)

The Applicant undertook in writing (date of letter of commitment) a commitment regarding ongoing stability studies.  Unless otherwise justified, at least one batch per year of the product will be included in the stability programme (unless none is produced during that year).  The stability protocol will be that which was approved for primary batches (or the protocol was submitted for assessment).  Out-of-specification results or significant atypical trends will be investigated.  Any confirmed significant change or out-of-specification result will be reported immediately to W.H.O. The possible impact on batches on the market will be considered in consultation with W.H.O inspectors.

{{ drug.molecular_formula }}

If applicable (primary stability study commitment):

The Applicant undertook in writing (date of letter of commitment) to continue long-term testing of < {{ drug.molecular_formula }} reference number, trade name ({{ drug.molecular_formula }} of {{ drug.molecular_formula }}), strength, pharmaceutical form> for a period of time sufficient to cover the W.H.O provisional shelf-life (period ending month/year) and to report any out-of-specification results or significant changes immediately to W.H.O for the following batches :

<{{ batch_number }}, manufacturing dates, {{ batch_number }} and primary packing materials >

If applicable (commitment stability studies):

Since stability data on three production scale batches was not provided with the application, the Applicant undertook in writing, (date of letter of commitment) to put the remaining number <e.g. additional two (2)> production scale batches of < {{ drug.molecular_formula }} reference number, trade name ({{ drug.molecular_formula }} of {{ drug.molecular_formula }}), strength, pharmaceutical form, primary packing material> on long-term stability testing. Any out-of-specification results or significant changes during the study will immediately be reported to W.H.O.  The approved stability protocol will be used for commitment batches.

If applicable (when the proposed largest commercial {{ batch_number }} is 200 000 units (x units) or less)

The Applicant undertook in writing (date of letter of commitment) to place the first three batches of any production size larger than x units on stability.   The stability protocol will be that which was approved for primary batches (or the protocol was submitted for assessment).  Out-of-specification results or significant atypical trends will be investigated.  Any confirmed significant change or out-of-specification result will be reported immediately to W.H.O.

Ongoing stability study commitment

The Applicant undertook in writing (date of letter of commitment) a commitment regarding ongoing stability studies.  Unless otherwise justified, at least one batch per year of the product manufactured in every primary packaging type will be included in the stability programme (unless none is produced during that year).  The stability protocol will be that which was approved for primary batches (or the protocol was submitted and found acceptable).  Out-of-specification results or significant atypical trends will be investigated.  Any confirmed significant change or out-of-specification result will be reported immediately to W.H.O. The possible impact on batches on the market will be considered in consultation with W.H.O inspectors.

If applicable (validation of production batches)

Validation data on production scale batches of not less than three (3) consecutive batches of <{{ drug.molecular_formula }} reference number, trade name ({{ drug.molecular_formula }} of {{ drug.molecular_formula }}), strength, pharmaceutical form, primary packing material> was not provided with the application. Therefore, the Applicant submitted a written commitment (date of letter of commitment) that three consecutive production batches would be prospectively validated and a validation report —in accordance with the details of the validation protocol provided in the dossier— would be made available as soon as possible for evaluation by assessors or for verification by the W.H.O inspection team.

Change History

Date of preparation of original {{ drug.molecular_formula }}:

{# TABLE #}
| Non-proprietary name(s) of the finished pharmaceutical product(s) (FPP) | Losartan Potassium USP 50mg Tablets. |
| --- | --- |
| Proprietary name(s) of the finished pharmaceutical product(s) ({{ drug.molecular_formula }}) | Me Cure’s {{ drug.name }} {{ drug.pharmacopoeia_standard }} {{ drug.strength }} {{ drug.dosage_form }}. |
| International non-proprietary name(s) of the active pharmaceutical ingredient(s) ({{ drug.molecular_formula }}(s)), including form (salt, hydrate, polymorph) | {{ drug.name }} {{ drug.pharmacopoeia_standard }}  {{ drug.dosage_form }}. |
| Applicant name and address | {{ manufacturer.name }}
Plot 6 Block H {{ manufacturer.name }} Compound,
Oshodi Industrial Scheme,
Oshodi Lagos. |
| Dosage form | {{ drug.dosage_form }} |
| Reference Number(s) |  |
| Strength(s) | {{ drug.strength }} |
| Route of administration | {{ drug.route_of_administration }} |
| Proposed indication(s) | {{ drug.name }} is used as a first line agent to treat uncomplicated hypertension, isolated systolic hypertension and left ventricular hypertrophy. May be used as a first line agent to delay progression of diabetic nephropathy. Losartan may be also used as a second line agent in the treatment of congestive heart failure, systolic dysfunction, myocardial infarction and coronary artery disease in those intolerant of {{ drug.molecular_formula }} inhibitors. |
| Primary contact person responsible for this application | Title: Mrs.
First name: Anderline
Family Name: Dukor |
| Contact person's job title | Superintendent Pharmacist |
| Contact person's postal address |  |
| Unit | Plot 6 Block H, |
| Building/PO Bag number | {{ manufacturer.name }} Compound, |
| Road/Street |  |
| Plant/Zone | Oshodi Industrial Scheme, |
| Village/suburb |  |
| Town/City | Oshodi – Apapa Expressway, |
| District |  |
| Province/State | Lagos, |
| Postal code |  |
| Country | Nigeria. |
| Contact person's email address | dukor@mecure.com , dukor@mecure.com.ng |
| Contact person's phone number | +2348033217090 |

{# TABLE #}
| Applicant’s date of preparation or revision of the QIS | November 19, 2018 |
| --- | --- |
| Internal version and/or date of acceptance | (W.H.O use only) |

{# TABLE #}
| Reference number | Prequalified (Y/N) | API, strength, dosage form
(eg. Abacavir (as Ampicillin) 250 mg tablets) | API manufacturer
(including address) |
| --- | --- | --- | --- |
|  |  | {{ drug.name }} {{ drug.pharmacopoeia_standard }} {{ drug.strength }} {{ drug.dosage_form }} 

{{ drug.name }}  {{ drug.pharmacopoeia_standard }}……{{ drug.strength }}
Excipients: ……..q.s | {{ drug.name }} {{ drug.pharmacopoeia_standard }} 

{{ drug.molecular_formula }} {{ drug.molecular_formula }} {{ drug.molecular_formula }} {{ drug.molecular_formula }}
78 / A, Vengalrao Nagar,Hyderabad - 500038. Telangana State, {{ drug.molecular_formula }}.
Phone: + 91-40-4476 3666 / 2371 1717 / 2381 2046

Fax: + 91-40-2370 6696 / 2381 1576 / 44763636

Email: vasudha@vasudhapharma.com |

{# TABLE #}
| Name of API: | Name of API: | LOSARTAN POTASSIUM USP |
| --- | --- | --- |
|  |  | Name and address of Head Office:
{{ drug.molecular_formula }} {{ drug.molecular_formula }} {{ drug.molecular_formula }} {{ drug.molecular_formula }}
78 / A, Vengalrao Nagar,Hyderabad - 500038. Telangana State, {{ drug.molecular_formula }}.
Phone: + 91-40-4476 3666 / 2371 1717 / 2381 2046

Fax: + 91-40-2370 6696 / 2381 1576 / 44763636

Email: vasudha@vasudhapharma.com |
| Certificate of suitability to the {{ drug.pharmacopoeia_standard }} ({{ drug.molecular_formula }}) | Certificate of suitability to the {{ drug.pharmacopoeia_standard }} ({{ drug.molecular_formula }}) |  |
| Active pharmaceutical ingredient master file ({{ drug.molecular_formula }}) procedure:
{{ drug.molecular_formula }} number assigned by W.H.O (if known): _______ ; version number (and/or date) of the open part:             ; version number (and/or date) of the closed part | Active pharmaceutical ingredient master file ({{ drug.molecular_formula }}) procedure:
{{ drug.molecular_formula }} number assigned by W.H.O (if known): _______ ; version number (and/or date) of the open part:             ; version number (and/or date) of the closed part |  |
| Full details in the PD | Full details in the PD |  |

{# TABLE #}
| Name and address
		(including block(s)/unit(s)) | Responsibility | API-PQ number /APIMF/CEP number (if applicable) | Letter of access provided? |
| --- | --- | --- | --- |
| {{ drug.molecular_formula }} {{ drug.molecular_formula }} {{ drug.molecular_formula }} {{ drug.molecular_formula }}
78 / A, Vengalrao Nagar,Hyderabad - 500038. Telangana State, {{ drug.molecular_formula }}.
Phone: + 91-40-4476 3666 / 2371 1717 / 2381 2046

Fax: + 91-40-2370 6696 / 2381 1576 / 44763636

Email: vasudha@vasudhapharma.com | Production, Analysis And Packaging |  |  |

{# TABLE #}
| Losartan Potassium | Losartan Potassium | Losartan Potassium |
| --- | --- | --- |
| B.P | B.P | B.P |
| SP/RM/{{ drug.molecular_formula }}/ | SP/RM/{{ drug.molecular_formula }}/ | SP/RM/{{ drug.molecular_formula }}/ |
| Analytical procedure
(Type/Source/Version) | Analytical procedure
(Type/Source/Version) | Analytical procedure
(Type/Source/Version) |
|  |  |  |
|  |  |  |
|  |  |  |
|  |  |  |
|  |  |  |
|  |  |  |
|  |  |  |
|  |  |  |
|  |  |  |
|  |  |  |
|  |  |  |

{# TABLE #}
| Container closure system | Storage statement | Re-test period* |
| --- | --- | --- |
| Primary Packing Material- {{ drug.molecular_formula }} Bag. | {{ storage.storage_conditions }} a temperature below 30ºC. | A shelf life of five years have been proposed. |
| Secondary Packing Material- Corrugated Box. |  |  |

{# TABLE #}
| Component and quality standard (and grade, if applicable | Function | Strength (label claim) | Strength (label claim) | Strength (label claim) | Strength (label claim) |
| --- | --- | --- | --- | --- | --- |
| Component and quality standard (and grade, if applicable | Function |  |  |  |  |
| Component and quality standard (and grade, if applicable | Function | % | % | % | % |
| Core {{ drug.dosage_form }}. |  |  |  |  |  |
| {{ drug.name }} | Active | 29.41 | 29.41 | 29.41 | 29.41 |
| Starch | Binder | 14.7 | 14.7 | 14.7 | 14.7 |
| {{ drug.molecular_formula }} | Diluent | 23.52 | 23.52 | 23.52 | 23.52 |
| Lactose | Binder/Diluent | 25.88 | 25.88 | 25.88 | 25.88 |
| {{ drug.molecular_formula }} K30 | Binder | 3.52 | 3.52 | 3.52 | 3.52 |
| {{ drug.molecular_formula }} | Solvent/Preservative | 23.52 | 23.52 | 23.52 | 23.52 |
| {{ drug.molecular_formula }} | Disintegrant | 1.76 | 1.76 | 1.76 | 1.76 |
| Aerosil | Lubricant | 0.29 | 0.29 | 0.29 | 0.29 |
| Magnesium Stearate | Lubricant | 0.88 | 0.88 | 0.88 | 0.88 |
| Total |  | 100 | 100 | 100 | 100 |

{# TABLE #}
| Batch number(s) of the FPPs used in | Batch number(s) of the FPPs used in | Batch number(s) of the FPPs used in | Batch number(s) of the FPPs used in |
| --- | --- | --- | --- |
|  |  |  |  |
|  |  |  |  |
|  |  |  |  |
|  |  |  |  |
|  |  |  |  |
|  |  |  |  |
|  |  |  |  |
|  |  |  |  |
|  |  |  |  |
|  |  |  |  |
|  |  |  |  |
|  |  |  |  |
|  |  |  |  |
|  |  |  |  |
|  |  |  |  |
|  |  |  |  |

{# TABLE #}
| Component and quality standard (e.g. NF, BP, Ph.Eur, in-house) | Relevant batches | Relevant batches | Relevant batches | Relevant batches | Relevant batches | Relevant batches | Relevant batches | Relevant batches | Relevant batches | Relevant batches | Relevant batches |
| --- | --- | --- | --- | --- | --- | --- | --- | --- | --- | --- | --- |
| Component and quality standard (e.g. NF, {{ drug.pharmacopoeia_standard }}, Ph.Eur, in-house) |  |  |  |  |  |  |  |  |  |  |  |
| Component and quality standard (e.g. NF, {{ drug.pharmacopoeia_standard }}, Ph.Eur, in-house) |  |  |  |  |  |  |  |  |  |  |  |
| Component and quality standard (e.g. NF, {{ drug.pharmacopoeia_standard }}, Ph.Eur, in-house) | % | % | % | % | % | % | % | % | % | % | % |
| Core {{ drug.dosage_form }} (Layer 1, Layer 2, etc. as applicable) |  |  |  |  |  |  |  |  |  |  |  |
| {{ drug.name }} |  |  |  |  |  |  |  |  |  |  |  |
| Starch |  |  |  |  |  |  |  |  |  |  |  |
| {{ drug.molecular_formula }} |  |  |  |  |  |  |  |  |  |  |  |
| Lactose |  |  |  |  |  |  |  |  |  |  |  |
| {{ drug.molecular_formula }} K30 |  |  |  |  |  |  |  |  |  |  |  |
| {{ drug.molecular_formula }} |  |  |  |  |  |  |  |  |  |  |  |
| {{ drug.molecular_formula }} |  |  |  |  |  |  |  |  |  |  |  |
| Aerosil |  |  |  |  |  |  |  |  |  |  |  |
| Magnesium Stearate |  |  |  |  |  |  |  |  |  |  |  |
| Total |  |  |  |  |  |  |  |  |  |  |  |

{# TABLE #}
| Name and address
(include block(s)/unit(s)) | Responsibility |
| --- | --- |
| {{ manufacturer.name }}
Plot 6 Block H, {{ manufacturer.name }} Compound,
Oshodi Industrial Scheme,
Oshodi Lagos. | Manufacture of Me Cure’s {{ drug.name }}  {{ drug.pharmacopoeia_standard }} {{ drug.strength }} {{ drug.dosage_form }} |
| {{ manufacturer.name }}
Plot 6 Block H, {{ manufacturer.name }} Compound,
Oshodi Industrial Scheme,
Oshodi Lagos. | Packaging of Me Cure’s {{ drug.name }}  {{ drug.pharmacopoeia_standard }} {{ drug.strength }}  {{ drug.dosage_form }} |
| {{ manufacturer.name }}
Plot 6 Block H, {{ manufacturer.name }} Compound,
Oshodi Industrial Scheme,
Oshodi Lagos. | Distribution of Me Cure’s {{ drug.name }} {{ drug.pharmacopoeia_standard }}  {{ drug.strength }}   {{ drug.dosage_form }}. |

{# TABLE #}
| Strength (label claim) | Me Cure’s Losartan Potassium 50mg  USP |
| --- | --- |
| Master production document
reference number and/or version | ME/{{ drug.molecular_formula }}/2018 |
| Proposed commercial {{ batch_number }}(s) (e.g. number of dosage units) | 50,{{ storage.pack_size }} |
| Component and quality standard
(and grade, if applicable) | Quantity per batch (e.g. kg/batch) |
| < Me Cure’s {{ drug.name }} {{ drug.pharmacopoeia_standard }}  {{ drug.strength }} {{ drug.dosage_form }}  for {{ drug.route_of_administration }} use> |  |
| {{ drug.name }} | 2.500 |
| Starch | 1.250 |
| {{ drug.molecular_formula }} | 2.00 |
| Lactose | 2.200 |
| {{ drug.molecular_formula }} K30 | 0.300 |
| {{ drug.molecular_formula }} | 2.000 |
| {{ drug.molecular_formula }} | 0.150 |
| Aerosil | 0.025 |
| Magnesium Stearate | 0.075 |
| Total | 8.500 |

{# TABLE #}
| S/N | EQUIPMENT TYPE |
| --- | --- |
| 1. | Scoops, Containers |
| 2. | Sifter ( # 20, #40, # 60, #80, # 100) |
| 3. | Mass Mixer ( 20 kg ) |
| 4. | Multi Mill (10mm, 1.5mm, 2mm) |
| 5. | Roche Friability Test Apparatus |
| 6. | Fluid Bed Dryer |
| 7. | {{ drug.dosage_form }} Compression Machine |
| 8. | Platform and Double Pan Balance |
| 9. | Disintegration Test Apparatus |

{# TABLE #}
| Step
(e.g. granulation, compression, coating) | Controls (parameters/limits/frequency of testing) |
| --- | --- |
| Before Sifting | All raw materials must bear a Q.C ‘{{ drug.molecular_formula }}’ label and the stainless steel equipment must be cleaned. The temperature and humidity is ensured to be ≤ 27oC and between 35 to 65% respectively. |
| Sifting | It is ensured the right sifter no. is used for this operation. |
| Mixing and Milling | It is ensured this is done for the specified duration for this product. After the machine is stopped, the Q.C Dept. withdraws a sample for complete analysis having labeled the drum holding the blend with ‘{{ drug.molecular_formula }} {{ drug.molecular_formula }}’ label. |
| Compression/Inspection | The temperature and humidity is ensured to be ≤ 27oC and between 35 to 65% respectively. While compression is ongoing, a Q.A Officer ensures that the compressed {{ drug.dosage_form }} meet set specifications. |
| Coating | The temperature and humidity is ensured to be ≤ 27oC and between 35 to 65% respectively. While coating is ongoing, a Q.A Officer ensures that the coated {{ drug.dosage_form }} meet set specifications. |
|  |  |

{# TABLE #}
| Standard (e.g. Ph.Int., BP, USP, in-house) | Standard (e.g. Ph.Int., BP, USP, in-house) | Standard (e.g. Ph.Int., BP, USP, in-house) | B.P |
| --- | --- | --- | --- |
|  |  |  | SP/{{ drug.molecular_formula }}/ |
| Acceptance criteria
(shelf-life) | Acceptance criteria
(shelf-life) | Acceptance criteria
(shelf-life) | Analytical procedure
(type/source/version) |
|  |  |  | In-House |
|  |  |  | {{ drug.pharmacopoeia_standard }} |
| 170.{{ drug.strength }} ± 5.0 % ( 161.{{ drug.strength }} – 178.{{ drug.strength }} ) | 170.{{ drug.strength }} ± 5.0 % ( 161.{{ drug.strength }} – 178.{{ drug.strength }} ) | 170.{{ drug.strength }} ± 5.0 % ( 161.{{ drug.strength }} – 178.{{ drug.strength }} ) | {{ drug.pharmacopoeia_standard }} |
|  |  |  | {{ drug.pharmacopoeia_standard }} |
|  |  |  | {{ drug.pharmacopoeia_standard }} |
|  |  |  | {{ drug.pharmacopoeia_standard }} |
|  |  |  | {{ drug.pharmacopoeia_standard }} |
|  |  |  | {{ drug.pharmacopoeia_standard }} |
|  |  |  | {{ drug.pharmacopoeia_standard }} |
|  |  |  | {{ drug.pharmacopoeia_standard }} |

{# TABLE #}
| Description
(including materials of construction) | Strength | Unit count or fill size
(e.g. 60s, 100s etc.) | Container size
(e.g. 5 ml, 100 ml etc.) |
| --- | --- | --- | --- |
| Plastic container, Silica {{ drug.dosage_form }} bag, polyethylene bag, leaflet. | {{ drug.strength }} | 1 X {{ storage.pack_size }} | {{ storage.pack_size }} |

{# TABLE #}
| Container closure system | Storage statement | Shelf-life |
| --- | --- | --- |
| Plastic container, Silica {{ drug.dosage_form }} bag, polyethylene bag, leaflet. | {{ storage.storage_conditions }}. | 36 months |

{# TABLE #}
| col_0 |
| --- |
|  |

{# TABLE #}
| Parameter | Details | Details |
| --- | --- | --- |
| Storage condition(s) (◦C, % RH) |  |  |
| {{ batch_number }}(s) / {{ batch_number }}(s) |  |  |
| Tests and acceptance criteria | Blue coloured, circular biconvex {{ drug.dosage_form }} having embossed with “{{ drug.molecular_formula }}” on one side and “50” on the other side. | Blue coloured, circular biconvex {{ drug.dosage_form }} having embossed with “{{ drug.molecular_formula }}” on one side and “50” on the other side. |
| Tests and acceptance criteria | 170.{{ drug.strength }} ± 5.0 % 
( 161.{{ drug.strength }} – 178.{{ drug.strength }} ) | 170.{{ drug.strength }} ± 5.0 % 
( 161.{{ drug.strength }} – 178.{{ drug.strength }} ) |
| Tests and acceptance criteria |  |  |
| Tests and acceptance criteria | 45.{{ drug.strength }} – 55.{{ drug.strength }} 
( Limit : Not more less 95.00% and not more 105.00% of the labelled amount ) | 45.{{ drug.strength }} – 55.{{ drug.strength }} 
( Limit : Not more less 95.00% and not more 105.00% of the labelled amount ) |
| Testing frequency |  |  |
| Container closure system(s) |  |  |

{# TABLE #}
| Parameter | Details | Details |
| --- | --- | --- |
| Storage condition(s) (◦C, % RH) |  |  |
| {{ batch_number }}(s), annual allocation |  |  |
| Tests and acceptance criteria |  |  |
| Tests and acceptance criteria |  |  |
| Tests and acceptance criteria |  |  |
| Tests and acceptance criteria |  |  |
| Tests and acceptance criteria |  |  |
| Testing frequency |  |  |
| Container closure system(s) |  |  |

{# TABLE #}
| Date of revised version | Section (e.g. S.2.1) | Revision |
| --- | --- | --- |
|  |  |  |
|  |  |  |
|  |  |  |
