{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Glibenclamide 5mg
  Module: module1_admin
  Vars  : 2
#}

## {{ drug.molecular_formula }} OF {{ drug.molecular_formula }}

i     Cover Page

ii.   Protocol

Objective

Scope

Raw Material Testing

Process Description

Acceptance Criteria

Test Failure

Revalidation

Validation Report

List of Attachments

List of Raw Materials

Flow Chart for Processing

Sampling Plan

List of required Documents

Manufacturing Step: Mixing

Manufacturing Step: Granulation

Manufacturing Step: Drying

viii. (a-b) Manufacturing Step: Lubrication

ix. (a-c)   Manufacturing Step: Compression

Summary

Recommendation

{# TABLE #}
| col_0 | col_1 | col_2 | col_3 |
| --- | --- | --- | --- |
|  | {{ drug.molecular_formula }} BY | {{ drug.molecular_formula }} BY | {{ drug.molecular_formula }} BY |
| {{ drug.molecular_formula }} |  |  |  |
| {{ drug.molecular_formula }} |  |  |  |
| {{ drug.molecular_formula }} |  |  |  |
| {{ drug.molecular_formula }} |  |  |  |
