{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Telmisartan 40mg
  Module: module1_admin
  Vars  : 2
#}

## The types of buildings in the premises:

There are administrative block, Liquid factory, {{ drug.dosage_form }} and {{ drug.dosage_form }} factory, B-lactam factory, Quality control department building, and security gate at the site.
