{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Losartan Potassium 50mg
  Module: module1_admin
  Vars  : 0
#}

## Uses

One of the small scale uses of isopropanol is in cloud chambers. Isopropanol has ideal physical and chemical properties to form a supersaturated layer of vapor which can be condensed by particles of radiation

In 1990, 45,000 metric tonnes of isopropyl alcohol were used in the United States, mostly as a solvent for coatings or for industrial processes. In that year, 5400 metric tons were used for household purposes and in personal care products. Isopropyl alcohol is popular in particular for pharmaceutical applications, due to its low toxicity. Some isopropyl alcohol is used as a chemical intermediate. Isopropyl alcohol may be converted to acetone, but the cumene process is more significant. It is also used as a gasoline additive.
