{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Amlodipine 5mg
  Module: module5_efficacy
  Vars  : 2
#}

## 14.3 Effects in Vasospastic Angina

In a double-blind, placebo-controlled clinical trial of 4 weeks duration in 50 patients, {{ drug.molecular_formula }} therapy decreased attacks by approximately 4/week compared with a placebo decrease of approximately 1/week (p<0.01). Two of 23 {{ drug.molecular_formula }} and 7 of 27 placebo patients discontinued from the study due to lack of clinical improvement.
