{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Telmisartan 40mg
  Module: module5_efficacy
  Vars  : 2
#}

## 1.4 Regional Summaries

1.4.1 Bioequivalence trial information form ({{ drug.molecular_formula }}):  Not Applicable

1.4.2 Quality information summary ({{ drug.molecular_formula }}): Attached
