{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Telmisartan 40mg
  Module: module5_efficacy
  Vars  : 1
#}

## 2.3.R.1.1 Executed Production Documents

List of batches (including strengths) for which executed production documents have been provided (e.g. comparative bioavailability or biowaiver batches):

Executed production documents, {{ drug.molecular_formula }} is enclosed in Module 3, Section 3.2.R.1.1
