{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Telmisartan 40mg
  Module: module5_efficacy
  Vars  : 13
#}

## 4.2.1.4 Pharmacodynamic Drug Interactions

{{ drug.name }} {{ drug.dosage_form }} is not covered under new chemical entities or biological product, therefore this section of Non-Clinical Study Reports is not applicable for this product.

AS {{ drug.molecular_formula }} {{ drug.molecular_formula }} {{ drug.molecular_formula }} {{ drug.molecular_formula }} {{ drug.molecular_formula }} {{ drug.molecular_formula }} {{ drug.molecular_formula }}, {{ drug.molecular_formula }} {{ drug.molecular_formula }} IS {{ drug.molecular_formula }} {{ drug.molecular_formula }}
