{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Telmisartan 40mg
  Module: module5_efficacy
  Vars  : 0
#}

## 5.2 Tabular Listing of all clinical studies

Enclosed

{# TABLE #}
| Sr. No. | Name of Clinical Study |
| --- | --- |
|  | Determination of relative Bioavailability of a locally manufactured {{ drug.name }} {{ drug.dosage_form }} using Angiotensin II (AT1) receptor antagonist. data |
|  | Comparative Assessment of The Physicochemical and In-Vitro Bioavailability Equivalence of {{ drug.name }} {{ drug.dosage_form }} Marketed in Tigray, Ethiopia |
|  | Simultaneous in vitro and in vivo evaluation of {{ drug.name }} from certain dosage forms. |
|  | Bioequivalence study of three generic formulations of {{ drug.name }} {{ drug.dosage_form }} in human. |
