{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Telmisartan 40mg
  Module: module5_efficacy
  Vars  : 0
#}

## 5.3.5.2 Study Reports of Uncontrolled Clinical Studies References

5.3.5.3 Reports of Analyses of Data from more than one study, including any formal integrated analyses, meta-analyses, and bridging analyses
