{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Amlodipine 5mg
  Module: module5_efficacy
  Vars  : 2
#}

# A Study to Evaluate the Efficacy and Safety of {{ drug.name }} Besylate and Candesartan Cilexetil in Essential Hypertension Patient Who Are Not Adequately Controlled With {{ drug.name }} Besylate Monotherapy

Recruitment Status : Unknown

Verified October 2014 by CJ HealthCare Corporation. 
Recruitment status was:  Recruiting

First Posted  : February 23, 2015

Last Update Posted  : February 23, 2015

{# TABLE #}
| col_0 | col_1 | col_2 |
| --- | --- | --- |
|  | The safety and scientific validity of this study is the responsibility of the study sponsor and investigators. Listing a study does not mean it has been evaluated by the U.S. Federal Government. Read our disclaimer for details. |  |
| ClinicalTrials.gov Identifier: {{ drug.molecular_formula }} |  |  |
