{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Losartan Potassium 50mg
  Module: module5_efficacy
  Vars  : 6
#}

##### Absorption

Following {{ drug.route_of_administration }} administration, Losartan is well absorbed and undergoes substantial first-pass metabolism. The systemic bioavailability of Losartan is approximately 33%. Mean peak concentrations of Losartan and its active metabolite are reached in 1 hour and in 3-4 hours, respectively. While maximum plasma concentrations of Losartan and its active metabolite are approximately equal, the {{ drug.molecular_formula }} (area under the curve) of the metabolite is about 4 times as great as that of Losartan. A meal slows absorption of Losartan and decreases its Cmax but has only minor effects on Losartan {{ drug.molecular_formula }} or on the {{ drug.molecular_formula }} of the metabolite (~10% decrease). The pharmacokinetics of Losartan and its active metabolite are linear with {{ drug.route_of_administration }} Losartan doses up to {{ drug.strength }} and do not change over time.
