{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Metformin Hydrochloride 500mg
  Module: module5_efficacy
  Vars  : 0
#}

## Acknowledgement

The authors appreciate the facilitators and program coordinators of the bioequivalence online course organized by Karolinska Institute. The commitment of the subjects who participated in the in vivo study and the technical input of Babajide Shenkoya and Toyin in drug analysis are gratefully recognized.
