{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Telmisartan 40mg
  Module: module5_efficacy
  Vars  : 3
#}

### {{ drug.pharmacopoeia_standard }} measurements

At each visit {{ drug.pharmacopoeia_standard }} and heart rate were measured with patients in the seated position after 5 min of rest. The {{ drug.pharmacopoeia_standard }} was taken as the average of two readings obtained 2 min apart. Clinical evaluations were done at each visit and documented both in the patient's medical chart and in the case report form. If at any time the investigator determined that continued study participation could jeopardize a patient's well-being or safety, the patient was to be discontinued from the study.
