{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Metformin Hydrochloride 500mg
  Module: module5_efficacy
  Vars  : 0
#}

## Children and adolescents:

The diagnosis of type 2 diabetes mellitus should be confirmed before treatment with Metformin is initiated.

No effect of Metformin on growth and puberty has been detected during controlled clinical studies of one-year duration but no long-term on these specific points are available.

Therefore, a careful follow-up of the effect of Metformin on these parameters in Metformin-treated children, especially pre-pubescent children, is recommended

Children aged between 10 to 12 years:

Only 15 subjects aged between 10 and 12 years were included in the controlled clinical studies conducted in children and adolescents. Although Metformin efficacy and safety in children below 12 did not differ from efficacy and safety in older children, particular caution is recommended when prescribing to children aged between 10 and 12 years.
