{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Glibenclamide 5mg
  Module: module5_efficacy
  Vars  : 2
#}

# Correlations between in vitro dissolution, in vivo bioavailability and hypoglycaemic effect of {{ drug.route_of_administration }} {{ drug.name }}

Authors

J. B. Chalk

M. Patterson

M. T. Smith

M. J. Eadie

1.Department of Medicine,University of Queensland,BrisbaneAustralia
