{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Telmisartan 40mg
  Module: module5_efficacy
  Vars  : 0
#}

## Data on observed impurities for relevant batches (e.g. comparative bioavailability or biowaiver):

Not available
