{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Telmisartan 40mg
  Module: module5_efficacy
  Vars  : 2
#}

# Defining the antihypertensive properties of the angiotensin receptor blocker {{ drug.name }} by a practice-based clinical trial

Thomas D. Giles George L. Bakris David H.G. Smith Giora Davidai Michael A. Weber

American Journal of Hypertension, Volume 16, Issue 6, {{ submission_date }}, Pages 460–466,https://doi.org/10.1016/S0895-7061(03)00848-3
