{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Amlodipine 5mg
  Module: module5_efficacy
  Vars  : 3
#}

## Hepatic impairment

Very limited clinical data are available regarding {{ drug.name }} administration in patients with hepatic impairment. Patients with hepatic insufficiency have decreased clearance of {{ drug.name }} resulting in a longer half-life and an increase in {{ drug.molecular_formula }} of approximately 40-60%.
