{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Telmisartan 40mg
  Module: module5_efficacy
  Vars  : 0
#}

### Investigators

The study was performed by 703 community-based physicians who responded to invitations to participate in the trial. These physicians, most of whom had not previously participated in formal clinical research protocols, were provided careful instruction in conducting a trial of this type, including identification of suitable patients, the need for rigorous and accurate completion of the case report forms, and the appropriate rules for obtaining informed consent. Most of the participating physicians sites were approved by a central Institutional Review Board, although a small number of investigators with academic or hospital affiliations obtained approval from their local Institutional Review Boards.
