{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Telmisartan 40mg
  Module: module5_efficacy
  Vars  : 2
#}

#### Keywords

{{ drug.name }}; Bioequivalence; Bioavailability; Pharmacokinetics; {{ drug.molecular_formula }}; Fluorescence
