{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Telmisartan 40mg
  Module: module5_efficacy
  Vars  : 1
#}

#### Limitations

As with any clinical trial, and in particular for most bioavailability studies, these studies have some limitations that should be considered. First, this is a single-blind study, so it might not objectively address the effectiveness and safety profiles of the formulations tested. The data were obtained from healthy subjects, in accordance with regulatory requirements [9], within a specific gender (male) and age range, who were administered a single dose; the PK parameters might differ in target populations. For example, differences in absorption, distribution, metabolism and excretion of the drug might exist in patients, with respect to healthy subjects. Thus, the results of these studies might not be generalizable to a target population.

In addition, these studies were conducted under fasting conditions because the bioavailability of {{ drug.name }} has been reported not to be significantly affected by the concomitant intake of food [4]. However, further studies would be useful in assessing the effect of food on the bioavailability of this drug for a target population.

Because of the limited data (small sample size, single dose, healthy male subjects, age range, and fasting conditions) in the present studies, we are unable to predict the response of the drug at any time following alternative doses and/or administration intervals with the present dataset. Further studies are needed to compare the test formulations with the reference formulations in Mexican patient groups. The results of these studies might serve as a reference for future controlled studies of the drug in the Hispanic population.
