{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Metformin Hydrochloride 500mg
  Module: module5_efficacy
  Vars  : 1
#}

## Methods

Metformin {{ drug.dosage_form }} selected from the Nigerian market were appraised for quality following British and United States Pharmacopoeia guidelines. In vivo bioequivalence study in healthy volunteers was applied for a generic and the innovator brand in an open-label, 2-arm, 2-treatment crossover fashion with a 1-week washout period. Blood samples were collected at 0, 0.5, 1, 1.5, 2, 3, 4, 6, 8, 10 and 24 h post-dose. Plasma concentrations of metformin were analysed using a validated high-performance liquid chromatography method, and pharmacokinetic parameters were obtained using the non-compartmental approach. The formulations were considered bioequivalent based on the guidelines by United States Food and Drug Administration, Centre for Drug Evaluation and Research.
