{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Losartan Potassium 50mg
  Module: module5_efficacy
  Vars  : 8
#}

#### {{ drug.molecular_formula }}:

To study the bioequivalence of {{ drug.name }} {{ drug.dosage_form }} {{ drug.strength }} manufactured by {{ manufacturer.name }}. India to Cozaar® {{ drug.dosage_form }} {{ drug.strength }}, manufactured by Merck Sharp and {{ manufacturer.name }}., UK in normal healthy adult subjects under fasting condition along with the comparative safety evaluation of both treatments.
