{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Amlodipine 5mg
  Module: module5_efficacy
  Vars  : 14
#}

## Patients with Heart Failure

Haemodynamic studies and exercise based controlled clinical trials in {{ drug.molecular_formula }} Class II-IV heart failure patients have shown that {{ drug.name }} did not lead to clinical deterioration as measured by exercise tolerance, left ventricular ejection fraction and clinical symptomatology.

A placebo controlled study ({{ drug.molecular_formula }}) designed to evaluate patients in {{ drug.molecular_formula }} Class {{ drug.molecular_formula }}-IV heart failure receiving digoxin, diuretics and {{ drug.molecular_formula }} inhibitors has shown that {{ drug.name }} did not lead to an increase in risk of mortality or combined mortality and morbidity with heart failure.

In a follow-up, long term, placebo controlled study ({{ drug.molecular_formula }} 2) of {{ drug.name }} in patients with {{ drug.molecular_formula }} {{ drug.molecular_formula }} and IV heart failure without clinical symptoms or objective findings suggestive or underlying ischaemic disease, on stable doses of {{ drug.molecular_formula }} inhibitors, digitalis, and diuretics, {{ drug.name }} had no effect on total cardiovascular mortality. In this same population {{ drug.name }} was associated with increased reports of pulmonary oedema.
