{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Amlodipine 5mg
  Module: module5_efficacy
  Vars  : 2
#}

## Study Description

Brief Summary:

Compare the safety and efficacy of {{ drug.name }} besylate and candesartan cilexetil combination therapy on patients of essential hypertension who are not properly controlled by {{ drug.name }} besylate monotherapy.

{# TABLE #}
| Condition or disease | Intervention/treatment | Phase |
| --- | --- | --- |
| Essential Hypertension | Drug: {{ drug.name }} 5mgDrug: {{ drug.name }} {{ drug.strength }}, Candesartan cilexetil {{ drug.strength }}
Drug: {{ drug.name }} {{ drug.strength }}, Candesartan cilexetil {{ drug.strength }} | Phase 3 |
