{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Telmisartan 40mg
  Module: module5_efficacy
  Vars  : 8
#}

## Table 1

Clinical characteristics of patients completing study (N = 2716)

{{ drug.pharmacopoeia_standard }} = blood pressure.

{{ drug.pharmacopoeia_standard }} effects

The effects on {{ drug.pharmacopoeia_standard }} and heart rate of treatment with {{ drug.name }} during the whole 6-week study protocol are summarized in Fig. 1 for the patients as a whole as well as for the principal groups: those who were untreated at baseline, treated but uncontrolled, or treated and controlled. For the patients as a whole, as well as the previously untreated and treated but uncontrolled groups, there were significant decreases in systolic and diastolic {{ drug.pharmacopoeia_standard }} (P < .001). Decreases in heart rate were small but also significant for the patients as a whole and the previously untreated patients. In the small group of patients whose {{ drug.pharmacopoeia_standard }} were well controlled on other antihypertensive agents, and who were switched to {{ drug.name }} at baseline, there were minimal increases in systolic and diastolic {{ drug.pharmacopoeia_standard }}.

{# TABLE #}
| Characteristics | Value |
| --- | --- |
| Mean age (y) | 55.6 ± 13.9 (80) |
| Male/female (%) | 49.3/50.7 |
| Ethnicity |  |
| White | 2066 (76.2%) |
| African American | 361 (13.3%) |
| Other | 284 (10.5%) |
| Baseline BPs (N) |  |
| All patients | 2716 (152.0/93.3 mm Hg) |
| Untreated at entry | 1957 (153.2/94.5 mm Hg) |
| Treated, controlled | 63 (127.1/77.4 mm Hg) |
| Treated, uncontrolled | 683 (152.8/91.5 mm Hg) |
