{#
  Source: sample_dossier.docx
  Drug  : Amoxicillin 500mg
  Module: module1_admin
  Vars  : 7
#}

## 1.1 Cover Letter

This application is submitted by {{ manufacturer.name }} for the registration of {{ drug.name }} {{ drug.strength }} {{ drug.dosage_form }} with the National Agency for Food and Drug Administration and Control ({{ drug.molecular_formula }}). The product is manufactured at Plot 20, Murtala Mohammed Airport Road, Lagos, Nigeria. The manufacturer holds a valid {{ drug.molecular_formula }} certificate issued on {{ submission_date }}, valid until {{ submission_date }}.
