{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Losartan Potassium 50mg
  Module: module4_safety
  Vars  : 0
#}

### Citation

Pharmacogenomics knowledge for personalized medicine. Clinical pharmacology and therapeutics. 2012. Whirl-Carrillo M, McDonagh E M, Hebert J M, Gong L, Sangkuhl K, Thorn C F, Altman R B, and Klein T E.
