{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Losartan Potassium 50mg
  Module: module4_safety
  Vars  : 3
#}

## Pharmacology:

Losartan is the potassium salt form of Losartan, a non-peptide angiotensin II antagonist with antihypertensive activity. {{ drug.name }} selectively and competitively blocks the binding of angiotensin II to the angiotensin I (AT1) receptor. Angiotensin II, formed from angiotensin I by angiotensin-converting enzyme ({{ drug.molecular_formula }}), stimulates the adrenal cortex to synthesize and secrete aldosterone, which decreases the excretion of sodium and increases the excretion of potassium. Angiotensin II also acts as a vasoconstrictor in vascular smooth muscle. {{ drug.name }}, by blocking the binding of angiotensin II to the AT 1 receptor, promotes vasodilatation and decreases the effects of aldosterone.
