{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Telmisartan 40mg
  Module: module5_pil_smpc
  Vars  : 17
#}

## 4.2 Posology and method of administration

Posology

Treatment of essential hypertension

The usually effective dose is {{ drug.strength }} once daily. Some patients may already benefit at a daily dose of {{ drug.strength }}. In cases where the target blood pressure is not achieved, the dose of {{ drug.name }} can be increased to a maximum of {{ drug.strength }} once daily. Alternatively, {{ drug.name }} may be used in combination with thiazidetype diuretics such as hydrochlorothiazide which has been shown to have an additive blood pressure lowering effect with {{ drug.name }}. When considering raising the dose, it must be borne in mind that the maximum antihypertensive effect is generally attained four to eight weeks after the start of treatment (see section 5.1).

Cardiovascular prevention

The recommended dose is {{ drug.strength }} once daily. It is not known whether doses lower than {{ drug.strength }} of {{ drug.name }} are effective in reducing cardiovascular morbidity.

When initiating {{ drug.name }} therapy for the reduction of cardiovascular morbidity, close monitoring of blood pressure is recommended, and if appropriate adjustment of medications that lower blood pressure may be necessary.

Special populations

Patients with renal impairment

Limited experience is available in patients with severe renal impairment or haemodialysis. A lower starting dose of {{ drug.strength }} is recommended in these patients (see section 4.4). No posology adjustment is required for patients with mild to moderate renal impairment.

Patients with hepatic impairment

{{ drug.name }} Actavis is contraindicated in patients with severe hepatic impairment (see section 4.3).

In patients with mild to moderate hepatic impairment the posology should not exceed {{ drug.strength }} once daily (see section 4.4).

Elderly patients

No dose adjustment is necessary for elderly patients.

Paediatric population

The safety and efficacy of {{ drug.name }} in children and adolescents aged below 18 years have not been established.

Currently available data are described in section 5.1 and 5.2 but no recommendation on a posology can be made.

Method of administration

{{ drug.name }} {{ drug.dosage_form }} are for once-daily {{ drug.route_of_administration }} administration and should be taken with liquid, with or without food.
