{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Telmisartan 40mg
  Module: module5_pil_smpc
  Vars  : 3
#}

## 4.3 Contraindications

- Hypersensitivity to the active substance or to any of the excipients listed in section 6.1

- Second and third trimesters of pregnancy (see sections 4.4 and 4.6)

- Biliary obstructive disorders

- Severe hepatic impairment

The concomitant use of {{ drug.name }} Actavis with aliskiren-containing products is contraindicated in patients with diabetes mellitus or renal impairment ({{ drug.molecular_formula }} < {{ drug.strength }}/min/1.73 m2) (see sections 4.5 and 5.1).
