{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Telmisartan 40mg
  Module: module5_pil_smpc
  Vars  : 6
#}

## 4.8 Undesirable effects

Summary of the safety profile

Serious adverse drug reactions include anaphylactic reaction and angioedema which may occur rarely (≥1/10,000 to <1/1,000), and acute renal failure.

The overall incidence of adverse reactions reported with {{ drug.name }} was usually comparable to placebo (41.4% vs 43.9%) in placebo controlled trials in patients treated for hypertension. The incidence of adverse reactions was not dose related and showed no correlation with gender, age or race of the patients. The safety profile of {{ drug.name }} in patients treated for the reduction of cardiovascular morbidity was consistent with that obtained in hypertensive patients.

The adverse reactions listed below have been accumulated from controlled clinical trials in patients treated for hypertension and from post-marketing reports. The listing also takes into account serious adverse reactions and adverse reactions leading to discontinuation reported in three clinical long-term studies including 21642 patients treated with {{ drug.name }} for the reduction of cardiovascular morbidity for up to six years.

Tabulated list of adverse reactions

Adverse reactions have been ranked under headings of frequency using the following convention: very common (≥ 1/10); common (≥ 1/100 to < 1/10); uncommon (≥ 1/1,000 to < 1/100); rare (≥ 1/10,000 to < 1/1,000); very rare (< 1/10,000).

Within each frequency grouping, adverse reactions are presented in order of decreasing seriousness.

1,2,3,4: for further descriptions, please see sub-section 4 ”Description of selected adverse reactions”.

Description of selected adverse reactions

Sepsis

In the Profess trial, an increased incidence of sepsis was observed with {{ drug.name }} compared with placebo. The event may be a chance finding or related to a mechanism currently not known (see also section 5.1).

Hypotension

This adverse reaction was reported as common in patients with controlled blood pressure who were treated with {{ drug.name }} for the reduction of cardiovascular morbidity on top of standard care.

Hepatic function abnormal / liver disorder

Most cases of hepatic function abnormal / liver disorder from post-marketing experience occurred in Japanese patients. Japanese patients are more likely to experience these adverse reactions.

Interstitial lung disease

Cases of interstitial lung disease have been reported from post-marketing experience in temporal association with the intake of {{ drug.name }}. However, a causal relationship has not been established.

Reporting of suspected adverse reactions

Reporting suspected adverse reactions after authorisation of the medicinal product is important. It allows continued monitoring of the benefit/risk balance of the medicinal product. Healthcare professionals are asked to report any suspected adverse reactions via the Yellow Card Scheme Website: www.mhra.gov.uk/yellowcard

{# TABLE #}
| col_0 | col_1 | col_2 |
| --- | --- | --- |
| Infections and infestations |  |  |
| Uncommon:
Rare: | Urinary tract infection including cystitis, upper respiratory tract infection including pharyngitis and sinusitis
Sepsis including fatal outcome |  |
| Blood and the lymphatic system disorders |  |  |
| Uncommon: |  | Anaemia |
| Rare: |  | Eosinophilia, thrombocytopenia |
| Immune system disorders |  |  |
| Rare: |  | Anaphylactic reaction , hypersensitivity |
| Metabolism and nutrition disorders |  |  |
| Uncommon: |  | Hyperkalaemia |
| Rare: |  | Hypoglycaemia (in diabetic patients) |
| Psychiatric disorders |  |  |
| Uncommon: |  | Insomnia, depression |
| Rare: |  | Anxiety |
| Nervous system disorders |  |  |
| Uncommon: |  | Syncope |
| Rare: |  | Somnolence |
| Eye disorders |  |  |
| Rare: |  | Visual disturbance |
| Ear and labyrinth disorders |  |  |
| Uncommon: |  | Vertigo |
| Cardiac disorders |  |  |
| Uncommon: |  | Bradycardia |
| Rare: |  | Tachycardia |
| Vascular disorders |  |  |
| Uncommon: |  | Hypotension, orthostatic hypotension |
| Respiratory, thoracic and mediastinal disorders |  |  |
| Uncommon: |  | Dyspnoea, cough |
| Very rare: |  | Interstitial lung disease4 |
| Gastrointestinal disorders |  |  |
| Uncommon:
Rare: |  | Abdominal pain, diarrhoea, dyspepsia, flatulence, vomiting
Dry mouth, stomach discomfort, dysgeusia |
| Hepatobiliary disorders |  |  |
| Rare: |  | Hepatic function abnormal/liver disorder3 |
| Skin and {{ drug.route_of_administration }} tissue disorders |  |  |
| Uncommon:
Rare: |  | Pruritus, hyperhidrosis, rash
Angioedema (also with fatal outcome), eczema, erythema, urticaria, drug eruption, toxic skin eruption |
| Muscoloskeletal and connective tissue disorders |  |  |
| Uncommon:
Rare: |  | Back pain (e.g. sciatica), muscle spasms, myalgia
Arthralgia, pain in extremity, tendon pain (tendinitis like symptoms) |
| Renal and urinary disorders |  |  |
| Uncommon: |  | Renal impairment including acute renal failure |
| General disorders and administration site conditions |  |  |
| Uncommon:
Rare: |  | Chest pain, asthenia (weakness)
Influenza-like illness |
| Investigations |  |  |
| Uncommon: |  | Blood creatinine increased |
| Rare: |  | Haemoglobin decreased, blood uric acid increased, hepatic enzyme increased, blood creatine phosphokinase increased |
