{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Telmisartan 40mg
  Module: module5_pil_smpc
  Vars  : 0
#}

## (a)	Summary of product information:

{# TABLE #}
| Non-proprietary name of the finished pharmaceutical product (FPP) | Telmisartan 40 mg  BP | Telmisartan 40 mg  BP | Telmisartan 40 mg  BP |
| --- | --- | --- | --- |
| Proprietary name of the finished pharmaceutical product ({{ drug.molecular_formula }}) |  |  |  |
| International non-proprietary name(s) of the active pharmaceutical ingredient(s) ({{ drug.molecular_formula }}(s)), including form (salt, hydrate, polymorph) |  |  |  |
| Applicant name and address |  |  |  |
| Dosage form |  |  |  |
| Reference Number(s) |  |  |  |
| Strength(s) |  |  |  |
| Route of administration |  |  |  |
| Proposed indication(s) |  |  |  |
| Contact information |  |  |  |
