{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Glibenclamide 5mg
  Module: module5_pil_smpc
  Vars  : 1
#}

## Method of Administration:

{{ drug.route_of_administration }}.

With or immediately after breakfast or the first main meal.
