{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Glibenclamide 5mg
  Module: module5_pil_smpc
  Vars  : 8
#}

## Posology

Treatment of previously untreated diabetes:

Stabilisation can be started with one {{ drug.strength }} {{ drug.dosage_form }} daily with or immediately after breakfast or the first main meal. If control is satisfactory one {{ drug.dosage_form }} is continued as the maintenance dose. If control is unsatisfactory, the dose can be adjusted by increments of 2.5 or {{ drug.strength }} at weekly intervals. The total daily dosage rarely exceeds {{ drug.strength }} and increasing the daily dosage above this does not generally produce any additional affect.

The total daily requirement should normally be given as a single dose at breakfast, or with the first main meal. The patient’s diet and activity should be taken into account.

Children: {{ drug.name }} is not recommended for use in children.

In debilitated patients who may be more liable to hypoglycaemia, treatment should be initiated with one 2.{{ drug.strength }} {{ drug.dosage_form }} daily.
