{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Telmisartan 40mg
  Module: module5_pil_smpc
  Vars  : 2
#}

## {{ drug.molecular_formula }} {{ drug.molecular_formula }}

{# TABLE #}
| Proprietary Name/Trade name | MECURE’S TELMISARTAN  TABLETS |
| --- | --- |
| Generic Name | {{ drug.name }} {{ drug.dosage_form }} {{ drug.strength }} |
| {{ drug.molecular_formula }} of {{ manufacturer.name }} Ingredient | {{ drug.name }} B.P. |
| Strength | {{ drug.name }} B.P. {{ drug.strength }} |
| Dosage form | {{ drug.dosage_form }} |
| Product description | A white, oval {{ drug.dosage_form }}   having   embossed with “{{ drug.molecular_formula }}” on one side and “40” on the other side. |
| Packing | Jar {{ storage.pack_size }} {{ drug.dosage_form }} |
| Storage condition | {{ storage.storage_conditions }}. Protect from light. |
| Shelf life | 36 months |
| Manufacturer | ME {{ drug.molecular_formula }} {{ drug.molecular_formula }} {{ drug.molecular_formula }} |
| Address |  |
| Administrative office | ME {{ drug.molecular_formula }} {{ drug.molecular_formula }} {{ drug.molecular_formula }}
Plot 6, Block H, 
Oshodi Industrial Scheme, Oshodi, Lagos. |
| Plant | ME {{ drug.molecular_formula }} {{ drug.molecular_formula }} {{ drug.molecular_formula }}
Plot 6, Block H, 
Oshodi Industrial Scheme, Oshodi, Lagos. |

{# TABLE #}
| Brand Name | MECURE’S AMLODIPINE TABLETS |
| --- | --- |
| Generic Name | {{ drug.name }} {{ drug.dosage_form }} {{ drug.strength }} |
| Dosage form | {{ drug.dosage_form }} |
| Strength | {{ drug.name }} {{ drug.strength }} |
| Route of Administration | {{ drug.route_of_administration }} |
| Visual description | A white, oval {{ drug.dosage_form }}   having   embossed with “{{ drug.molecular_formula }}” on one side and “40” on the other side. |
| Therapeutic category | Antihypertensive |
| Indication | Hypertension.
Cardiac risk reduction. |
| Packing | Jar {{ storage.pack_size }} {{ drug.dosage_form }} |
| Shelf life | 36 months |
