{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Glibenclamide 5mg
  Module: module5_pil_smpc
  Vars  : 10
#}

# {{ drug.molecular_formula }} {{ drug.molecular_formula }} OF {{ drug.molecular_formula }} {{ drug.molecular_formula }} – for W.H.O use

Important note: The product information is an essential part of the medicinal product. The {{ drug.molecular_formula }} and {{ drug.molecular_formula }} published with the W.H.O {{ drug.molecular_formula }} have been quality assured by W.H.O experts and reflect the situation at the time of publication of the W.H.O {{ drug.molecular_formula }}. These texts, i.e. the {{ drug.molecular_formula }} and the {{ drug.molecular_formula }} are prequalified and should be adhered to. Generally, a deviation from the prequalified product information (especially as to contents) means the product can no longer be considered to be prequalified.
