{#
  Source: sample_dossier.docx
  Drug  : Amoxicillin 500mg
  Module: module5_pil_smpc
  Vars  : 4
#}

### 4.2 Posology and Method of Administration

Adults and children over 40kg: {{ drug.strength }} to {{ drug.strength }} three times daily.
Children under 40kg: {{ drug.strength }}/kg/day in divided doses.
Duration of treatment: 5 to 7 days in most cases.
Route: {{ drug.route_of_administration }}.
