{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Losartan Potassium 50mg
  Module: unclassified
  Vars  : 3
#}

## 1.6 Samples (e.g. {{ drug.molecular_formula }}, Device(s), Certificates of Analysis)

One {{ drug.molecular_formula }} Sample with Certificates of Analysis ({{ drug.molecular_formula }}) has been provided to the Agency.
