{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Telmisartan 40mg
  Module: unclassified
  Vars  : 2
#}

## 2.3.P.2.6 Compatibility

Discussion of the compatibility of the {{ drug.molecular_formula }} (e.g. with reconstitution diluent(s) or dosage devices, co-administered {{ drug.molecular_formula }}):

Not applicable
