{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Telmisartan 40mg
  Module: unclassified
  Vars  : 1
#}

## 2.3.P.2.2.3 Physicochemical and Biological Properties

Discussion of the parameters relevant to the performance of the {{ drug.molecular_formula }} (e.g. pH, ionic strength, dissolution, particle size distribution, polymorphism, rheological properties):

Details about the Physicochemical and biological properties are attached in 3.2.P.2 of module 3.

{# TABLE #}
| Standard (e.g. Ph.Int., BP, USP, in-house) | Standard (e.g. Ph.Int., BP, USP, in-house) | Standard (e.g. Ph.Int., BP, USP, in-house) | B.P |
| --- | --- | --- | --- |
|  |  |  | SP/{{ drug.molecular_formula }}/ |
| Acceptance criteria
(shelf-life) | Acceptance criteria
(shelf-life) | Acceptance criteria
(shelf-life) | Analytical procedure
(type/source/version) |
|  |  |  | In- House |
|  |  |  | {{ drug.pharmacopoeia_standard }} |
|  |  |  | {{ drug.pharmacopoeia_standard }} |
|  |  |  | {{ drug.pharmacopoeia_standard }} |
|  |  |  | {{ drug.pharmacopoeia_standard }} |
|  |  |  | {{ drug.pharmacopoeia_standard }} |
|  |  |  | {{ drug.pharmacopoeia_standard }} |
|  |  |  | {{ drug.pharmacopoeia_standard }} |
|  |  |  | {{ drug.pharmacopoeia_standard }} |
|  |  |  |  |
|  |  |  | {{ drug.pharmacopoeia_standard }} |
