{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Telmisartan 40mg
  Module: unclassified
  Vars  : 4
#}

## 2.3.P.2.1.1 {{ manufacturer.name }} Ingredient

Recommended) International Non-proprietary name ({{ drug.molecular_formula }}): {{ drug.name }}

Compendial name, if relevant: {{ drug.name }}

Chemical name(s): 2-[4-[[4-methyl-6-(1-methylbenzimidazol-2-yl)-2-propylbenzimidazol-1-yl]methyl]phenyl]benzoic acid
