{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Glibenclamide 5mg
  Module: unclassified
  Vars  : 8
#}

#### 2.3.P.3.2 {{ batch_number }}

Largest intended commercial {{ batch_number }}: 50,{{ storage.pack_size }}

Other intended commercial {{ batch_number }}:

<information on all intended commercial {{ batch_number }} should be in the {{ drug.molecular_formula }}>

(a)	List of all components of the {{ drug.molecular_formula }} to be used in the manufacturing process and their amounts on a per {{ batch_number }} (including components of mixtures prepared in-house (e.g. coatings) and overages, if any):

{# TABLE #}
| Strength (label claim) | Me Cure’s Glibenclamide 5 mg  BP |
| --- | --- |
| Master production document
reference number and/or version | ME/{{ drug.molecular_formula }}/2018 |
| Proposed commercial {{ batch_number }}(s) (e.g. number of dosage units) | 50,{{ storage.pack_size }} |
| Component and quality standard
(and grade, if applicable) | Quantity per batch (e.g. kg/batch) |
| < Me Cure’s {{ drug.name }} {{ drug.strength }}  {{ drug.pharmacopoeia_standard }} for {{ drug.route_of_administration }} use> |  |
| {{ drug.name }} | 0.250 |
| Starch | 1.75 |
| Lactose | 4.00 |
| {{ drug.molecular_formula }} | 1.500 |
| {{ drug.molecular_formula }} | 1.500 |
| {{ drug.molecular_formula }} K30 | 0.300 |
| Magnesium Stearate | 0.050 |
| Talcum | 0.100 |
| {{ drug.molecular_formula }} | 0.500 |
| Total | 9.95 |
