{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Telmisartan 40mg
  Module: unclassified
  Vars  : 2
#}

## 2.3.R.1.2 Master Production Documents

(a)	The blank master production documents for each strength, proposed commercial {{ batch_number }} and manufacturing facility should be provided in Module 3.

The blank master production documents for proposed {{ batch_number }} are presented in

module 3.2.R.1.2
