{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Amlodipine 5mg
  Module: unclassified
  Vars  : 11
#}

## 4.2.1.4 Pharmacodynamic Drug Interactions

AS {{ drug.molecular_formula }} {{ drug.molecular_formula }} {{ drug.molecular_formula }} {{ drug.molecular_formula }} {{ drug.molecular_formula }} {{ drug.molecular_formula }} {{ drug.molecular_formula }}, {{ drug.molecular_formula }} {{ drug.molecular_formula }} IS {{ drug.molecular_formula }} {{ drug.molecular_formula }}
