{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Losartan Potassium 50mg
  Module: unclassified
  Vars  : 14
#}

## 4.4 Special warnings and precautions for use

Hypersensitivity

Angio-oedema. Patients with a history of angio-oedema (swelling of the face, lips, throat, and/ or tongue) should be closely monitored.

Hypotension and electrolyte/fluid imbalance

Symptomatic hypotension, especially after the first dose and after increasing of the dose, may occur in patients who are volume- and/or sodium-depleted by vigorous diuretic therapy, dietary salt restriction, diarrhea or vomiting. These conditions should be corrected prior to administration of {{ drug.name }}, or a lower starting dose should be used .This also applies to children 6 to 18 years of age.

Electrolyte imbalances

Electrolyte imbalances are common in patients with renal impairment, with or without diabetes, and should be addressed. In a clinical study conducted in type 2 diabetic patients with nephropathy, the incidence of Hyperkalaemia was higher in the group treated with {{ drug.name }} as compared to the placebo group. Therefore, the plasma concentrations of potassium as well as creatinine clearance values should be closely monitored, especially patients with heart failure and a creatinine clearance between 30-{{ drug.strength }}/min should be closely monitored.

The concomitant use of potassium-sparing diuretics, potassium supplements and potassium-containing salt substitutes with Losartan is not recommended.

Hepatic impairment

Based on pharmacokinetic data which demonstrate significantly increased plasma concentrations of Losartan in cirrhotic patients, a lower dose should be considered for patients with a history of hepatic impairment. There is no therapeutic experience with Losartan in patients with severe hepatic impairment. Therefore Losartan must not be administered in patients with severe hepatic impairment.

Losartan is not recommended in children with hepatic impairment.

Renal impairment

As a consequence of inhibiting the renin-angiotensin system, changes in renal function including renal failure have been reported (in particular, in patients whose renal function is dependent on the renin- angiotensin-aldosterone system such as those with severe cardiac insufficiency or pre-existing renal dysfunction). As with other medicinal products that affect the renin-angiotensin-aldosterone system, increases in blood urea and serum creatinine have also been reported in patients with bilateral renal artery stenosis or stenosis of the artery to a solitary kidney; these changes in renal function may be reversible upon discontinuation of therapy.

Losartan should be used with caution in patients with bilateral renal artery stenosis or stenosis of the artery to a solitary kidney.

Use in paediatric patients with renal impairment

Losartan is not recommended in children with glomerular filtration rate < {{ drug.strength }}/ min/ 1.73 m2 as no data are available.

Renal function should be regularly monitored during treatment with Losartan as it may deteriorate. This applies particularly when Losartan is given in the presence of other conditions (fever, dehydration) likely to impair renal function.

Concomitant use of Losartan and {{ drug.molecular_formula }}-inhibitors has shown to impair renal function. Therefore, concomitant use is not recommended .

Renal transplantation

There is no experience in patients with recent kidney transplantation.

Primary hyperaldosteronism

Patients with primary aldosteronism generally will not respond to antihypertensive medicinal products acting through inhibition of the renin-angiotensin system. Therefore, the use of {{ drug.name }} {{ drug.dosage_form }} is not recommended.

Coronary heart disease and cerebrovascular disease

As with any antihypertensive agents, excessive blood pressure decrease in patients with ischaemic cardiovascular and cerebrovascular disease could result in a myocardial infarction or stroke.

Heart failure

In patients with heart failure, with or without renal impairment, there is - as with other medicinal products acting on the renin-angiotensin system - a risk of severe arterial hypotension, and (often acute) renal impairment.

There is no sufficient therapeutic experience with Losartan in patients with heart failure and concomitant severe renal impairment, in patients with severe heart failure ({{ drug.molecular_formula }} class IV) as well as in patients with heart failure and symptomatic life threatening cardiac arrhythmias. Therefore, Losartan should be used with caution in these patient groups. The combination of Losartan with a beta-blocker should be used with caution (see section 5.1).

Aortic and mitral valve stenosis, obstructive hypertrophic cardiomyopathy

As with other vasodilators, special caution is indicated in patients suffering from aortic or mitral stenosis, or obstructive hypertrophic cardiomyopathy.

Dual blockade of the renin-angiotensin-aldosterone system ({{ drug.molecular_formula }})

There is evidence that the concomitant use of {{ drug.molecular_formula }}-inhibitors, angiotensin II receptor blockers or aliskiren increases the risk of hypotension, Hyperkalaemia and decreased renal function (including acute renal failure). Dual blockade of {{ drug.molecular_formula }} through the combined use of {{ drug.molecular_formula }}-inhibitors, angiotensin II receptor blockers or aliskiren is therefore not recommended.

If dual blockade therapy is considered absolutely necessary, this should only occur under specialist supervision and subject to frequent close monitoring of renal function, electrolytes and blood pressure.

{{ drug.molecular_formula }}-inhibitors and angiotensin II receptor blockers should not be used concomitantly in patients with diabetic nephropathy.

Special warning regarding excipients

{{ drug.name }} contains lactose. Patients with rare hereditary problems of galactose intolerance, the Lapp lactase deficiency or glucose-galactose malabsorption should not take this medicine.

Pregnancy

Losartan should not be initiated during pregnancy. Unless continued Losartan therapy is considered essential, patients planning pregnancy should be changed to alternative anti-hypertensive treatments which have an established safety profile for use in pregnancy. When pregnancy is diagnosed, treatment with Losartan should be stopped immediately, and, if appropriate, alternative therapy should be started.

Other warnings and precautions

As observed for angiotensin converting enzyme inhibitors, Losartan and the other angiotensin antagonists are apparently less effective in lowering blood pressure in black people than in non-blacks, possibly because of higher prevalence of low-renin states in the black hypertensive population.

.
