{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Telmisartan 40mg
  Module: unclassified
  Vars  : 21
#}

## 4.5 Interaction with other medicinal products and other forms of interaction

Digoxin

When {{ drug.name }} was co-administered with digoxin, median increases in digoxin peak plasma concentration (49%) and in trough concentration (20%) were observed. When initiating, adjusting, and discontinuing {{ drug.name }}, monitor digoxin levels in order to maintain levels within the therapeutic range.

As with other medicinal products acting on the renin-angiotensin-aldosterone system, {{ drug.name }} may provoke Hyperkalaemia (see section 4.4). The risk may increase in case of treatment combination with other medicinal products that may also provoke Hyperkalaemia (salt substitutes containing potassium, potassium-sparing diuretics, {{ drug.molecular_formula }} inhibitors, angiotensin II receptor antagonists, non steroidal anti-inflammatory medicinal products ({{ drug.molecular_formula }}, including selective {{ drug.molecular_formula }}-2 inhibitors), heparin, immunosuppressives (cyclosporin or tacrolimus), and trimethoprim).

The occurrence of Hyperkalaemia depends on associated risk factors. The risk is increased in case of the above-mentioned treatment combinations. The risk is particularly high in combination with potassium sparing-diuretics and when combined with salt substitutes containing potassium. A combination with {{ drug.molecular_formula }} inhibitors or {{ drug.molecular_formula }}, for example, presents a lesser risk provided that precautions for use are strictly followed.

Concomitant use not recommended

Potassium sparing diuretics or potassium supplements

Angiotensin II receptor antagonists such as {{ drug.name }} attenuate diuretic induced potassium loss. Potassium sparing diuretics e.g. spirinolactone, eplerenone, triamterene, or amiloride, potassium supplements, or potassium-containing salt substitutes may lead to a significant increase in serum potassium. If concomitant use is indicated because of documented hypokalaemia, they should be used with caution and with frequent monitoring of serum potassium.

Lithium

Reversible increases in serum lithium concentrations and toxicity have been reported during concomitant administration of lithium with angiotensin converting enzyme inhibitors, and with angiotensin II receptor antagonists, including {{ drug.name }}. If use of the combination proves necessary, careful monitoring of serum lithium levels is recommended.

Concomitant use requiring caution

Non-steroidal anti-inflammatory medicinal products

{{ drug.molecular_formula }} (i.e. acetylsalicylic acid at anti-inflammatory dosage regimens, {{ drug.molecular_formula }}-2 inhibitors and nonselective {{ drug.molecular_formula }}) may reduce the antihypertensive effect of angiotensin II receptor antagonists.

In some patients with compromised renal function (e.g. dehydrated patients or elderly patients with compromised renal function) the co-administration of angiotensin II receptor antagonists and agents that inhibit cyclo-oxygenase may result in further deterioration of renal function, including possible acute renal failure, which is usually reversible. Therefore, the combination should be administered with caution, especially in the elderly. Patients should be adequately hydrated and consideration should be given to monitoring of renal function after initiation of concomitant therapy and periodically thereafter.

In one study the co-administration of {{ drug.name }} and ramipril led to an increase of up to 2.5 fold in the {{ drug.molecular_formula }}-24 and Cmax of ramipril and ramiprilat. The clinical relevance of this observation is not known.

Diuretics (thiazide or loop diuretics)

Prior treatment with high dose diuretics such as furosemide (loop diuretic) and hydrochlorothiazide (thiazide diuretic) may result in volume depletion and in a risk of hypotension when initiating therapy with {{ drug.name }}.

To be taken into account with concomitant use

Other antihypertensive agents

The blood pressure lowering effect of {{ drug.name }} can be increased by concomitant use of other antihypertensive medicinal products.

Clinical trial data has shown that dual blockade of the renin-angiotensin-aldosterone-system ({{ drug.molecular_formula }}) through the combined use of {{ drug.molecular_formula }}-inhibitors, angiotensin II receptor blockers or aliskiren is associated with a higher frequency of adverse events such as hypotension, Hyperkalaemia and decreased renal function (including acute renal failure) compared to the use of a single {{ drug.molecular_formula }}-acting agent (see sections 4.3, 4.4 and 5.1).

Based on their pharmacological properties it can be expected that the following medicinal products may potentiate the hypotensive effects of all antihypertensives including {{ drug.name }}: Baclofen, amifostine.

Furthermore, orthostatic hypotension may be aggravated by alcohol, barbiturates, narcotics or antidepressants.

Corticosteroids (systemic route)

Reduction of the antihypertensive effect.
