{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Telmisartan 40mg
  Module: unclassified
  Vars  : 5
#}

## 4.6 Fertility, pregnancy and lactation

Pregnancy

The use of angiotensin II receptor antagonists is not recommended during the first trimester of pregnancy (see section 4.4). The use of angiotensin II receptor antagonists is contraindicated during the second and third trimesters of pregnancy (see sections 4.3 and 4.4).

There are no adequate data from the use of {{ drug.name }} Actavis in pregnant women. Studies in animals have shown reproductive toxicity (see section 5.3).

Epidemiological evidence regarding the risk of teratogenicity following exposure to {{ drug.molecular_formula }} inhibitors during the first trimester of pregnancy has not been conclusive; however a small increase in risk cannot be excluded. Whilst there is no controlled epidemiological data on the risk with angiotensin II receptor antagonists, similar risks may exist for this class of drugs. Unless continued angiotensin II receptor antagonist therapy is considered essential, patients planning pregnancy should be changed to alternative anti-hypertensive treatments which have an established safety profile for use in pregnancy.

When pregnancy is diagnosed, treatment with angiotensin II receptor antagonists should be stopped immediately, and, if appropriate, alternative therapy should be started.

Exposure to angiotensin II receptor antagonist therapy during the second and third trimesters is known to induce human fetotoxicity (decreased renal function, oligohydramnios, skull ossification retardation) and neonatal toxicity (renal failure, hypotension, Hyperkalaemia). (See section 5.3).

Should exposure to angiotensin II receptor antagonists have occurred from the second trimester of pregnancy, ultrasound check of renal function and skull is recommended.

Infants whose mothers have taken angiotensin II receptor antagonists should be closely observed for hypotension (see sections 4.3 and 4.4).

Breast-feeding

Because no information is available regarding the use of {{ drug.name }} Actavis during breast-feeding, {{ drug.name }} Actavis is not recommended and alternative treatments with better established safety profiles during breast-feeding are preferable, especially while nursing a newborn or preterm infant.

Fertility

In preclinical studies, no effects of {{ drug.name }} on male and female fertility were observed.
