{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Telmisartan 40mg
  Module: unclassified
  Vars  : 1
#}

## 4.7 Effects on ability to drive and use machines

When driving vehicles or operating machinery it should be taken into account that dizziness or drowsiness may occasionally occur when taking antihypertensive therapy such as {{ drug.name }} Actavis.
