{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Losartan Potassium 50mg
  Module: unclassified
  Vars  : 1
#}

## 4.7 Overdose

Symptoms of intoxication

Limited data are available with regard to overdose in humans. The most likely manifestation of overdose would be hypotension and tachycardia. Bradycardia could occur from parasympathetic (vagal) stimulation.

Treatment of intoxication

If symptomatic hypotension should occur, supportive treatment should be instituted.

Measures are depending on the time of medicinal product intake and kind and severity of symptoms. Stabilisation of the cardiovascular system should be given priority. After {{ drug.route_of_administration }} intake, the administration of a sufficient dose of activated charcoal is indicated. Afterwards, close monitoring of the vital parameters should be performed. Vital parameters should be corrected if necessary.

Neither Losartan nor the active metabolite can be removed by haemodialysis.
