{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Telmisartan 40mg
  Module: unclassified
  Vars  : 2
#}

## 4.9 Overdose

There is limited information available with regard to overdose in humans.

Symptoms: The most prominent manifestations of {{ drug.name }} overdose were hypotension and tachycardia; bradycardia dizziness, increase in serum creatinine, and acute renal failure have also been reported.

Treatment: {{ drug.name }} is not removed by haemodialysis. The patient should be closely monitored, and the treatment should be symptomatic and supportive. Management depends on the time since ingestion and the severity of the symptoms. Suggested measures include induction of emesis and / or gastric lavage. Activated charcoal may be useful in the treatment of overdosage. Serum electrolytes and creatinine should be monitored frequently. If hypotension occurs, the patient should be placed in a supine position, with salt and volume replacement given quickly.

Hypertension
