{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Glibenclamide 5mg
  Module: unclassified
  Vars  : 1
#}

## 5.2 Pharmacokinetic properties

{{ drug.name }} is rapidly absorbed and is extensively bound to plasma proteins, but is not readily displaced by acidic drugs. It is excreted as metabolites in the urine and bile.
