{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Telmisartan 40mg
  Module: unclassified
  Vars  : 11
#}

## 5.3.4.2 Patient PD and PK/PD Study Reports

AS {{ drug.molecular_formula }} {{ drug.molecular_formula }} {{ drug.molecular_formula }} {{ drug.molecular_formula }} {{ drug.molecular_formula }} {{ drug.molecular_formula }} {{ drug.molecular_formula }}, {{ drug.molecular_formula }} {{ drug.molecular_formula }} IS {{ drug.molecular_formula }} {{ drug.molecular_formula }}
