{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Telmisartan 40mg
  Module: unclassified
  Vars  : 13
#}

## 5.4 Literature references

Battershill AJ, Scott LJ (2006) {{ drug.name }}: a review of its use in the management of hypertension. Drugs 66: 51-83.

Wienen W, Hauel N, Van Meel JC, Narr B, Ries U, et al. (1993) Pharmacological characterization of the novel nonpeptide angiotensin II receptor antagonist, {{ drug.molecular_formula }} 277. Br J Pharmacol 110: 245-252.

3.SA de CV (2012) Prescribing information [in Spanish]. Micardis®(40 and {{ drug.strength }}) {{ drug.dosage_form }}. Diccionario de Especialidades Farmacéuticas ({{ drug.molecular_formula }}®), 58th( Edn) Boehringer Ingelheim Promeco , Mexico City, Mexico: 2124-2126.

Israili ZH (2000) Clinical pharmacokinetics of angiotensin II (AT1) receptor blockers in hypertension. J Hum Hypertens 14 Suppl 1: S73-86.

Stangier J,Su CA,Roth W (2000) Pharmacokinetics of orally and intravenously administered {{ drug.name }} in healthy young and elderly volunteers and in hypertensive patients, The Journal of International Medical Research 28: 149-167.

Stangier J, Schmid J, Türck D, Switek H, Verhagen A, et al. (2000) Absorption, metabolism, and excretion of intravenously and orally administered [{{ storage.temperature }}]{{ drug.name }} in healthy volunteers. J Clin Pharmacol 40: 1312-1322.

Deppe S, Böger RH, Weiss J, Benndorf RA (2010) {{ drug.name }}: a review of its pharmacodynamic and pharmacokinetic properties. Expert Opin Drug Metab Toxicol 6: 863-871.

Pathak SM, Aggarwal D, Venkateswarlu V (2014) Establishment of in vitro–in vivo equivalence of highly variable drugs–a generic product development perspective. Pharmaceutical Development and Technology 19: 401-410

{{ drug.molecular_formula }}, Federal Commission for the protection of Sanitary Risks (1999). Mexican Official Standard {{ drug.molecular_formula }} 177-{{ drug.molecular_formula }}-1998, Test and procedures to prove that a medication is interchangeable [in Spanish], General Standard Directorate, Mexico City, Mexico.

Gao L, Li J, Kasserra C, Song Q, Arjomand A, et al. (2011) Precision and accuracy in the quantitative analysis of biological samples by accelerator mass spectrometry: application in microdose absolute bioavailability studies. Anal Chem 83: 5607-5616.

Chow SC, Liu JP (2000) Design and Analysis of Bioavailability and Bioequivalence Studies. 2nd (Edn), New York, NY: Marcel Dekker.

Center for Drug Evaluation and Research (1998) Application number: {{ drug.molecular_formula }} 20850 Clinical Pharmacology and Biopharmaceutics Review(s).

Boxenbaum H, Battle M (1995) Effective half-life in clinical pharmacology. J Clin Pharmacol 35: 763-766.
