{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Telmisartan 40mg
  Module: unclassified
  Vars  : 2
#}

## 6.5 Nature and contents of container

{{ storage.pack_size }}of {{ drug.name }} in a Plastic Jar with a printed insert.

Pack size: 1 x 30’s
