{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Telmisartan 40mg
  Module: unclassified
  Vars  : 3
#}

## (a)	Description of the {{ drug.molecular_formula }}:

White circular {{ drug.dosage_form }}, having embossed with “{{ drug.molecular_formula }}” on one side and “40” on

the other side
