{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Telmisartan 40mg
  Module: unclassified
  Vars  : 0
#}

#### Acknowledgements

This research and its publication were supported by Laboratorios Liomont, S.A. de C.V., Mexico City, Mexico. The authors have indicated that they have no other conflicts of interest regarding the content of the article.
