{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Metformin Hydrochloride 500mg
  Module: unclassified
  Vars  : 1
#}

## Administration of iodinated contrast agent:

As the {{ drug.route_of_administration }} administration of iodinated contrast material in radiologic studies can lead to contrast induced nephropathy resulting in Metformin accumulation and an increased risk of lactic acidosis. Metformin should be discontinued prior to, or at the time of the imaging procedure and not restarted until at least 48 hours after, provided that renal function has been re-evaluated and found to be stable (see sections 4.2 and 4.5)
