{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Amlodipine 5mg
  Module: unclassified
  Vars  : 6
#}

## Adults

For both hypertension and angina, the usual initial dose is {{ drug.strength }} {{ drug.name }} once daily which may be increased to a maximum dose of {{ drug.strength }} depending on the individual patient's response.

In hypertensive patients, {{ drug.name }} has been used in combination with a thiazide diuretic, alpha blocker, beta blocker, or an angiotensin converting enzyme inhibitor. For angina, {{ drug.name }} may be used as monotherapy or in combination with other anti-anginal medicinal products in patients with angina that is refractory to nitrates and/or to adequate doses of beta blockers.

No dose adjustment of {{ drug.name }} is required upon concomitant administration of thiazide diuretics, beta blockers, and angiotensin-converting enzyme inhibitors.
