{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Amlodipine 5mg
  Module: unclassified
  Vars  : 1
#}

## {{ drug.name }} Besylate

{# TABLE #}
| Appearance | White powder; odourless or almost odourless. |
| --- | --- |
| Solubility | Sparingly soluble in chloroform; slightly soluble in ethanol (95%); very slightly soluble in water; practically insoluble in ether. |
| Melting range | Melts between 199o to 201o. |
| Loss on drying | Not more than 1.0%, determined on {{ drug.strength }} by drying in an oven at 105o |
