{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Glibenclamide 5mg
  Module: unclassified
  Vars  : 2
#}

## {{ drug.molecular_formula }}:

Primary Packing Material- {{ drug.molecular_formula }} Bag

Secondary Packing Material- Corrugated Box
