{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Telmisartan 40mg
  Module: unclassified
  Vars  : 5
#}

## Appearance of {{ drug.dosage_form }}

The {{ drug.dosage_form }} is not more intensely coloured than reference {{ drug.dosage_form }} Y4 (2.2.2, Method II).

Dissolve 0.{{ drug.strength }} in 1 M sodium hydroxide and dilute to {{ drug.strength }} with the same solvent.
