{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Losartan Potassium 50mg
  Module: unclassified
  Vars  : 1
#}

## Application type: {{ drug.molecular_formula }}

Signature:                                           Date:

Dukor, A. N.

Supt. Pharmacist
