{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Telmisartan 40mg
  Module: unclassified
  Vars  : 2
#}

## {{ drug.molecular_formula }}:

Carry out the method for liquid chromatographic conditions:

{{ drug.molecular_formula }} System : Water’s 717 plus autosampler

Software  : Empower -2

Detector  : UV  (2496 )

Wave length:  230 nm

Pump        : Isocratic pump

Stationary phase: Hypersil C 18 150 x 4.6 mm
