{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Telmisartan 40mg
  Module: unclassified
  Vars  : 7
#}

## {{ drug.molecular_formula }}

Dissolve 0.{{ drug.strength }} in {{ drug.strength }} of anhydrous formic acid R . Add {{ drug.strength }} of acetic anhydride R .

Titrate with 0.1 M perchloric acid , determining the end-point potentiometrically (2.2.20) .

©Crown Copyright 2006 3

{{ drug.strength }} of 0.1 M perchloric acid is equivalent to 25.{{ drug.strength }} of {{ drug.molecular_formula }}.
