{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Glibenclamide 5mg
  Module: unclassified
  Vars  : 13
#}

## Assay preparation :

Weigh and powder {{ storage.pack_size }}. To   a   quantity of the powdered {{ drug.dosage_form }} containing equivalent to  {{ drug.strength }}  of  {{ drug.name }} in   {{ drug.strength }} of volumetric flask  add  {{ drug.strength }}, with mixture of {{ drug.strength }} of water and {{ drug.strength }} of methanol   and sonication about 10 minutes and cool and make volume with volume with mixture of {{ drug.strength }} of water and {{ drug.strength }} of methanol to produce {{ drug.strength }}. ({{ drug.strength }}/ ml)

(Final {{ drug.dosage_form }} of assay preparation)
