{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Metformin Hydrochloride 500mg
  Module: unclassified
  Vars  : 1
#}

## Author information Copyright and License information Disclaimer

This article has been cited by other articles in {{ drug.molecular_formula }}.

Go to:
