{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Metformin Hydrochloride 500mg
  Module: unclassified
  Vars  : 21
#}

## Authors’ contributions

Designing the research ({{ drug.molecular_formula }}, {{ drug.molecular_formula }}, {{ drug.molecular_formula }}), recruiting volunteers ({{ drug.molecular_formula }}, {{ drug.molecular_formula }}, {{ drug.molecular_formula }}, {{ drug.molecular_formula }}, {{ drug.molecular_formula }}, {{ drug.molecular_formula }}), certifying medical fitness of volunteers ({{ drug.molecular_formula }}), analysing samples ({{ drug.molecular_formula }}, {{ drug.molecular_formula }}, {{ drug.molecular_formula }}, {{ drug.molecular_formula }}, {{ drug.molecular_formula }}), preparing the manuscript ({{ drug.molecular_formula }}, {{ drug.molecular_formula }}, {{ drug.molecular_formula }}, {{ drug.molecular_formula }}, {{ drug.molecular_formula }}, {{ drug.molecular_formula }}).

References

Copyright . This is an Open Access article distributed under the terms of the Creative Commons Attribution-Noncommercial 4.0 License (CC BY-NC 4.0), permitting all non-commercial use, distribution, and reproduction in any medium, provided the original work is properly cited.

{# TABLE #}
| col_0 | col_1 |
| --- | --- |
| 1 | Lu HC, Parikh PP, Lorber DL. Phenformin-associated lactic acidosis due to imported 
phenformin. Diabetes Care 1996;19:1449-1450 |

{# TABLE #}
| col_0 | col_1 |
| --- | --- |
| 2 | Rosand J, Friedberg J, Yang J. Fatal phenformin-associated lactic acidosis. Ann. 
Intern. Med 1997;127:170 |

{# TABLE #}
| col_0 | col_1 |
| --- | --- |
| 3 | Rojas {{ drug.molecular_formula }}, Gomes MB. Metformin: an old but still the best treatment for type 2 
diabetes. Diabetol Metab Syndr 2013;5:6 |

{# TABLE #}
| col_0 | col_1 |
| --- | --- |
| 4 | Boussageon R. Metformin in type 2 diabetes: where is the evidence?. Ann 
Clin Exp Metabol 2016;1:1002 |

{# TABLE #}
| col_0 | col_1 |
| --- | --- |
| 5 | Effect of intensive blood-glucose control with metformin on complications in overweight 
patients with type 2 diabetes ({{ drug.molecular_formula }} 34). Lancet 1998;352:854-865 |

{# TABLE #}
| col_0 | col_1 |
| --- | --- |
| 6 | Nyenwe EA, Jerkins TW, Umpierrez GE, Kitabchi AE. Management of type 2 diabetes: 
evolving strategies for the treatment of patients with type 2 diabetes. Metabolism 2011;60:1-23 |

{# TABLE #}
| col_0 | col_1 |
| --- | --- |
| 7 | Hemmingsen B, Schroll JB, Wetterslev J, Gluud C, Vaag A, Sonne DP. Sulfonylurea versus
 metformin monotherapy in patients with type 2 diabetes: a Cochrane systematic review 
and meta-analysis of randomized clinical trials and trial sequential analysis. {{ drug.molecular_formula }} Open 
2014;2:E162-E175 |

{# TABLE #}
| col_0 | col_1 |
| --- | --- |
| 8 | Johnson JA, Majumdar SR, Simpson SH, Toth EL. Decreased mortality associated 
with the use of metformin compared with sulfonylurea monotherapy in type 2 diabetes. 
Diabetes Care 2002;25:2244-2248 |

{# TABLE #}
| col_0 | col_1 |
| --- | --- |
| 9 | Azimova K, San Juan Z, Mukherjee D. Cardiovascular safety profile of currently 
available diabetic drugs. Ochsner J 2014;14:616-632 |

{# TABLE #}
| col_0 | col_1 |
| --- | --- |
| 10 | Schernthaner G, Currie CJ, Schernthaner GH. Do we still need pioglitazone for the treatment 
of type 2 diabetes?. Diabetes Care 2013;36:S155-S161 |

{# TABLE #}
| col_0 | col_1 |
| --- | --- |
| 11 | Desai D, Wong B, Huang Y, Tang D, Hemenway J, Paruchuri S. Influence of dissolution 
media pH and {{ drug.pharmacopoeia_standard }} basket speed on erosion and disintegration characteristics of immediate 
release {{ drug.name }} {{ drug.dosage_form }}. Pharm Dev Technol 2015;20:540-545 |

{# TABLE #}
| col_0 | col_1 |
| --- | --- |
| 12 | Nguyen TA, Knight R, Roughead EE, Brooks G, Mant A. Policy options for pharmaceutical 
pricing and purchasing: issues for low- and middle-income countries. Health 
Policy Plan 2015;30:267-280 |

{# TABLE #}
| col_0 | col_1 |
| --- | --- |
| 13 | Cook JA, Bockbrader HN. An industrial implementation of the biopharmaceutics 
classification system. Dissolution Technol 2002;9:6-8 |

{# TABLE #}
| col_0 | col_1 |
| --- | --- |
| 14 | {{ drug.molecular_formula }}/{{ drug.molecular_formula }}. Waiver of in vivo bioavailability and bioequivalence studies for 
immediate-release solid {{ drug.route_of_administration }} dosage forms based on a biopharmaceutics 
classification system guidance for industry. U.S. Department of Health and Human 
Services, Food and Drug Administration, Center for Drug Evaluation and 
Research ({{ drug.molecular_formula }}) 2015 |

{# TABLE #}
| col_0 | col_1 |
| --- | --- |
| 15 | Amidon GL, Lennernäs H, Shah VP, Crison JR. A theoretical basis for a 
biopharmaceutics drug classification: the correlation of in vitro drug product 
dissolution and in vivo bioavailability. Pharm Res 1995;12:413-420 |

{# TABLE #}
| col_0 | col_1 |
| --- | --- |
| 16 | Oyetunde OO, Tayo F, Akinleye MO, Aina BA. In vitro equivalence studies of 
generic {{ drug.name }} {{ drug.dosage_form }} and propranolol hydrochloride {{ drug.dosage_form }} 
under biowaiver conditions in Lagos State, Nigeria. J Diss Tech ;2012:51-55 |

{# TABLE #}
| col_0 | col_1 |
| --- | --- |
| 17 | Olusola AM, Adekoya AI, Olanrewaju OJ. Comparative evaluation of physicochemical 
properties of some commercially available brands of metformin hcl {{ drug.dosage_form }} in Lagos, 
Nigeria. J {{ manufacturer.name }} Sci 2012;2:41-44 |

{# TABLE #}
| col_0 | col_1 |
| --- | --- |
| 18 | The {{ drug.pharmacopoeia_standard }}. Metformin monograph. The Stationary Office: London, 
UK 2013 |

{# TABLE #}
| col_0 | col_1 |
| --- | --- |
| 19 | United States Pharmacopoeia. Metformin monograph, {{ drug.pharmacopoeia_standard }} 29-NF 24 
Pharmacopeia Forum. 2007;31:1365 |

{# TABLE #}
| col_0 | col_1 |
| --- | --- |
| 20 | Amini H, Ahmadiani A, Gazerani P. Determination of metformin in human 
plasma by high-performance liquid chromatography. J Chromatogr B Analyt 
Technol Biomed Life Sci 2005;824:319-322 |

{# TABLE #}
| col_0 | col_1 |
| --- | --- |
| 21 | Standards of medical care in diabetes. Diabetes Care 2016;39:S1-S106 |

{# TABLE #}
| col_0 | col_1 |
| --- | --- |
| 22 | {{ drug.molecular_formula }} Guideline. harmonized guideline for good clinical practice. E6 (R2) 2015 |

{# TABLE #}
| col_0 | col_1 |
| --- | --- |
| 23 | {{ drug.molecular_formula }}/{{ drug.molecular_formula }}. Guidance for industry bioavailability and bioequivalence studies submitted 
in {{ drug.molecular_formula }} or {{ drug.molecular_formula }} — general considerations U.S. Department of Health and Human 
Services, Food and Drug Administration Center for Drug Evaluation and Research 
({{ drug.molecular_formula }}) 2014 |

{# TABLE #}
| col_0 | col_1 |
| --- | --- |
| 24 | Duong JK, Kumar SS, Furlong TJ, Kirkpatrick CM, Graham GG, Greenfield JR. 
The pharmacokinetics of metformin and concentrations of haemoglobin 
A1C and lactate in Indigenous and non-Indigenous Australians with type 2 
diabetes mellitus. Br J Clin Pharmacol 2015;79:617-623 |

{# TABLE #}
| col_0 | col_1 |
| --- | --- |
| 25 | Yoon H, Cho HY, Yoo HD, Kim SM, Lee YB. Influences of organic 
cation transporter polymorphisms on the population pharmacokinetics of 
metformin in healthy subjects. {{ drug.molecular_formula }} J 2013;15:571-580 |

{# TABLE #}
| col_0 | col_1 |
| --- | --- |
| 26 | Christensen MM, Brasch-Andersen C, Green H, Nielsen F, Damkier P, 
Beck-Nielsen H. The pharmacogenetics of metformin and its impact on 
plasma metformin steady-state levels and glycosylated hemoglobin A1c. 
Pharmacogenet Genomics 2015;21:837-850 |

{# TABLE #}
| col_0 | col_1 |
| --- | --- |
| 27 | Sam WJ, Roza O, Hon YY, Alfaro RM, Calis KA, Reynolds JC. Effects of 
{{ drug.molecular_formula }} polymorphisms on metformin-induced reductions in 
adiposity and metformin pharmacokinetics in obese children with insulin resistance. 
J Clin Pharmacol 2017;57:219-229 |
