{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Losartan Potassium 50mg
  Module: unclassified
  Vars  : 2
#}

### Author information

1

{{ manufacturer.name }} (I) {{ manufacturer.name }}, Navi Mumbai, Maharashtra, India. suhas_khandave@rediffmail.com
