{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Telmisartan 40mg
  Module: unclassified
  Vars  : 4
#}

## (b)	Basis for setting the acceptance criteria for impurities:

Maximum daily dose (i.e. the amount of {{ drug.molecular_formula }} administered per day) for the {{ drug.molecular_formula }}, corresponding {{ drug.molecular_formula }} Reporting/Identification/Qualification Thresholds for the degradation products in the {{ drug.molecular_formula }} and the concentration limits (ppm) for the process-related impurities (e.g. residual solvents):
