{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Telmisartan 40mg
  Module: unclassified
  Vars  : 2
#}

## (b)	Other Introductory information:

Related dossiers (e.g. {{ drug.molecular_formula }}(s) with the same {{ drug.molecular_formula }}(s) submitted to the Prequalification Programme by the applicant): Not applicable

{# TABLE #}
| Reference number
(e.g HA998) | Prequalified (Y/N) | API, strength, dosage form
(e.g. Abacavir (as sulphate) 300 mg tablets) | API manufacturer
(including address) |
| --- | --- | --- | --- |
|  |  | {{ drug.name }} {{ drug.strength }}  {{ drug.pharmacopoeia_standard }} 

{{ drug.name }}  B.P………….{{ drug.strength }}
Excipients: q.s | {{ drug.name }} B.P
US {{ drug.molecular_formula }} {{ drug.molecular_formula }} {{ drug.molecular_formula }}
121, Neemuch Mata Scheme,
Dewali, Udaipur,
Rajasthan,
India, 313001. |
