{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Telmisartan 40mg
  Module: unclassified
  Vars  : 0
#}

## (b)	Solubility:

Practically insoluble in water and in the pH range of 3 to 9, Sparingly soluble in strong acid (except insoluble in hydrochloric acid) and soluble in strong base
