{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Metformin Hydrochloride 500mg
  Module: unclassified
  Vars  : 1
#}

## Background and objectives

Metformin is key in the management of type 2 diabetes mellitus but also represents additional financial burden, particularly with the use of branded products. The availability of generic products permits generic substitution with a much-reduced cost of treatment. However, only generic products that offer similar bioavailability with the innovator should be considered. This study was designed to assess the bioequivalence of generic metformin {{ drug.dosage_form }} within Nigeria.
