{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Metformin Hydrochloride 500mg
  Module: unclassified
  Vars  : 1
#}

## {{ drug.molecular_formula }}:

Type 2 diabetes mellitus typically involves abnormal beta-cell function that results in relative insulin deficiency, insulin resistance accompanied by decreased glucose transport into muscle and fat cells, and increased hepatic glucose output, all of which contribute to hyperglycemia.
