{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Telmisartan 40mg
  Module: unclassified
  Vars  : 0
#}

### Biological Activity

L-type calcium channel blocker that displays antihypertensive properties. Inhibits Ca 2+ -induced contractions in depolarized rat aorta (IC 50 = 1.9 nM) and displays vasoprotective effects in cardiovascular disease. Inhibits proliferation of human vascular smooth muscle cells and epidermoid carcinoma A431 cells (IC 50 = 25 μ M).
