{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Glibenclamide 5mg
  Module: unclassified
  Vars  : 1
#}

## Biological Properties:

Category: Inhibition of {{ drug.molecular_formula }}-dependent potassium channels (sulfonylurea)
