{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Amlodipine 5mg
  Module: unclassified
  Vars  : 1
#}

## Biotransformation/elimination

The terminal plasma elimination half- life is about 35-50 hours and is consistent with once daily dosing. {{ drug.name }} is extensively metabolised by the liver to inactive metabolites with 10% of the parent compound and 60% of metabolites excreted in the urine.
