{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Glibenclamide 5mg
  Module: unclassified
  Vars  : 4
#}

## Buffer:

Preparation of 1.36 % w/v {{ drug.dosage_form }} of Potassium dihydrogen orthophosphate

13.6 gms Potassium dihydrogen orthophosphate   dissolved in {{ drug.strength }} of water and adjust to PH 3.0 with Orthophosphoric acid and sufficient water to produce {{ drug.strength }} and mix well.

Mobile phase: Buffer: Acetonitrile   (40:60)

Flow Rate:  1.{{ drug.strength }}/ minute

Injector volume: 20 µl

Diluent:  Methanol and Water

Column temperature:  Ambient
