{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Amlodipine 10mg
  Module: unclassified
  Vars  : 0
#}

## (c)	Physical form (e.g. polymorphic form(s), solvate, hydrate):

(d)	Other: Not available

{# TABLE #}
| col_0 | col_1 |
| --- | --- |
| Property |  |
| pH | 8.5 at {{ storage.temperature }} |
| pK | 9.4 |
| Partition coefficients | -- |
| Melting points | 178-{{ storage.temperature }} |
| Specific optical rotation (specify solvent) | -0.050, determined in 1.0% w/v {{ drug.dosage_form }} in methanol. |
| Refractive index (liquids) | N/A |
| Hygroscopicity | N/A |
| UV absorption maxima/molar absorptivity | A (1%, 1cm): 119.2 |
| Other | -- |
| Chirality | Laevo rotatory |
