{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Telmisartan 40mg
  Module: unclassified
  Vars  : 0
#}

## (c)	Physical form (e.g. polymorphic form(s), solvate, and hydrate):

(d)	Other: Not available

{# TABLE #}
| col_0 | col_1 |
| --- | --- |
| Property |  |
| pH | 3-9 |
| pK | -- |
| Partition coefficients | logP – 7.7, Log Kow = 8.42 |
| Melting/boiling points | 261 – {{ storage.temperature }} |
| Specific optical rotation (specify solvent) | -- |
| Refractive index (liquids) | -Not Applicable |
| Hygroscopicity | Not Hygroscopic |
| UV absorption maxima/molar absorptivity | --- |
| Other | -- |
| Chirality | --- |
