{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Glibenclamide 5mg
  Module: unclassified
  Vars  : 1
#}

## (c)	Proposed storage conditions and re-test period (or shelf-life, as appropriate):

* indicate if a shelf-life is proposed in lieu of a re-test period (e.g. in the case of labile {{ drug.molecular_formula }})

{# TABLE #}
| Container closure system | Storage statement | Re-test period* |
| --- | --- | --- |
|  |  |  |
|  |  |  |
