{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Losartan Potassium 50mg
  Module: unclassified
  Vars  : 4
#}

## Calculation:

For {{ drug.name }} content:

Area of assay x mg per ml std (final conc.) x    500       x     % Purity of std

Area of Std  		                                 1 tab      x      100

=         	   mg of {{ drug.name }} per {{ drug.dosage_form }}

=                     % of {{ drug.name }}
