{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Metformin Hydrochloride 500mg
  Module: unclassified
  Vars  : 3
#}

## Calculation:

OD of  Test {{ drug.dosage_form }}    x   10   x                100 x 100 x100                   x      Av. Wt. of {{ drug.dosage_form }} (mg)

798  	                         Wt. of sample taken (mg) 10 x 10

=                          mg/tab of {{ drug.name }}

=                 x   100

500

=                               % of labeled amount

See 2.3.R Regional Information for summaries of the analytical procedures and validation information (i.e. 2.3.R.2 Analytical Procedures and Validation Information)
