{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Glibenclamide 5mg
  Module: unclassified
  Vars  : 1
#}

## Changeover from insulin:

While it is appreciated that most patients who are on insulin therapy will continue to need it, there may be a few patients, particularly those on low daily doses, who will remain stabilized if transferred from insulin to {{ drug.name }}.
