{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Glibenclamide 5mg
  Module: unclassified
  Vars  : 19
#}

## Changeover from other sulphonylureas:

The changeover to {{ drug.name }} from other drugs with similar modes of action can be carried out without any break in therapy.

Treatment is commenced with the equivalent dose of {{ drug.name }} without exceeding an initial dose of {{ drug.strength }}. If response is inadequate, the dose can be raised in a stepwise fashion to {{ drug.strength }} daily. One {{ drug.strength }} {{ drug.dosage_form }} of {{ drug.name }} is approximately equivalent to {{ drug.strength }} tolbutamide or glymidine, {{ drug.strength }} chlorpropamide or tolazamide, {{ drug.strength }} acetohexamide, {{ drug.strength }} glibornuride or {{ drug.strength }} glipizide.

Changeover from biguanides: The biguanide should be withdrawn and {{ drug.name }} treatment started with one 2.{{ drug.strength }} {{ drug.dosage_form }}. The dosage should then be adjusted by increments of 2.{{ drug.strength }} to achieve control.

Combination with biguanides: If adequate control is not possible with diet and {{ drug.strength }} of {{ drug.name }}, control may be established by combined administration of {{ drug.name }} and a biguanide derivative.
