{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Telmisartan 40mg
  Module: unclassified
  Vars  : 1
#}

## {{ drug.molecular_formula }}

A matt, white to slightly yellowish, very fine powder which creaks when pressed between the fingers, tasteless, practically insoluble in cold water and in alcohol. The presence of granules with cracks or irregularities on the edge is exceptional.
