{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Metformin Hydrochloride 500mg
  Module: unclassified
  Vars  : 6
#}

## Children and adolescents:

Single dose study: After single doses of Metformin {{ drug.strength }}, paediatric patients have shown similar pharmacokinetic profile to that observed in healthy adults.

Multiple dose study: Data are restricted to one study. After repeated doses of {{ drug.strength }} {{ drug.molecular_formula }} for 7 days in paediatric patients the peak plasma concentration (Cmax) and systemic exposure ({{ drug.molecular_formula }}-t) were reduced by approximately 33% and 40%,respectively compared to diabetic adults who received repeated doses of {{ drug.strength }} {{ drug.molecular_formula }} for 14 days. As the dose is individually titrated based on glycaemic control, this is of limited clinical relevance.
