{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Amlodipine 5mg
  Module: unclassified
  Vars  : 2
#}

## Chromatographic system:

Column: Octadecyl silane chemically bonded to porous silica or ceramic micro particles 10 µm packing C 18 , ( i.e.  L1 )

Make: C 18 {{ drug.molecular_formula }} 4.6 mm x 300 mm, 10µm. (Bondapack)

The liquid chromatography is equipped with a 237 nm detector.

Flow rate: 1.{{ drug.strength }} per minutes

Run time: 10 minutes.

Retention time:  about 7 to 7.5 minutes

Inject volume: 20µl.

Pressure: 2600 psi

Record the   chromatograph the standard    preparation, and assay preparation record the peak response as directed for procedure.
