{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Telmisartan 40mg
  Module: unclassified
  Vars  : 9
#}

## {{ drug.molecular_formula }} {{ drug.molecular_formula }} {{ drug.molecular_formula }} ({{ drug.molecular_formula }} )

Colloidal Anhydrous Silica

SiO2                                                             Mol. Wt. 60.08

Colloidal Silicon Dioxide is submicroscopic fumed silica prepared by the vapour-phase hydrolysis of a silicon compound.

Category: Pharmaceutical aid ({{ drug.dosage_form }} excipient).

Description: Light, fine, white, amorphous powder. It has a particle size of about 15 nm.

Solubility: Practically insoluble in water and in mineral acids with the exception of hydrofluoric acid. Dissolves in hot solutions of alkali hydroxides. When {{ drug.strength }} is shaken vigorously with {{ drug.strength }} of carbon tetrachloride for 3 minutes; a transparent {{ drug.dosage_form }} is produced.

Storage: {{ storage.storage_conditions }}.
