{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Metformin Hydrochloride 500mg
  Module: unclassified
  Vars  : 4
#}

## Combinations requiring precautions for use

Some medicinal products can adversely affect renal function which may increase the risk of lactic acidosis, e.g. {{ drug.molecular_formula }}, including selective cyclooxygenase ({{ drug.molecular_formula }}) II inhibitors, {{ drug.molecular_formula }} inhibitors, angiotension II receptor antagonists and diuretics, especially loop diuretics. When starting or using such products in combinations with Metformin, close monitoring of renal function is necessary.

Glucocorticoids (systemic and local routes), beta-2-agonists and diuretics have intrinsic hyperglycaemic activity. Inform the patient and perform more frequent blood glucose monitoring, especially at the beginning of the treatment. If necessary, adjust the dosage of the antidiabetic drug during therapy with the other drug and upon its discontinuation.

{{ drug.molecular_formula }}-inhibitors may decrease the blood glucose levels. If necessary, adjust the dosage of the antidiabetic drug during therapy with the other drug and upon its discontinuation.
