{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Telmisartan 40mg
  Module: unclassified
  Vars  : 4
#}

## Company or laboratory code:

Other non-proprietary name(s) (e.g. national name, {{ drug.molecular_formula }}, {{ drug.molecular_formula }}): {{ drug.name }}

Chemical Abstracts Service ({{ drug.molecular_formula }}) registry number: 144701-48-4
