{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Telmisartan 40mg
  Module: unclassified
  Vars  : 4
#}

## {{ drug.molecular_formula }}

The lubricated granules are compressed on a single rotary Cad/Clit 20 stn. press fitted with punches having 5.0mm/circular, flat/S/C at {{ drug.strength }} per {{ drug.dosage_form }} weight, embossed “{{ drug.molecular_formula }}” on one side and “40” on other side and at a Hardness of not less than 2.00 kg/cm2 on Monsanto units as described / specified in Master Processing Procedure.
