{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Telmisartan 40mg
  Module: unclassified
  Vars  : 11
#}

## {{ drug.molecular_formula }}

16. Compress the lubricated granules of Step No. 15 on a Single rotary 20 stn. Press fitted with punches having 8 mm round, {{ drug.molecular_formula }} {{ drug.molecular_formula }} at {{ drug.strength }}/{{ drug.dosage_form }} weight and at a Hardness of 2.00 kg/cm2 to 3.00 kg/cm2 on Monsanto units.

17.	During Compression carryout In-process check as follows.

18.	{{ drug.dosage_form }} produced from the compression department are collected in plastic drum having low density P.P. Bag & with proper label showing complete data regarding the batch. After completion of compression {{ drug.dosage_form }} are transferred to the Inspection department.

* 	After completion of Visual Inspection collect the {{ drug.dosage_form }} in low density P.P. Bag weigh the {{ drug.dosage_form }} and transfer to the Semi-finished store until taken for packing.

* 	Intimate the Quality Control Department to   collect the sample for complete Analysis.

Sample Quantity: 2 x {{ storage.pack_size }}

Only after getting approval for release of bulk {{ drug.dosage_form }} for packing operation, material is transferred to the Packing section.

{# TABLE #}
| Sr.
No. | Parameters | Specification | Time
Interval |
| --- | --- | --- | --- |
| 1 | Thickness | 2.80mm + 0.2mm | 1 Hours |
| 2 | Hardness | Not Less Than 2.00 kg/cm2 | 1 Hours |
| 3 | Disintegration | Not More Than 10.00 minutes | 1 Hours |
| 4 | Friability | Not More Than 2.00% w/w | 1 Hours |
| 5 | Weight Variation | 0.150 gms+ 5.00% | 3 Hours |
| 6 | Weight of {{ storage.pack_size }} | 3.00 gms+ 2.00% | ½ Hours |
