{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Amlodipine 5mg
  Module: unclassified
  Vars  : 3
#}

## Composition of the {{ drug.molecular_formula }}:

(i) 	Composition, i.e. list of all components of the {{ drug.molecular_formula }} and their amounts on a per unit basis and percentage basis (including individual components of mixtures prepared in-house (e.g. coatings) and overages, if any):

(ii) 	Composition of all components purchased as mixtures (e.g. colourants, coatings, {{ drug.dosage_form }} shells, imprinting inks): Not Applicable.

Description of accompanying reconstitution diluent(s), if applicable: Not Applicable.

{# TABLE #}
| Component and quality standard (and grade, if applicable | Function | Strength (label claim) | Strength (label claim) | Strength (label claim) | Strength (label claim) |
| --- | --- | --- | --- | --- | --- |
| Component and quality standard (and grade, if applicable | Function |  |  |  |  |
| Component and quality standard (and grade, if applicable | Function | % | % | % | % |
| Core {{ drug.dosage_form }} Contents. |  |  |  |  |  |
| {{ drug.name }} Besylate | Active | 3.44 | 3.44 | 3.44 | 3.44 |
| {{ drug.molecular_formula }} | Inactive | 26.06 | 26.06 | 26.06 | 26.06 |
| Lactose | Inactive | 49.64 | 49.64 | 49.64 | 49.64 |
| Starch | Inactive | 12.41 | 12.41 | 12.41 | 12.41 |
| {{ drug.molecular_formula }} K30 | Inactive | 3.72 | 3.72 | 3.72 | 3.72 |
| {{ drug.molecular_formula }} | Inactive | 31.02 | 31.02 | 31.02 | 31.02 |
| Magnesium Stearate | Inactive | 0.74 | 0.74 | 0.74 | 0.74 |
| Talcum | Inactive | 1.24 | 1.24 | 1.24 | 1.24 |
| Aerosil | Inactive | 0.24 | 0.24 | 0.24 | 0.24 |
| Sodium Starch Glycolate | Inactive | 2.48 | 2.48 | 2.48 | 2.48 |
| Total |  | 100 | 100 | 100 | 100 |
