{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Losartan Potassium 50mg
  Module: unclassified
  Vars  : 2
#}

## Conclusion

As compared with earlier LC-MS/MS methods for the determination of these drugs, the proposed {{ drug.molecular_formula }}-MS/MS offers several advantages such as higher sensitivity, short analysis time, small plasma volume for processing,and low consumption of toxic organic solvents. The extraction method was suitably optimized for quantitative and reproducible recovery of the analytes having different physico-chemical properties. The matrix effect was extensively studied through postcolumn infusion, postextraction spiking, and calculation of slope of calibration731

{{ drug.molecular_formula }} et al./Turk J Chemlines for the relative matrix effect. The method showed acceptable accuracy and precision in the measurement of these drugs in clinical samples. Finally, the method reproducibility was successfully demonstrated by reanalysis of incurred study samples, which has not been reported in previous methods.
