{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Telmisartan 40mg
  Module: unclassified
  Vars  : 6
#}

## *Corresponding Author:

Mario González-de la Parra
Biokinetics, S.A de C.V. Privada Jesúsdel Monte No.77
Col. Cuajimalpa, 05000 Mexico City, Mexico
E-mail: mdelaparra@biokinetics.com.mx

Received Date: March 20, 2015; Accepted Date: April 21, 2015; Published Date: April 28, 2015

Citation: Ponce-Navarrete D, Cortés-Mendoza A, López-Bojórquez E, González-Bañuelos J, Burke-Fraga V, González-de la Parra M (2015) Bioavailability of Two Different {{ drug.dosage_form }} Formulations of {{ drug.name }} of Two Different Strengths ({{ drug.strength }} and {{ drug.strength }}) in Healthy Male Mexican Volunteers. J Bioequiv Availab 7:164-169.. doi: Bioavailability of Two Different {{ drug.dosage_form }} Formulations of {{ drug.name }}

Copyright: © 2015 Ponce-Navarrete D, et al. This is an open-access article distributed under the terms of the Creative Commons Attribution License, which permits unrestricted use, distribution, and reproduction in any medium, provided the original author and source are credited.

Visit for more related articles at Journal of Bioequivalence & Bioavailability
