{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Losartan Potassium 50mg
  Module: unclassified
  Vars  : 47
#}

## {{ drug.molecular_formula }} {{ drug.molecular_formula }}

{{ drug.molecular_formula }}: The drying time of 20 minutes/ Trolley at {{ storage.temperature }} temperature was found to be suitable drying time for the granules of {{ drug.name }} {{ drug.pharmacopoeia_standard }} {{ drug.strength }} {{ drug.dosage_form }} because at this time final moisture content of the granules was found to be uniform (3.0 – 3.5%).

{{ drug.molecular_formula }} {{ drug.molecular_formula }}                                                                                                          {{ drug.molecular_formula }} {{ drug.molecular_formula }} {{ drug.molecular_formula }}

Weight of {{ drug.dosage_form }} = [1] T 20: 3.524 gms - Avg. wt.  : 0.{{ drug.strength }}

[2] T 20: 3.484 gms - Avg. wt.  : 0.{{ drug.strength }}

{{ drug.molecular_formula }} {{ drug.molecular_formula }}                                                                                                          {{ drug.molecular_formula }} {{ drug.molecular_formula }} {{ drug.molecular_formula }}

Weight of {{ drug.dosage_form }} = [1] T 20: 3.522 gms - Avg. wt.  : 0.{{ drug.strength }}

[2] T 20: 3.500 gms - Avg. wt.  : 0.{{ drug.strength }}

{{ drug.molecular_formula }} {{ drug.molecular_formula }}                                                                                                          {{ drug.molecular_formula }} {{ drug.molecular_formula }} {{ drug.molecular_formula }}

Weight of {{ drug.dosage_form }} = [1] T 20: 3.512 gms - Avg. Wt.: 0.{{ drug.strength }}

[2] T 20: 3.490 gms - Avg. wt.: 0.{{ drug.strength }}

{{ drug.molecular_formula }}: The process validation of the manufacturing steps of {{ drug.name }} {{ drug.pharmacopoeia_standard }} {{ drug.strength }} {{ drug.dosage_form }} was performed according to the validation protocol. All the data were collected and evaluated by the validation team. The team has then prepared this report for certifying that all manufacturing steps of {{ drug.name }} {{ drug.pharmacopoeia_standard }} {{ drug.strength }} {{ drug.dosage_form }} were validated.

{{ drug.molecular_formula }} & {{ drug.molecular_formula }}: - The recorded results were evaluated by the validation team and after the examinations of critical parameters and acceptance criteria; the following manufacturing parameters are set for manufacturing {{ drug.name }} {{ drug.pharmacopoeia_standard }} {{ drug.strength }} {{ drug.dosage_form }}.

Manufacturing Parameters:-

{# TABLE #}
| BATCH NO. | DATE | DRYING TIME (mins) | DRYING TEMPERATURE (0C) | % MOISTURE CONTENT | % YIELD |
| --- | --- | --- | --- | --- | --- |
| LP01/Trial 1 | {{ submission_date }} | 10 mins(Semi Drying) | {{ storage.temperature }} | 6.0 | 98.88 |
| LP01/Trial 1 | {{ submission_date }} | 10 mins(Final Drying) | {{ storage.temperature }} | 3.1 | 98.88 |
| LP 01/Trial 2 | {{ submission_date }} | 10 mins(Semi Drying) | {{ storage.temperature }} | 6.0 | 98.99 |
| LP 01/Trial 2 | {{ submission_date }} | 10 mins(Final Drying) | {{ storage.temperature }} | 3.0 | 98.99 |
| LP 01/Trial 3 | {{ submission_date }} | 10 mins(Semi Drying) | {{ storage.temperature }} | 6.5 | 98.76 |
| LP 01/Trial 3 | {{ submission_date }} | 10 mins(Final Drying) | {{ storage.temperature }} | 3.2 | 98.76 |

{# TABLE #}
| BMR DOC. NO:-                          ME/MFT055/2018 | DATE:                      02/11/18 |
| --- | --- |
| {{ drug.molecular_formula }} {{ drug.molecular_formula }}:          {{ drug.molecular_formula }} | {{ drug.molecular_formula }}:             {{ drug.name }} {{ drug.pharmacopoeia_standard }} {{ drug.strength }} {{ drug.dosage_form }} |
| {{ drug.molecular_formula }}:-                                  {{ drug.molecular_formula }} {{ drug.molecular_formula }} {{ drug.molecular_formula }} | {{ drug.molecular_formula }}:                    GL/PR/{{ drug.molecular_formula }} |
| {{ drug.molecular_formula }}:-                                 {{ drug.molecular_formula }} {{ drug.molecular_formula }}
{{ drug.molecular_formula }} {{ drug.molecular_formula }}:-                  170.{{ drug.strength }}±5%/ {{ drug.dosage_form }} | Temp0C = 45±{{ storage.temperature }}, % RH 50±5% |

{# TABLE #}
| Batch No | DATE | SPEED (RPM) | Time (Hr) | Thickness 3.60mm ± 0.2mm | Thickness 3.60mm ± 0.2mm | Wt. of 20 Tablets 3.40g ± 5% | Wt. of 20 Tablets 3.40g ± 5% | Hardness NLT 3.0kg/cm2 | Hardness NLT 3.0kg/cm2 | Disintegration Time (Sec) | Disintegration Time (Sec) | Friability   NMT 2.0 % | % Yield | % Assay |
| --- | --- | --- | --- | --- | --- | --- | --- | --- | --- | --- | --- | --- | --- | --- |
| Batch No | {{ drug.molecular_formula }} | {{ drug.molecular_formula }} ({{ drug.molecular_formula }}) | Time (Hr) | Max. | Max. | Max. | Max. | Max. | Max. | Max. | Max. | Friability   {{ drug.molecular_formula }} 2.0 % | % Yield | % Assay |
| LP 01 / Trial 1 | {{ submission_date }} | 30 | 0
0.5
1
2
3
4
5 | 3.62
3.64
3.59
3.65
3.59
3.65
3.60 | 3.62
3.64
3.59
3.65
3.59
3.65
3.60 | 3.424
3.426
3.464
3.462
3.450
3.456
3.426 | 3.424
3.426
3.464
3.462
3.450
3.456
3.426 | 6.60
7.00
6.20
6.50
6.50
7.00
7.20 | 6.60
7.00
6.20
6.50
6.50
7.00
7.20 | Not more than 15mins | Not more than 15mins | 0.08
0.06
0.10
0.08
0.07
0.09
0.12 | 97.07 | {{ drug.name }} {{ drug.pharmacopoeia_standard }} {{ drug.strength }} {{ drug.dosage_form }} =  99.46% |

{# TABLE #}
| BMR DOC. NO:-                          ME/MFT055/2018 | DATE:                      02/11/18 |
| --- | --- |
| {{ drug.molecular_formula }} {{ drug.molecular_formula }}:          {{ drug.molecular_formula }} | {{ drug.molecular_formula }}:             {{ drug.name }} {{ drug.pharmacopoeia_standard }} {{ drug.strength }} {{ drug.dosage_form }} |
| {{ drug.molecular_formula }}:-                                  {{ drug.molecular_formula }} {{ drug.molecular_formula }} {{ drug.molecular_formula }} | {{ drug.molecular_formula }}:                    GL/PR/{{ drug.molecular_formula }} |
| {{ drug.molecular_formula }}:-                                 {{ drug.molecular_formula }} {{ drug.molecular_formula }}
{{ drug.molecular_formula }} {{ drug.molecular_formula }}:-                  170.{{ drug.strength }}±5%/ {{ drug.dosage_form }} | Temp0C = 45±{{ storage.temperature }}, % RH 50±5% |

{# TABLE #}
| Batch No | DATE | SPEED (RPM) | Time (Hr) | Thickness 3.60mm ± 0.2mm | Thickness 3.60mm ± 0.2mm | Wt. of 20 Tablets 3.40g ± 5% | Wt. of 20 Tablets 3.40g ± 5% | Hardness NLT 3.0kg/cm2 | Hardness NLT 3.0kg/cm2 | Disintegration Time (Sec) | Disintegration Time (Sec) | Friability   NMT 2.0 % | % Yield | % Assay |
| --- | --- | --- | --- | --- | --- | --- | --- | --- | --- | --- | --- | --- | --- | --- |
| Batch No | {{ drug.molecular_formula }} | {{ drug.molecular_formula }} ({{ drug.molecular_formula }}) | Time (Hr) | Max. | Max. | Max. | Max. | Max. | Max. | Max. | Max. | Friability   {{ drug.molecular_formula }} 2.0 % | % Yield | % Assay |
| LP 01 / Trial 2 | {{ submission_date }} | 30 | 0
0.5
1
2
3
4
5 | 3.62
3.63
3.59
3.65
3.59
3.65
3.60 | 3.62
3.63
3.59
3.65
3.59
3.65
3.60 | 3.424
3.446
4.469
3.452
3.478
3.480
3.429 | 3.424
3.446
4.469
3.452
3.478
3.480
3.429 | 6.20
7.10
6.90
7.50
7.40
7.00
6.80 | 6.20
7.10
6.90
7.50
7.40
7.00
6.80 | Not more than 15mins | Not more than 15mins | 0.09
0.10
0.12
0.09
0.08
0.10
0.14 | 97.18 | {{ drug.name }} {{ drug.pharmacopoeia_standard }} {{ drug.strength }} {{ drug.dosage_form }} =  99.06% |

{# TABLE #}
| BMR DOC. NO:-                          ME/MFT055/2018 | DATE:                      02/11/18 |
| --- | --- |
| {{ drug.molecular_formula }} {{ drug.molecular_formula }}:          {{ drug.molecular_formula }} | {{ drug.molecular_formula }}:             {{ drug.name }} {{ drug.pharmacopoeia_standard }} {{ drug.strength }} {{ drug.dosage_form }} |
| {{ drug.molecular_formula }}:-                                  {{ drug.molecular_formula }} {{ drug.molecular_formula }} {{ drug.molecular_formula }} | {{ drug.molecular_formula }}:                    GL/PR/{{ drug.molecular_formula }} |
| {{ drug.molecular_formula }}:-                                 {{ drug.molecular_formula }} {{ drug.molecular_formula }}
{{ drug.molecular_formula }} {{ drug.molecular_formula }}:-                  170.{{ drug.strength }}±5%/ {{ drug.dosage_form }} | Temp0C = 45±{{ storage.temperature }}, % RH 50±5% |

{# TABLE #}
| Batch No | DATE | SPEED (RPM) | Time (Hr) | Thickness 3.60mm ± 0.2mm | Thickness 3.60mm ± 0.2mm | Wt. of 20 Tablets 3.40g ± 5% | Wt. of 20 Tablets 3.40g ± 5% | Hardness NLT 3.0kg/cm2 | Hardness NLT 3.0kg/cm2 | Disintegration Time (Sec) | Disintegration Time (Sec) | Friability   NMT 2.0 % | % Yield | % Assay |
| --- | --- | --- | --- | --- | --- | --- | --- | --- | --- | --- | --- | --- | --- | --- |
| Batch No | {{ drug.molecular_formula }} | {{ drug.molecular_formula }} ({{ drug.molecular_formula }}) | Time (Hr) | Max. | Max. | Max. | Max. | Max. | Max. | Max. | Max. | Friability   {{ drug.molecular_formula }} 2.0 % | % Yield | % Assay |
| LP 01 / Trial 3 | {{ submission_date }} | 30 | 0
0.5
1
2
3
4
5 | 3.65
3.60
3.80
3.65
3.70
3.65
3.60 | 3.65
3.60
3.80
3.65
3.70
3.65
3.60 | 3.436
3.468
3.475
3.490
3.472
3.498
3.422 | 3.436
3.468
3.475
3.490
3.472
3.498
3.422 | 6.00
7.00
6.90
7.40
7.20
7.00
6.70 | 6.00
7.00
6.90
7.40
7.20
7.00
6.70 | Not more than 15mins | Not more than 15mins | 0.12
0.11
0.08
0.09
0.08
0.10
0.15 | 97.18 | {{ drug.name }} {{ drug.pharmacopoeia_standard }} {{ drug.strength }} {{ drug.dosage_form }} =  99.55% |

{# TABLE #}
| Mixing Time | 5 minutes |
| --- | --- |
| Weight variation | {{ drug.strength }}± 5% |
| Granulation Time | 15 minutes |
| Drying Time | 20 minutes per Trolley |
| Final Moisture Content | {{ drug.molecular_formula }} 3.0  TO 3.5 % w/w |
| Lubrication Time | 5 minutes |
| Hardness of the Table | {{ drug.molecular_formula }} 3.0kg/ cm2 |
| Disintegration Time (Uncoated) | {{ drug.molecular_formula }} 15 mins |
| Disintegration Time (Film coated) | {{ drug.molecular_formula }} 30 mins |
| Friability | {{ drug.molecular_formula }} 2% w/w |
| Thickness | 3.70 ±0.2mm |
| Drying Temperature | {{ drug.molecular_formula }} {{ storage.temperature }} Inlet Temperature |
