{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Telmisartan 40mg
  Module: unclassified
  Vars  : 2
#}

## {{ drug.molecular_formula }} {{ drug.molecular_formula }}

{# TABLE #}
| Batch No. | Date | Mixing time (minutes) | Sample | Speed (RPM) | Validation Testing Points | Validation Testing Points |
| --- | --- | --- | --- | --- | --- | --- |
| Batch No. | Date | Mixing time (minutes) | Sample | Speed ({{ drug.molecular_formula }}) | Compressibility Index = 100(V0 - Vf)/V0 | Compressibility Index = 100(V0 - Vf)/V0 |
| TS 01 – Trial 1 | {{ submission_date }} | 5 | 1L1       
1L2       
1L3 | Constant | 11.28
13.05
11.95 | 11.28
13.05
11.95 |
| TS 01 – Trial 2 | {{ submission_date }} | 5 | 1L1
1L2
1L3 | Constant | 10.05
10.13
11.15 | 10.05
10.13
11.15 |
