{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Metformin Hydrochloride 500mg
  Module: unclassified
  Vars  : 6
#}

## {{ drug.molecular_formula }} {{ drug.molecular_formula }}

{{ drug.molecular_formula }}: The drying time of 20 minutes/ Trolley at {{ storage.temperature }} temperature was found to be suitable drying time for the granules of {{ drug.name }} {{ drug.dosage_form }} because at this time final moisture content of the granules was found to be uniform (3.2 – 3.5%).

{# TABLE #}
| BATCH NO | DATE | DRYING TIME (mins) | DRYING TEMPERATURE (0C) | % MOISTURE CONTENT | % YIELD |
| --- | --- | --- | --- | --- | --- |
| MH 01 | {{ submission_date }} | 10 mins(Semi Drying)

10 mins(Final Drying) | {{ storage.temperature }} | 8.0

3.5 | 95.50 |
| MH 02 | {{ submission_date }} | 10 mins(Semi Drying)

10 mins(Final Drying) | {{ storage.temperature }} | 9.5

3.4 | 95.50 |
| MH 03 | {{ submission_date }} | 10 mins(Semi Drying)

10 mins(Final Drying) | {{ storage.temperature }} | 8.2

3.2 | 95.70 |
