{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Metformin Hydrochloride 500mg
  Module: unclassified
  Vars  : 2
#}

## {{ drug.molecular_formula }} {{ drug.molecular_formula }}

{# TABLE #}
| Batch No. | Date | Mixing time (minutes) | Sample | VALIDATION TESTING POINTS
Speed               Content                                COMPRESSIBILITY  INDEX                                         
(RPM)               (% assay)	                                       = 100 (V0-Vf)/vo |
| --- | --- | --- | --- | --- |
| MH 01 | {{ submission_date }} | 5  Mins. | 1L1       
1L2       
1L3 | {{ drug.molecular_formula }} {{ drug.molecular_formula }} {{ drug.pharmacopoeia_standard }} – 99.06                                  11.18                                                                     
                 {{ drug.molecular_formula }} {{ drug.molecular_formula }} {{ drug.pharmacopoeia_standard }}-  98. 46                                 13.09                                        
                 {{ drug.molecular_formula }} {{ drug.molecular_formula }} {{ drug.pharmacopoeia_standard }}-  99.39                                  11.99                                         
constant |
| MH 02 | {{ submission_date }} | 5 Mins. | 1L1
1L2
1L3 | {{ drug.molecular_formula }} {{ drug.molecular_formula }} {{ drug.pharmacopoeia_standard }} – 98.44                                10.08                                                              
  {{ drug.molecular_formula }} {{ drug.molecular_formula }} {{ drug.pharmacopoeia_standard }} -  99.02                                10.11                                 
  {{ drug.molecular_formula }} {{ drug.molecular_formula }} {{ drug.pharmacopoeia_standard }} -  98.67                                11.20                                 
Constant |
