{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Amlodipine 5mg
  Module: unclassified
  Vars  : 10
#}

## Criteria

Inclusion Criteria:

Male or female aged ≥ 19 and ≤ 75 years old

Subject with essential hypertension

Subject who have voluntarily agreed to participate in the trial and signed the written informed consent form, after having listened to the purpose, method, and effect of the clinical trial

Exclusion Criteria:

Subject who is siDBP ≥ 120 mmHg or siSBP ≥ 200 mmHg at Visit 1 (screening)

Subject with difference in the mean blood pressure of over 10 mmHg for siDBP or 20 mmHg for siSBP between both arms at the screening visit

Subject with known or suspected secondary hypertension [Including but not limited to any of the following: renovascular diseases, adrenal medullary and cortical hyperfunctions, coarctation of the aorta, primary hyperaldosteronism, unilateral or bilateral renal artery stenosis, Cushing's syndrome, pheochromo-cytoma, polycystic kidney disease, etc.]

Subject with symptomatic orthostatic hypotension(a sudden fall in siDBP of at least 10 mmHg or siSBP of at least 20 mmHg after standing compared with blood pressure from the sitting or supin position)

Subject with type 1 or type 2 diabetes mellitus with poor glucose control (defined as subject on inculin treatment, with HbA1c > 9.0% or with a modification in the {{ drug.route_of_administration }} anti-hyperglycemic medication regiment within the past 12 weeks prior to visit 1)

Subject with severe heart disease(congestive heart failure({{ drug.molecular_formula }} class 3 or 4), ischemic heart disease within the past 6 months(unstable angina, myocardial infarction), peripheral blood vascula disease, history of Percutaneous Transluminal Coronary Angioplasty or coronary artery bypass grafting)

Subject with clinically significant ventricular tachycardia, atrial fibrillation, atrial flutter or other clinically significant arrhythmia

Subject with hypertrophic obstructive cardiomyopathy, severe obstructive coronary artery disease, aortic stenosis, haemodynamically relevant stenosis of the aortic or mitral valve

Subject with cardiogenic shock

Subject with severe cerebrovascular disease (history of stroke, cerebral infraction, or cerebral hemorrhage within the past 6 months)

Subject with a history of or ongoing wasting disease, autoimmune diseases(rheumatoid arthritis, systemic lupus erythematosus, etc.) or connective tissue disease

Subject with known moderate or malignant retinopathy (history of retinal signs of hemorrhage, visual impairment, retinal microaneurysm etc. within the past 6 months)

Subject with any surgical or medical condition of the gastrointestinal tract that might significantly alter the absorption, distribution, metabolism or excretion of the drug

Subject with a history of malignant tumors including leukemia and lymphoma within the past 5 years(except for localized basal cell carcinoma of the skin)

Subject with any chronic inflammatory condition needing chronic anti-inflammatory therapy

Subject with chronic kidney disease on dialysis

Subject with the following clinically significant laboratory abnormalities:

{{ drug.molecular_formula }} or {{ drug.molecular_formula }} > 3 x Upper Limit Normal({{ drug.molecular_formula }})

Serum Creatinine > 1.5 {{ drug.molecular_formula }}

Serum potassium < 3.5 mmol/L or > 5.5mmol/L

Subject requiring concomitant use of other antihypertensive or contraindicated drugs during the entire study period

Subject with known or suspected contraindications, including history of allergy or hypersensitivity to {{ drug.molecular_formula }} or dihydropyridine derivatives

Subject who have previously experienced symptoms characteristic of angioedema during treatment with {{ drug.molecular_formula }} inhibitors or {{ drug.molecular_formula }}

Pregnant women or lactating mother, women suspected of being pregnant, women who wish to be pregnant during the study or women of child-bearing potential who are not using medically acceptable methods of contraception ({{ drug.route_of_administration }} contraceptive, intra-uterine device, condom, etc.), except for women with surgical sterilization. Pre-menopausal women who are not surgically sterilized must have a negative pregnancy test result at Visit1 and maintain acceptable methods of contraception throughout the study. periodic abstinence (e.g. symptothermal, calendar, post-ovulation methods), or hormonal contraceptive are not acceptable methods of contraception

History of drug or alcohol abuse within the past 1 year

Use of other investigational products within the past 4 weeks

Subject who are judged unsuitable to participate in the study in the opinion of the investigator
