{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Losartan Potassium 50mg
  Module: unclassified
  Vars  : 0
#}

## (d)	Other:

{# TABLE #}
| col_0 | col_1 |
| --- | --- |
| Property |  |
| pH | -- |
| pK | 5 - 6 |
| Partition coefficients | -- |
| Melting/boiling points | {{ storage.temperature }} |
| Specific optical rotation (specify solvent) | -- |
| Refractive index (liquids) | -- |
| Hygroscopicity | -- |
| UV absorption maxima/molar absorptivity | -- |
| Other | -- |
| Chirality | -- |
