{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Telmisartan 40mg
  Module: unclassified
  Vars  : 1
#}

## {{ drug.molecular_formula }}

4-[[4-Methyl-6-(1-methyl-1H-benzimidazol-2-yl)-2-propyl-1H-benzimidazol-1-yl]methyl]

biphenyl-2-carboxylic acid.
