{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Telmisartan 40mg
  Module: unclassified
  Vars  : 0
#}

## Description of Manufacturing Area:

The plant is built up of suitable size, construction and location to facilitate cleaning, maintenance & proper operations. The building is built with adequate space & facilities to prevent processing mix – up & cross – contamination. During the construction of building special attention is given to keep proper segregation of materials, equipment and man movement. All construction is done as per the approved design & the details given by experts. The building premises are divided into various sections depending on the operations carried out.
