{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Telmisartan 40mg
  Module: unclassified
  Vars  : 1
#}

## {{ drug.molecular_formula }}

Examined under a microscope it presents granules either angular polyhedral 2 µm to 23 µm in size, or rounded 25 µm to 32 µm in size. The central hilum consists of a distinct cavity or two- to five-rayed cleft and there are no concentric striations. Between crossed nicol prisms, the starch granules show a distinct black cross intersecting at the hilum.
