{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Glibenclamide 5mg
  Module: unclassified
  Vars  : 16
#}

## {{ drug.molecular_formula }} OF {{ drug.molecular_formula }}

{{ drug.molecular_formula }} {{ drug.molecular_formula }}:               {{ drug.name }} {{ drug.dosage_form }}

{{ drug.molecular_formula }} {{ drug.molecular_formula }}:                {{ drug.name }} B.P. {{ drug.strength }} {{ drug.dosage_form }}

{{ drug.molecular_formula }} {{ drug.molecular_formula }} No.:      ME/{{ drug.molecular_formula }}/2018

{{ batch_number }}:                        50,{{ storage.pack_size }}

{# TABLE #}
| (e) Batch No | GB 01 Trial 1 | GB 01 Trial 2 | GB 01 Trial 3 |
| --- | --- | --- | --- |
| (f)Date of Manufacture | {{ submission_date }} |  |  |

{# TABLE #}
| col_0 | col_1 | col_2 | col_3 |
| --- | --- | --- | --- |
|  | {{ drug.molecular_formula }} BY | {{ drug.molecular_formula }} BY | {{ drug.molecular_formula }} BY |
| {{ drug.molecular_formula }} |  |  |  |
| {{ drug.molecular_formula }} |  |  |  |
| {{ drug.molecular_formula }} |  |  |  |
| {{ drug.molecular_formula }} |  |  |  |
