{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Losartan Potassium 50mg
  Module: unclassified
  Vars  : 6
#}

## {{ drug.molecular_formula }} OF {{ drug.molecular_formula }}:

Calculate the total content of {{ drug.name }}, ({{ drug.molecular_formula }}), in the medium from the absorbances obtained and using the declared content of ({{ drug.molecular_formula }}) in {{ drug.name }}.
