{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Telmisartan 40mg
  Module: unclassified
  Vars  : 1
#}

## Discussion of microbiological attributes of the {{ drug.molecular_formula }} (e.g. preservative effectiveness studies):

{# TABLE #}
| Test  for  Total  Viable  Microbial Count | Not more than 100 CFU/gm | Not more than 100 CFU/gm |
| --- | --- | --- |
| Pathogens |  |  |
