{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Losartan Potassium 50mg
  Module: unclassified
  Vars  : 1
#}

## Dissolution:

Comply with requirement in the dissolution test for {{ drug.dosage_form }}
