{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Losartan Potassium 50mg
  Module: unclassified
  Vars  : 0
#}

##### Distribution

The volume of distribution of Losartan and the active metabolite is about 34 liters and 12 liters, respectively. Both Losartan and its active metabolite are highly bound to plasma proteins, primarily albumin, with plasma free fractions of 1.3% and 0.2%, respectively. Plasma protein binding is constant over the concentration range achieved with recommended doses. Studies in rats indicate that Losartan crosses the blood-brain barrier poorly, if at all.
