{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Metformin Hydrochloride 500mg
  Module: unclassified
  Vars  : 2
#}

## {{ drug.molecular_formula }}: 10.14218/{{ drug.molecular_formula }}.2017.00010

Received: March 16, 2017

Accepted: July 31, 2017

Published online: August 17, 2017
