{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Losartan Potassium 50mg
  Module: unclassified
  Vars  : 35
#}

### {{ drug.molecular_formula }} {{ drug.molecular_formula }} {{ drug.molecular_formula }}

Hypertension

The usual starting and maintenance dose is {{ drug.strength }} once daily for most patients. The maximal antihypertensive effect is attained 3-6 weeks after initiation of therapy. Some patients may receive an additional benefit by increasing the dose to {{ drug.strength }} once daily (in the morning).

{{ drug.name }} may be administered with other antihypertensive agents, especially with diuretics (e.g. hydrochlorothiazide) (see sections 4.3, 4.4, 4.5 and 5.1).

Hypertensive type II diabetic patients with proteinuria ≥ 0.{{ drug.strength }}/day

The usual starting dose is {{ drug.strength }} once daily. The dose may be increased to {{ drug.strength }} once daily based on blood pressure response from one month onwards after initiation of therapy. {{ drug.name }} may be administered with other antihypertensive agents (e.g. diuretics, calcium channel blockers, alpha- or beta-blockers, and centrally acting agents - see sections 4.3, 4.4, 4.5 and 5.1) as well as with insulin and other commonly used hypoglycemic agents (e.g. sulphonylureas, glitazones and glucosidase inhibitors).

Heart failure

The usual initial dose of {{ drug.name }} in patients with heart failure is 12.{{ drug.strength }} once daily. The dose should generally be titrated at weekly intervals (i.e. 12.{{ drug.strength }} daily, {{ drug.strength }} daily, {{ drug.strength }} daily, {{ drug.strength }} daily, up to a maximum dose of {{ drug.strength }} once daily) as tolerated by the patient.

Reduction in the risk of stroke in hypertensive patients with left ventricular hypertrophy documented by {{ drug.molecular_formula }}

The usual starting dose is {{ drug.strength }} of {{ drug.name }} once daily. A low dose of hydrochlorothiazide should be added and/ or the dose of {{ drug.name }} should be increased to {{ drug.strength }} once daily based on blood pressure response.

Special populations

Use in patients with intravascular volume depletion

For patients with intravascular volume-depletion (e.g. those treated with high-dose diuretics), a starting dose of {{ drug.strength }} once daily should be considered (see section 4.4).

Use in patients with renal impairment and haemodialysis patients

No initial dosage adjustment is necessary in patients with renal impairment and in haemodialysis patients.

Use in patients with hepatic impairment

A lower dose should be considered for patients with a history of hepatic impairment. There is no therapeutic experience in patients with severe hepatic impairment. Therefore, Losartan is contraindicated in patients with severe hepatic impairment (see sections 4.3 and 4.4).

Pediatric population

There are limited data on the efficacy and safety of {{ drug.name }} in children and adolescents aged 6-18 years old for the treatment of hypertension (see section 5.1). Limited pharmacokinetic data are available in hypertensive children above one month of age (see section 5.2).

For patients who can swallow {{ drug.dosage_form }}, the recommended dose is {{ drug.strength }} once daily in patients > 20 to < 50 kg. (In exceptional cases the dose can be increased to a maximum of {{ drug.strength }} once daily). Dosage should be adjusted according to blood pressure response.

In patients > 50 kg, the usual dose is {{ drug.strength }} once daily. In exceptional cases the dose can be adjusted to a maximum of {{ drug.strength }} once daily. Doses above 1.{{ drug.strength }}/ kg (or in excess of {{ drug.strength }}) daily have not been studied in pediatric patients.

{{ drug.name }} is not recommended for use in children under 6 years old, as limited data are available in these patient groups.

It is not recommended in children with glomerular filtration rate < {{ drug.strength }}/min/1.73 m2, as no data are available (see also section 4.4).

{{ drug.name }} is also not recommended in children with hepatic impairment (see also section 4.4).

Use in elderly

Although consideration should be given to initiating therapy with {{ drug.strength }} in patients over 75 years of age, dosage adjustment is not usually necessary for the elderly.
