{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Amlodipine 5mg
  Module: unclassified
  Vars  : 4
#}

## Elderly

The time to reach peak plasma concentrations of {{ drug.name }} is similar in elderly and younger subjects. {{ drug.name }} clearance tends to be decreased with resulting increases in {{ drug.molecular_formula }} and elimination half-life in elderly patients. Increases in {{ drug.molecular_formula }} and elimination half-life in patients with congestive heart failure were as expected for the patient age group studied.
