{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Amlodipine 5mg
  Module: unclassified
  Vars  : 1
#}

## Elderly

{{ drug.name }} used at similar doses in elderly or younger patients is equally well tolerated. Normal dosage regimens are recommended in the elderly, but increase of the dosage should take place with care.
