{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Telmisartan 40mg
  Module: unclassified
  Vars  : 5
#}

## {{ drug.molecular_formula }} {{ drug.molecular_formula }} {{ drug.molecular_formula }} {{ drug.molecular_formula }} {{ drug.molecular_formula }}

{# TABLE #}
| S/N | EQUIPMENT TYPE |
| --- | --- |
| 1. | Scoops, Containers |
| 2. | Sifter ( # 20, #40, # 60, #80, # 100) |
| 3. | Mass Mixer ( 20 kg ) |
| 4. | Multi Mill (10mm, 1.5mm, 2mm) |
| 5. | Roche Friability Test Apparatus |
| 6. | Fluid Bed Dryer |
| 7. | {{ drug.dosage_form }} Compression Machine |
| 8. | Platform and Double Pan Balance |
| 9. | Disintegration Test Apparatus |
