{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Telmisartan 40mg
  Module: unclassified
  Vars  : 0
#}

## Facility Details:

The manufacturing site is located in Oshodi Industrial scheme, along Oshodi-Apapa express way, (oshodi bus stop). At present, on the right side, we have Nigalex( mfgr of Aluminium works) and left side is Hassan steel ( mfgr of steel works) .The front side is Zenith Bank. Our Neighbour is C- way (mfgr of drinking water).

Infrastructure such as, power, water and roads are available. Excellent communication and transport facilities are available in the area.
