{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Metformin Hydrochloride 500mg
  Module: unclassified
  Vars  : 0
#}

## Fertility, pregnancy and lactation

To date, no relevant epidemiological data are available. Animal studies do not indicate harmful effects with respect to pregnancy, embryonal or foetal development, parturition or postnatal development (see section 5.3)

When the patient plans to become pregnant and during pregnancy, diabetes should not be treated with Metformin but insulin should be used to maintain blood glucose levels as close to normal as possible in order to lower the risk of foetal malformations associated with abnormal blood glucose levels.

Metformin is excreted into milk in lactating rats. Similar data is not available in humans and a decision should be made whether to discontinue nursing or to discontinue Metformin, taking into account the importance of the compound to the mother.
