{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Glibenclamide 5mg
  Module: unclassified
  Vars  : 1
#}

## g. {{ drug.molecular_formula }}

{# TABLE #}
| S/N | INGREDIENTS                                  SPECIFICATION | QUANTITY (kg) |
| --- | --- | --- |
| 1 | {{ drug.name }}	         {{ drug.pharmacopoeia_standard }} | 0.250 |
| 2 | Starch                                                              {{ drug.pharmacopoeia_standard }} | 1.750 |
| 3 | Lactose	          {{ drug.pharmacopoeia_standard }} | 4.000 |
| 4 | {{ drug.molecular_formula }}	         {{ drug.pharmacopoeia_standard }} | 1.500 |
| 5 | {{ drug.molecular_formula }}                                                                  {{ drug.pharmacopoeia_standard }} | 1.500 |
| 6 | {{ drug.molecular_formula }} K30                                                          {{ drug.pharmacopoeia_standard }} | 0.300 |
| 7 | Magnesium Stearate	         {{ drug.pharmacopoeia_standard }} | 0.500 |
| 8 | Talcum	         {{ drug.pharmacopoeia_standard }} | 0.100 |
| 9 | {{ drug.molecular_formula }}	        {{ drug.pharmacopoeia_standard }} | 0.500 |
|  |  |  |
|  |  |  |

{# TABLE #}
| col_0 | col_1 | col_2 | col_3 |
| --- | --- | --- | --- |
|  | {{ drug.molecular_formula }} BY | {{ drug.molecular_formula }} BY | {{ drug.molecular_formula }} BY |
| {{ drug.molecular_formula }} |  |  |  |
| {{ drug.molecular_formula }} |  |  |  |
| {{ drug.molecular_formula }} |  |  |  |
| {{ drug.molecular_formula }} |  |  |  |
