{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Losartan Potassium 50mg
  Module: unclassified
  Vars  : 0
#}

## General properties

{# TABLE #}
| LOSARTAN POTASSIUM | LOSARTAN POTASSIUM |
| --- | --- |
| White to off-white crystalline powder. | White to off-white crystalline powder. |
| Freely soluble in water, sparingly soluble in Isopropyl Alcohol, slightly soluble in Acetonitrile. | Freely soluble in water, sparingly soluble in Isopropyl Alcohol, slightly soluble in Acetonitrile. |
|  |  |
| A yellow or orange-yellow precipitate is produced. | A yellow or orange-yellow precipitate is produced. |
| The UV absorption spectra of the test {{ drug.dosage_form }} and the standard {{ drug.dosage_form }} exhibit maxima and minima at the same wave length. | The UV absorption spectra of the test {{ drug.dosage_form }} and the standard {{ drug.dosage_form }} exhibit maxima and minima at the same wave length. |
| The IR absorption spectrum of the test preparation exhibits maxima and minima only at the same wavelengths as that of a similar preparation of the {{ drug.name }} working standard. | The IR absorption spectrum of the test preparation exhibits maxima and minima only at the same wavelengths as that of a similar preparation of the {{ drug.name }} working standard. |
| -  Any individual impurity: not more than 0.50%
- Total impurities: not more than 1.0% | -  Any individual impurity: not more than 0.50%
- Total impurities: not more than 1.0% |
| Maximum 20ppm | Maximum 20ppm |
| Not more than 0.5% | Not more than 0.5% |
| Maximum 0.1% | Maximum 0.1% |
| 98.0% to 102.0% | 98.0% to 102.0% |
