{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Glibenclamide 5mg
  Module: unclassified
  Vars  : 1
#}

## {{ drug.name }}

{# TABLE #}
| Appearance | White or almost white, crystalline powder. |
| --- | --- |
| Solubility | Sparingly soluble in methylene chloride; Slightly soluble in ethanol (96%) and in methanol, practically insoluble in water. |
| Melting range | Melts between 169 o C to 174 o C |
| UV Absorption | Absorption maxima : At 275nm and 300nm
Specific absorbance :
At 275nm  =  27 to 32
At 300nm  =  61 to 65 |
| Loss on drying | Not more than 1.0% |
| Assay | 99.0% to 101.0%  (dried basis) |
