{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Telmisartan 40mg
  Module: unclassified
  Vars  : 16
#}

## {{ drug.molecular_formula }}

4.	Add the paste of Step No. 3 to Step No. 2 into the R.M.G. and mix until uniform granules obtained.

5.	Wet granules of the Step No. 4 are transferred to the {{ drug.molecular_formula }} {{ drug.molecular_formula }} {{ drug.molecular_formula }} and semi-drying operation is started for 10 minutes at {{ storage.temperature }}.

6.	After completion of semi-drying, semi-dried material of the Bowl is passed through {{ drug.molecular_formula }} using 3 mm S.S. Sieve & granules are collected in a clean S.S. Vessel.

7.	Material of Step No. 6 is then transferred to the {{ drug.molecular_formula }} {{ drug.molecular_formula }} {{ drug.molecular_formula }} and final drying operation is started for 10 minutes at {{ storage.temperature }}.

8.	After completion of final drying, check the moisture content of the dried granules using I. R. {{ drug.molecular_formula }} {{ drug.molecular_formula }}. If moisture content of the dried granules is more than 1.0% w/w, repeat the Step No. 7 for 5 minutes.

9.	All the dried granules from Step No. 8 are sifted through {{ drug.molecular_formula }} using # 20 S.S. sieve.

10.	Oversize granules are crushed using {{ drug.molecular_formula }} 2.5 mm sieve and passed through {{ drug.molecular_formula }} using #20 S.S. Sieve.

11.	All the granules of Step No. 9 & Step No. 10 are collected in the plastic container and transferred to the Octagonal Blender. Mix it for 10 minutes.

12.	0.050 kgs of Magnesium Stearate, 0.100 kgs of Talcum, 0.025 Kg of Colloidal Silicon Dioxide and 0.150 Kg of Sodium Starch Glycolate  (Ingr. No.  7, 8, 9 & 10) are passed through {{ drug.molecular_formula }} using #80 S.S. Sieve and transferred to Octagonal Blender of Step No. 11. Start the blending operation and mix for 5 minutes.

13.Unload and store the lubricated granules of Step No. 12 into Plastic containers having     P.P.

Bag. Weigh the granules using calibrated platform balance.

Total weight of the granules ready: 7.625 kg

14.	Intimate the Quality Control for complete Analysis of granules.

15.	Only after getting approval from Quality Control department for release of granules, transfer the granules to the B.S.R.
