{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Telmisartan 40mg
  Module: unclassified
  Vars  : 25
#}

## Handling Precautions

Observe normal precautions appropriate to the circumstances and

quantity of material handled. Isopropyl alcohol may be irritant to

the skin, eyes, and mucous membranes upon {{ drug.route_of_administration }}. Eye

protection and gloves are recommended. Isopropyl alcohol should

be handled in a well-ventilated environment. In the UK, the longterm

(8-hour {{ drug.molecular_formula }}) workplace exposure limit for isopropyl alcohol

is {{ drug.strength }}/m3 (400 ppm); the short-term (15-minute) workplace

exposure limit is {{ drug.strength }}/m3 (500 ppm).(10) {{ drug.molecular_formula }} standards state

that {{ drug.molecular_formula }} 8-hour time weighted average airborne level in the

workplace cannot exceed 400 ppm. Isopropyl alcohol is flammable

and produces toxic fumes on combustion.

16 Regulatory Status

Included in the {{ drug.molecular_formula }} Inactive Ingredients Database ({{ drug.route_of_administration }} {{ drug.dosage_form }},

{{ drug.dosage_form }}, and {{ drug.route_of_administration }} preparations). Included in nonparenteral

medicines licensed in the UK. Included in the Canadian List of

Acceptable Non-medicinal Ingredients.

17 Related Substances

Propan-1-ol.

Propan-1-ol

Empirical formula {{ drug.molecular_formula }}

Molecular weight 60.1

{{ drug.molecular_formula }} number [71-23-8]

Synonyms Propanol; n-propanol; propyl alcohol; propylic alcohol.

Autoignition temperature {{ storage.temperature }}

Boiling point 97.{{ storage.temperature }}

Dielectric constant D 25 = 22.20

Explosive limits 2.15–13.15% v/v in air

Flash point {{ storage.temperature }} (closed cup)

Melting point –{{ storage.temperature }}

Refractive index n D

20 = 1.3862

Solubility Miscible with ethanol (95%), ether, and water.

Specific gravity 0.8053 at {{ storage.temperature }}

Viscosity (dynamic) 2.3 mPa s (2.3 cP) at {{ storage.temperature }}

Comments Propan-1-ol is more toxic than isopropyl alcohol. In

the UK, the long-term (8-hour {{ drug.molecular_formula }}) exposure limit for propan-

1-ol is {{ drug.strength }}/m3 (200 ppm); the short-term (15-minute)

exposure limit is {{ drug.strength }}/m3 (250 ppm).(10)

A specification for isopropyl alcohol is contained in the Food

Chemicals Codex ({{ drug.molecular_formula }}).(11)

The {{ drug.molecular_formula }} number for isopropyl alcohol is 200-661-7. The

PubChem Compound ID ({{ drug.molecular_formula }}) for isopropyl alcohol is 3776.
