{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Metformin Hydrochloride 500mg
  Module: unclassified
  Vars  : 1
#}

##### Hypoglycemic Agents

Substances which lower blood glucose levels.
See a list of PubChem compounds matching this category.

from {{ drug.molecular_formula }}
