{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Telmisartan 40mg
  Module: unclassified
  Vars  : 3
#}

## {{ drug.molecular_formula }}

Infrared absorption spectrophotometry (2.2.24) .

Comparisonı {{ drug.name }} {{ drug.molecular_formula }}.

If the spectra obtained in the solid state show differences, dissolve the substance to be

examined and the reference substance separately in hot anhydrous ethanol R , evaporate to

dryness and record new spectra using the residues.
