{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Telmisartan 40mg
  Module: unclassified
  Vars  : 1
#}

## Identification :

The retention time of the {{ drug.name }} in the chromatogram of the assay preparation corresponds to that in the chromatogram of the standard preparation, as obtained in assay exhibits.
