{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Telmisartan 40mg
  Module: unclassified
  Vars  : 6
#}

## {{ drug.molecular_formula }}

Suspend {{ drug.strength }} in {{ drug.strength }} of water R, boil for 1 min and cool. A thin, cloudy mucilage is formed.

To {{ drug.strength }} of the mucilage obtained in identification test A add 0.{{ drug.strength }} of iodine {{ drug.dosage_form }} R1. A dark blue colour is produced which disappears on heating and reappears on cooling.
