{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Telmisartan 40mg
  Module: unclassified
  Vars  : 2
#}

## Identify available literature references for the {{ drug.molecular_formula }} and {{ drug.molecular_formula }}:

{# TABLE #}
| Publication(s) | Most recent edition/volume
in which API/FPP appears | Most recent edition/volume
consulted |
| --- | --- | --- |
| {{ drug.molecular_formula }} status in pharmacopoeia and forum: {{ drug.name }} {{ drug.strength }} {{ drug.pharmacopoeia_standard }} |  |  |
| {{ drug.pharmacopoeia_standard }}. |  |  |
| {{ drug.pharmacopoeia_standard }}. monograph development (through www.who.int) |  |  |
| {{ drug.pharmacopoeia_standard }} |  |  |
| Pharmacopeial Forum |  |  |
| Ph.Eur. |  |  |
| Pharmeuropa |  |  |
| {{ drug.pharmacopoeia_standard }} | B.P 2014 |  |
| Other (e.g. JP) |  |  |
| {{ drug.molecular_formula }} status in pharmacopoeia and forum: {{ drug.name }} {{ drug.strength }} {{ drug.pharmacopoeia_standard }} |  |  |
| {{ drug.pharmacopoeia_standard }}. |  |  |
| {{ drug.pharmacopoeia_standard }} monograph development (through www.who.int) |  |  |
| {{ drug.pharmacopoeia_standard }} |  |  |
| Pharmacopeial Forum |  |  |
| {{ drug.pharmacopoeia_standard }} | B.P 2014 |  |
| Other (e.g. JP) |  |  |
| Other reference texts (e.g. public access reports): |  |  |
|  |  |  |

{# TABLE #}
| SUMMARY OF QUALITY ASSESSMENT OF LABELLING AND SAMPLES (WHO Use Only) |
| --- |
| Discussion/comments on the quality components of: |
| Summary of product characteristics
<insert assessment observations, comments, etc.> |
| Labelling (outer and inner labels)
<insert assessment observations, comments, etc.> |
| Package leaflet (patient information leaflet)
<insert assessment observations, comments, etc.> |
| Samples (e.g. {{ drug.molecular_formula }}, device)
<insert assessment observations, comments, etc.> |
