{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Glibenclamide 5mg
  Module: unclassified
  Vars  : 1
#}

## (ii) 	Composition of all components purchased as mixtures (e.g. colourants, coatings, {{ drug.dosage_form }} shells, imprinting inks):

Description of accompanying reconstitution diluent(s), if applicable:
