{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Losartan Potassium 50mg
  Module: unclassified
  Vars  : 1
#}

## (iii)	For fixed-dose combinations, compatibility of {{ drug.molecular_formula }} with each other:

N/A
