{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Amlodipine 5mg
  Module: unclassified
  Vars  : 4
#}

## Impairment of fertility

There was no effect on the fertility of rats treated with {{ drug.name }} (males for 64 days and females 14 days prior to mating) at doses up to {{ drug.strength }}/kg/day (8 times* the maximum recommended human dose of {{ drug.strength }} on a mg/m2 basis). In another rat study in which male rats were treated with {{ drug.name }} besylate for 30 days at a dose comparable with the human dose based on mg/kg, decreased plasma follicle-stimulating hormone and testosterone were found as well as decreases in sperm density and in the number of mature spermatids and Sertoli cells.
