{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Telmisartan 40mg
  Module: unclassified
  Vars  : 1
#}

## {{ drug.molecular_formula }}

Specified impuritiesı A, B, C, D.

Other detectable impuritiesı (The following substances would, if present at a sufficient level,

be detected by one or other of the tests in the monograph. They are limited by the general

acceptance criterion for other/unspecified impurities and/or by the general monograph

Substances for pharmaceutical use (2034). It is therefore not necessary to identify these

impurities for demonstration of compliance. See also 5.10. Control of impurities in substances

for pharmaceutical use): E, F, G, H.

4-methyl-6-(1-methyl-1H-benzimidazol-2-yl)-2-propyl-1H-benzimidazole,

ıB. 4-[[7-methyl-5-(1-methyl-1H-benzimidazol-2-yl)-2-propyl-1H-benzimidazol-1-yl]methyl]

biphenyl-2-carboxylic acid,

©

ıC. 1,1-dimethylethyl 4-[[4-methyl-6-(1-methyl-1H-benzimidazol-2-yl)-2-propyl-1Hbenzimidazol-

1-yl]methyl]biphenyl-2-carboxylate,

ıD. unidentified impurity,

E. 1-[(2-carboxybiphenyl-4-yl)methyl]-4-methyl-2-propyl-1H-benzimidazol-6-carboxylic acid,

ıF. 4-[[4-methyl-6-(1-methyl-1H-benzimidazol-2-yl)-2-propyl-1H-benzimidazol-1-yl]methyl]

biphenyl-2-carboxamide,

ıG. 4-[[4-methyl-6-(1-methyl-1H-benzimidazol-2-yl)-2-propyl-1H-benzimidazol-1-yl]methyl]

biphenyl-2-carbonitrile,

ıH. 1,1-dimethylethyl 4-(bromomethyl)biphenyl-2-carboxylate.
