{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Metformin Hydrochloride 500mg
  Module: unclassified
  Vars  : 4
#}

## In vivo BE study design

Ethical approval for the study was given by the Institute of Public Health, Obafemi Awolowo University, Ile-Ife, Nigeria. Written informed consent was obtained from each voluntary subject before commencement of drug administration and sample collection. Healthy volunteers (n = 22) between the ages of 18 and 28 years-old, with body weight ranging from 45 to 75 kg, were recruited for the study. Each subject underwent a physical examination and medical history-taking, both conducted by a physician. After an overnight fast, the subjects were given a single {{ drug.route_of_administration }} dose of {{ drug.strength }} metformin HCl {{ drug.dosage_form }}. Two products, consisting of a test product and a reference product, were administered to the subjects in a crossover fashion.

Study inclusion criteria included strict adherence to the following parameters: healthy adults; 18–45 years of age; non-smokers; not pregnant; and body mass index ({{ drug.molecular_formula }}) between 18–32 kg/m2. Medically healthy was determined according to medical history and findings of physical examination. All study participants were required to provide voluntary written informed consent and show willingness and ability to fast overnight. Exclusion criteria included: history of renal impairment; pregnancy or lactation; recent significant blood donation; recent participation in similar studies (within 28 days); evidence of alcoholism or drug abuse, especially of drugs that could cause hypoglycaemic effect; and history of hypersensitivity to biguanides.
