{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Glibenclamide 5mg
  Module: unclassified
  Vars  : 1
#}

## Indicate which option applies for the submission of {{ drug.molecular_formula }} information:

{# TABLE #}
| Name of API: | Name of API: | Glibenclamide B.P |
| --- | --- | --- |
|  |  | Name and address of Head Office:

{{ drug.molecular_formula }} {{ drug.molecular_formula }} {{ drug.molecular_formula }}
Plot No. 7407, {{ drug.molecular_formula }} Estate,
Ankleshwar-393 002.
District. Bharuch, Gujarat, India
Phone: +91 2646 222825 / 650406
Fax: +91 2646 222824
info@prudencepharma.com |
| Certificate of suitability to the {{ drug.pharmacopoeia_standard }} ({{ drug.molecular_formula }}) | Certificate of suitability to the {{ drug.pharmacopoeia_standard }} ({{ drug.molecular_formula }}) |  |
| Active pharmaceutical ingredient master file ({{ drug.molecular_formula }}) procedure:
{{ drug.molecular_formula }} number assigned by W.H.O (if known): _______ ; version number (and/or date) of the open part:             ; version number (and/or date) of the closed part | Active pharmaceutical ingredient master file ({{ drug.molecular_formula }}) procedure:
{{ drug.molecular_formula }} number assigned by W.H.O (if known): _______ ; version number (and/or date) of the open part:             ; version number (and/or date) of the closed part |  |
| Full details in the PD | Full details in the PD |  |
