{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Telmisartan 40mg
  Module: unclassified
  Vars  : 1
#}

## Indicate which option applies for the submission of {{ drug.molecular_formula }} information:

{# TABLE #}
| Name of API: | Name of API: | Telmisartan B.P |
| --- | --- | --- |
|  |  | Name and address of Head Office:
US {{ drug.molecular_formula }} {{ drug.molecular_formula }} {{ drug.molecular_formula }}
121, Neemuch Mata Scheme,
Dewali, Udaipur,
Rajasthan,
India, 313001. |
| Certificate of suitability to the {{ drug.pharmacopoeia_standard }} ({{ drug.molecular_formula }}) | Certificate of suitability to the {{ drug.pharmacopoeia_standard }} ({{ drug.molecular_formula }}) |  |
| Active pharmaceutical ingredient master file ({{ drug.molecular_formula }}) procedure:
{{ drug.molecular_formula }} number assigned by W.H.O (if known): _______ ; version number (and/or date) of the open part:             ; version number (and/or date) of the closed part | Active pharmaceutical ingredient master file ({{ drug.molecular_formula }}) procedure:
{{ drug.molecular_formula }} number assigned by W.H.O (if known): _______ ; version number (and/or date) of the open part:             ; version number (and/or date) of the closed part |  |
| Full details in the PD | Full details in the PD |  |
