{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Telmisartan 40mg
  Module: unclassified
  Vars  : 3
#}

## {{ drug.molecular_formula }}

Inspection of {{ drug.dosage_form }} is done manually on inspection table where the weight, width, length, thickness, hardness, friability and disintegration time of the {{ drug.dosage_form }} are checked while the compression operation is ongoing.
