{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Metformin Hydrochloride 500mg
  Module: unclassified
  Vars  : 0
#}

## Iodinated contrast agents (see section 4.4)

Metformin should be discontinued prior to or at the time of the imaging procedure and not restarted until at least 48 hours, provided that renal function has been re-evaluated and found to be stable, see sections 4.2 and 4.4.
