{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Telmisartan 40mg
  Module: unclassified
  Vars  : 5
#}

## Isopropyl Alcohol

1 Nonproprietary Names

{{ drug.pharmacopoeia_standard }}: Isopropyl Alcohol

JP: Isopropanol

PhEur: Isopropyl Alcohol

{{ drug.pharmacopoeia_standard }}: Isopropyl Alcohol

2 Synonyms

Alcohol isopropylicus; dimethyl carbinol; {{ drug.molecular_formula }}; isopropanol; petrohol;

2-propanol; sec-propyl alcohol; rubbing alcohol.

3 Chemical Name and {{ drug.molecular_formula }} Registry Number

Propan-2-ol [67-63-0]

4 Empirical Formula and Molecular Weight

{{ drug.molecular_formula }} 60.1
