{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Telmisartan 40mg
  Module: unclassified
  Vars  : 50
#}

## Lactose, Anhydrous

1. Nonproprietary Names

{{ drug.pharmacopoeia_standard }}: Anhydrous Lactose

JP: Anhydrous Lactose

PhEur: Lactose, Anhydrous

{{ drug.pharmacopoeia_standard }}-NF: Anhydrous Lactose

2 Synonyms

Anhydrous 60M; Anhydrous Direct Tableting (DT); Anhydrous

DT High Velocity; Anhydrous Impalpable; Lactopress Anhydrous;

Lactopress Anhydrous 250; lactosumanhydricum; lattosio; milk

sugar; SuperTab 21AN; SuperTab 22AN; saccharumlactis.

3 Chemical Name and {{ drug.molecular_formula }} Registry Number

O-b-D-Galactopyranosyl-(1!4)-b-D-glucopyranose [63-42-3]

4 Empirical Formula and Molecular Weight

{{ drug.molecular_formula }} 342.30

The PhEur 6.5 and {{ drug.molecular_formula }}–NF27 describe anhydrous lactose as Ob-

D-galactopyranosyl-(1!4)-b-D-glucopyranose; or a mixture of

O-b-D-galactopyranosyl-(1!4)-a-D-glucopyranose and O-b-Dgalactopyranosyl-(

1!4)-b-D-glucopyranose. The JP XV describes

anhydrous lactose as b-lactose or a mixture of b-lactose and alactose,

and defines these as per the PhEur and {{ drug.pharmacopoeia_standard }}–NF.

6 Functional Category

Directly compressible {{ drug.dosage_form }} excipient; dry powder inhaler carrier;

lyophilization aid; {{ drug.dosage_form }} and {{ drug.dosage_form }} diluent; {{ drug.dosage_form }} and {{ drug.dosage_form }}

filler.

7 Applications in Pharmaceutical Formulation or Technology.

Anhydrous lactose is widely used in direct compression tableting

applications, and as a {{ drug.dosage_form }} and {{ drug.dosage_form }} filler and binder.

Anhydrous lactose can be used with moisture-sensitive drugs due

to its low moisture content. It may also be used in {{ drug.route_of_administration }}

injections.

8 Description

Anhydrous lactose occurs as white to off-white crystalline particles

or powder. Several different brands of anhydrous lactose are

commercially available which contain anhydrous b-lactose and

anhydrous a-lactose. Anhydrous lactose typically contains 70–80%

anhydrous b-lactose and 20–30% anhydrous a-lactose.

9 Pharmacopeial Specifications

See Table I. See also Section 18.

10 Typical Properties

Brittle fracture index 0.0362

Bonding index 0.0049 (at compression pressure 177.8 MPa)(1)

Density (true) 1.{{ drug.strength }}/cm3 for anhydrous b-lactose

Density (bulk) 0.{{ drug.strength }}/cm3 for SuperTab 21AN; 0.{{ drug.strength }}/cm3 for

11 Stability and Storage Conditions

Mold growth may occur under humid conditions (80% RH and

above). Lactose may develop a brown coloration on storage, the

reaction being accelerated by warm, damp conditions; see Section

12. At {{ storage.temperature }} and 80% RH, {{ drug.dosage_form }} containing anhydrous lactose

have been shown to expand 1.2 times after one day.(2)

Lactose anhydrous should be stored in a well-closed container in

a cool, dry place.

12 Incompatibilities

Lactose anhydrous is incompatible with strong oxidizers. When

mixtures containing a hydrophobic leukotriene antagonist and

anhydrous lactose or lactose monohydrate were stored for six

weeks at {{ storage.temperature }} and 75% RH, the mixture containing anhydrous

lactose showed greater moisture uptake and drug degradation.(3)

Studies have also shown that in blends of roxifiban acetate

({{ drug.molecular_formula }}-754) and lactose anhydrous, the presence of lactose

anhydrous accelerated the hydrolysis of the ester and amidine

groups.(4)

Lactose anhydrous is a reducing sugar with the potential to

interact with primary(5) and secondary amines(6) (Maillard reaction)

when stored under conditions of high humidity for extended

periods.

See Lactose, Monohydrate.

13 Method of Manufacture

There are two anhydrous forms of lactose: a-lactose and b-lactose.

The temperature of crystallization influences the ratio of a- and blactose.

The anhydrous forms that are commercially available may

exhibithygroscopicity at high relative humidities. Anhydrous

lactose is produced by roller drying a {{ drug.dosage_form }} of lactose above

93.{{ storage.temperature }}. The resulting product is then milled and sieved. Two

anhydrous a-lactoses can be prepared using special drying

techniques: one is unstable and hygroscopic; the other exhibits

good compaction properties.(7) However, these materials are not

commercially available.

Table II: Particle size distribution of selected commercially available anhydrous lactose.

Supplier/grade Percentage less than stated size

<45 mm <53 mm <150 mm <250 mm

{{ drug.molecular_formula }}-Fonterra Excipients

SuperTab 21AN 420 — 40–65 580

SuperTab 22AN 47 — 25–50 565

Friesland Foods Domo

Lactopress Anhydrous — 430 — 580

Lactopress Anhydrous 250 420 — 40–65 580

1.0

0.0

1500 2300

1476

2054

2105

2264

2290

2314

2369

2251

2277 2302

2392

2127

1300 1700 1900 2100 2500

1000 × [2nd deriv. log(1/R)]

Wavelength/nm

1100

−1.2

0.5

1og(1/R)

−0.2

Figure 1: Near-infrared spectrum of lactose anhydrous measured by

reflectance.

Table I: Pharmacopeial specifications for lactose anhydrous.

Test JP XV PhEur 6.5 {{ drug.molecular_formula }}–NF27

Identification þ þþ

Appearance/color of {{ drug.dosage_form }} þ þþ

Characters — þ —

Optical rotation þ54.48 to

þ55.98

þ54.48 to

þ55.98

þ54.48 to

þ55.98

Acidity or alkalinity þ þþ

Heavy metals 45 ppm 45 ppm {{ drug.strength }}/g

Protein and light absorbing

impurities/substances

þ — þ

Absorbance

210–220 nm 40.25 40.25 40.25

270–300 nm 40.07 40.07 40.07

400 nm 40.04 40.04 40.04

Loss on drying 40.5% þ(a) 40.5%

Water 41.0% 41.0% 41.0%

Residue on ignition 40.1% — 40.1%

Sulfated ash — 40.1% —

Microbial limit

Aerobic bacteria 4100 cfu/g 102 cfu/g 4100 cfu/g

Fungi and yeast 450 cfu/g — 450 cfu/g

Absence of Escherichia coli þ þþ

Absence of Salmonella þ — —

Isomer ratio þ þ(a) þ

(a) Not a mandatory test.

L

360 Lactose, Anhydrous

14 Safety

Lactose is widely used in pharmaceutical formulations as a diluent

and filler-binder in {{ drug.route_of_administration }} {{ drug.dosage_form }} and {{ drug.dosage_form }} formulations. It may also

be used in {{ drug.route_of_administration }} injections. Adverse reactions to lactose are

largely due to lactose intolerance, which occurs in individuals with a

deficiency of the intestinal enzyme lactase, and is associated with

{{ drug.route_of_administration }} ingestion of amounts well over those found in solid dosage

forms.

See Lactose, Monohydrate.

15 Handling Precautions

Observe normal precautions appropriate to the circumstances and

quantity of materials handled. Excessive generation of dust, or

{{ drug.route_of_administration }} of dust, should be avoided.

16 Regulatory Status

{{ drug.molecular_formula }} listed. Included in the {{ drug.molecular_formula }} Inactive Ingredients Database

(IM, IV: powder for {{ drug.dosage_form }} {{ drug.dosage_form }}; IV and sublingual preparations;

{{ drug.route_of_administration }}: {{ drug.dosage_form }} and {{ drug.dosage_form }}; powder for {{ drug.route_of_administration }}; vaginal).

Included in nonparenteral and parenteral medicines licensed in the

UK. Included in the Canadian List of Acceptable Non-medicinal

Ingredients.

17 Related Substances

Lactose, {{ drug.route_of_administration }}; lactose, monohydrate; lactose, spray-dried.

18 Comments

Lactose anhydrous is one of the materials that have been selected for

harmonization by the Pharmacopeial Discussion Group. For further

information see the General Information Chapter <1196> in the

{{ drug.molecular_formula }}–NF27, the General Chapter 5.8 in PhEur 6.5, along with the

‘State of Work’ document on the PhEur {{ drug.molecular_formula }} website, and also

the General Information Chapter 8 in the JP XV.

Lactose anhydrous has been used experimentally in hydrophilic

matrix {{ drug.dosage_form }} formulations(8) and evaluated for dry powder

{{ drug.route_of_administration }} applications.(9,10) Partial hydration of anhydrous lactose

increases the specific surface area and reduces the flow properties of

powders but has no effect on compactibility.(11) A specification for

lactose is included in the {{ manufacturer.name }} Codex ({{ drug.molecular_formula }}(12)); see

Lactose, Monohydrate.

The {{ drug.molecular_formula }} number for lactose anhydrous is 200-559-2. The

PubChem Compound ID ({{ drug.molecular_formula }}) for lactose anhydrous includes

6134 and 84571.
