{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Metformin Hydrochloride 500mg
  Module: unclassified
  Vars  : 1
#}

## Lactic acidosis:

Lactic acidosis, a very rare but serious metabolic complication, most often occurs at acute worsening of renal function or cardiorespiratory illness or sepsis. Metformin accumulation occurs at acute worsening of renal function and increases the risk of lactic acidosis.

In case of dehydration (severe diarrhea or vomiting, fever or reduced fluid intake), Metformin should be temporarily discontinued and contact with a health care professional is recommended.

Medicinal products that can acutely impair renal function (such as antihypertensives, diuretics and {{ drug.molecular_formula }}) should be initiated with caution in Metformin-treated patients. Other risk factors for lactic acidosis are inadequately controlled diabetes, ketosis, prolonged fasting, excessive alcohol intake, hepatic insufficiency and any condition associated with hypoxia, as well as concomitant use of medicinal products that may cause lactic acidosis (see section 4.3 and 4.5)

Patients and/or care-givers should be informed of the risk of lactic acidosis.

Diagnosis:

Lactic acidosis is characterized by acidotic dysponea, abdominal pain, muscle cramps, asthenia and hypothermia followed by coma. In case of suspected symptoms, the patients should stop taking Metformin and seek immediate medical attention. Diagnostic laboratory findings are decreased blood pH (<7.35), increased plasma lactate levels (>5 mmol/L) and an increased anion gap and lactate/pyruvate ratio (see section 4.9).
