{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Losartan Potassium 50mg
  Module: unclassified
  Vars  : 2
#}

## {{ drug.molecular_formula }}:

The amount of {{ drug.name }} released after 30 minutes is not less than 75 % (Q) of the labeled amount.
