{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Telmisartan 40mg
  Module: unclassified
  Vars  : 0
#}

## Liquid factory:

Liquid factory having cloak rooms, receiving bay, offices for production personnel, production facility and packaging facilities. There is also finished product, packaging material and raw material stores. The factory has reverse osmosis water treatment plant.
