{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Losartan Potassium 50mg
  Module: unclassified
  Vars  : 1
#}

## {{ drug.name }}

{# TABLE #}
| Description | White to off-white crystalline powder. |
| --- | --- |
| Solubility | Freely soluble in water, sparingly soluble in Isopropyl Alcohol, slightly soluble in Acetonitrile. |
| Identification |  |
| 1) Test for Potassium | A yellow or orange-yellow precipitate is produced. |
| 2) UV Absorption | The UV absorption spectra of the test {{ drug.dosage_form }} and the standard {{ drug.dosage_form }} exhibit maxima and minima at the same wave length. |
| 3) IR Absorption | The IR absorption spectrum of the test preparation exhibits maxima and minima only at the same wavelengths as that of a similar preparation of the {{ drug.name }} working standard. |
| Related Substances | -  Any individual impurity: not more than 0.50%
- Total impurities: not more than 1.0% |
| Heavy metals | Maximum 20ppm |
| Water (By {{ drug.molecular_formula }}, w/w) | Not more than 0.5% |
| Sulfated Ash | Maximum 0.1% |
| Assay by {{ drug.molecular_formula }} | 98.0% to 102.0% |
