{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Telmisartan 40mg
  Module: unclassified
  Vars  : 8
#}

## {{ drug.molecular_formula }} {{ drug.molecular_formula }}

Magnesium Stearate consists mainly of magnesium stearate ({{ drug.molecular_formula }}){{ drug.strength }} with variable proportions of magnesium palmitate, ({{ drug.molecular_formula }}){{ drug.strength }} and magnesium oleate, ({{ drug.molecular_formula }}){{ drug.strength }}.

Category: Pharmaceutical aid (lubricant).

Description: Very fine, light, white powder; odourless or with a very faint odour of stearic acid; unctuous and free from grittiness.

Solubility: Practically insoluble in water, in ethanol and in ether.
