{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Telmisartan 40mg
  Module: unclassified
  Vars  : 0
#}

## Maize Starch

Action and use Pharmaceutical aid.

When Starch is specified and the type is not indicated, Maize Starch, Potato Starch, Rice Starch, Wheat Starch or, in tropical countries where these are not available, Tapioca Starch may be supplied or used.
