{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Losartan Potassium 50mg
  Module: unclassified
  Vars  : 3
#}

#### {{ drug.molecular_formula }} {{ drug.molecular_formula }} {{ drug.molecular_formula }}:

The in vitro dissolution studies were carried out on 12 units each of test and reference products using the paddle method and dissolution media like water, 0.1 N hydrochloric acid with pH 1.2, pH 4.5 acetate buffer and pH 6.8 phosphate buffer. An open label, randomized, two-treatment, two-period, two-sequence, crossover bioequivalence study with a washout period of 7 days was conducted in 60 healthy Indian male subjects. Serial blood samples were collected after drug administration in each study period. Plasma concentrations of losartan and losartan acid were determined using a validated LC-MS-MS method. The pharmacokinetic parameters of losartan and losartan acid were determined using a non compartmental model. Occurrence of adverse events, change in systolic blood pressure, diastolic blood pressure, heart rate and QT interval from the baseline to 3.50 h post dose were studied and compared between the two treatments as safety parameters.
