{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Telmisartan 40mg
  Module: unclassified
  Vars  : 10
#}

### Medical

{{ drug.molecular_formula }} was used as a plasma volume expander for trauma victims after the 1950s.

It is used as a binder in many pharmaceutical {{ drug.dosage_form }}; it simply passes through the body when taken orally. (However, autopsies have found that crospovidone ({{ drug.molecular_formula }}) contributes to pulmonary vascular injury in substance abusers who have injected pharmaceutical {{ drug.dosage_form }} intended for {{ drug.route_of_administration }} consumption.[3] The long-term effects of crospovidone or povidone within the lung are unknown.)

{{ drug.molecular_formula }} added to iodine forms a complex called povidone-iodine that possesses disinfectant properties. This complex is used in various products like solutions, {{ drug.dosage_form }}, pessaries, liquid soaps and surgical scrubs. It is known under the trade names Pyodine and Betadine, among a plethora of others.

It is used in pleurodesis (fusion of the pleura because of incessant pleural effusions). For this purpose, povidone iodine is equally effective and safe as talc, and may be preferred because of easy availability and low cost.

{{ drug.molecular_formula }} is used in some contact lenses and their packaging solutions. It reduces friction, thus acting as a lubricant, or wetting agent, built into the lens. Examples of this use include Bausch & Lomb's Ultra contact lenses with MoistureSeal Technology[6] and Air Optix contact lens packaging {{ drug.dosage_form }} (as an ingredient called "copolymer 845").

{{ drug.molecular_formula }} is used as a lubricant in some eye drops, e.g. Bausch & Lomb's Soothe.
