{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Losartan Potassium 50mg
  Module: unclassified
  Vars  : 0
#}

##### Metabolism

Losartan is an orally active agent that undergoes substantial first-pass metabolism by cytochrome P450 enzymes. It is converted, in part, to an active carboxylic acid metabolite that is responsible for most of the angiotensin II receptor antagonism that follows Losartan treatment. About 14% of an orally-administered dose of Losartan is converted to the active metabolite. In addition to the active carboxylic acid metabolite, several inactive metabolites are formed. In vitro studies indicate that cytochrome P450 2C9 and 3A4 are involved in the biotransformation of Losartan to its metabolites.
