{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Metformin Hydrochloride 500mg
  Module: unclassified
  Vars  : 4
#}

# Metformin: an old but still the best treatment for type 2 diabetes

Lilian Beatriz Aguayo RojasEmail author and

Marilia Brito GomesEmail author

Diabetology & Metabolic Syndrome20135:6

https://doi.org/10.1186/1758-5996-5-6

©  Rojas and Gomes; licensee {{ manufacturer.name }}. 2013

Received: {{ submission_date }}

Accepted: {{ submission_date }}

Published: {{ submission_date }}
