{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Metformin Hydrochloride 500mg
  Module: unclassified
  Vars  : 3
#}

## {{ drug.molecular_formula }}:

Primary research and review articles were identified through a search of {{ drug.molecular_formula }} (1966-May 2003) and {{ manufacturer.name }} Abstracts (1970-May 2003) using the terms metformin and/or Glucophage. Web of Science (1995-May 2003) was used to search for additional abstracts. The package inserts for metformin and metformin combination products were consulted. All identified articles and abstracts were assessed for relevance, and all relevant information was included. Priority was given to the primary medical literature and clinical trial reports.
