{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Telmisartan 40mg
  Module: unclassified
  Vars  : 4
#}

## Mobile phase :

Preparation of 0.02M Ammonium acetate buffer ( C2H7 NO2 , M.W. 77.08 )

1.5416 gms  Ammonium Acetate dissolved in {{ drug.strength }} of  water and adjust PH 4.0 with Glacial Acetic Acid.

0.02M  Ammonium acetate buffer ( PH  4 .0 ± 0.05 ) : {{ drug.molecular_formula }} : {{ drug.molecular_formula }}  ( 100 : 120 : 3.5 )

Flow Rate :  1.{{ drug.strength }}/ minute

Injector volume : 20 µl

Diluent  :  Methanol  : Water   ( 80  : 20 )

Column temperature :  Ambient
