{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Telmisartan 40mg
  Module: unclassified
  Vars  : 1
#}

## N/A

Discussion on the potential for isomerism and identification of stereochemistry (e.g. geometric isomerism, number of chiral centres and configurations) of the {{ drug.molecular_formula }} batch(es) used in comparative bioavailability or biowaiver studies:
