{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Glibenclamide 5mg
  Module: unclassified
  Vars  : 0
#}

## Not available

{# TABLE #}
| Parameter | Details | Details |
| --- | --- | --- |
| Storage condition(s) (◦C, % RH) |  |  |
| {{ batch_number }}(s), annual allocation |  |  |
| Tests and acceptance criteria |  |  |
| Tests and acceptance criteria |  |  |
| Tests and acceptance criteria |  |  |
| Tests and acceptance criteria |  |  |
| Tests and acceptance criteria |  |  |
| Testing frequency |  |  |
| Container closure system(s) |  |  |
