{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Amlodipine 5mg
  Module: unclassified
  Vars  : 0
#}

## Not applicable

{# TABLE #}
| Maximum daily dose for the API: | <x mg/day> | <x mg/day> |
| --- | --- | --- |
| Test | {{ drug.molecular_formula }} threshold or concentration limit | {{ drug.molecular_formula }} threshold or concentration limit |
| Degradation product & Process-related impurities |  |  |
| Degradation product & Process-related impurities |  |  |
| Degradation product & Process-related impurities |  |  |
| Degradation product & Process-related impurities |  |  |
| Degradation product & Process-related impurities |  |  |
