{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Glibenclamide 5mg
  Module: unclassified
  Vars  : 19
#}

## {{ drug.molecular_formula }}, {{ drug.molecular_formula }}

4.2.5   {{ drug.molecular_formula }} V: {{ drug.molecular_formula }}

Sifting of the dried granules is done for ensuring uniformity of granule size. Specified sieves are used for the purpose.

4.2.6 {{ drug.molecular_formula }} VI: {{ drug.molecular_formula }}

The mass from step IV is then lubricated in double cone blender/ octagonal blender as specified in the Master processing procedure (Attachment viii).

4.2.7 {{ drug.molecular_formula }} {{ drug.molecular_formula }}: {{ drug.molecular_formula }}

The lubricated granules from step VI is then compressed according to the specification for the product as given in the Master processing procedure (Attachment ix).

4.2.8 {{ drug.molecular_formula }} {{ drug.molecular_formula }}: {{ drug.molecular_formula }}

The compressed {{ drug.dosage_form }} from step {{ drug.molecular_formula }} are then coated according to the specification for the product as contained in the Master processing procedure.

4.2.9 {{ drug.molecular_formula }} IX: {{ drug.molecular_formula }}/ {{ drug.molecular_formula }}

The coated {{ drug.dosage_form }} from step {{ drug.molecular_formula }} are then inspected for defects in the inspection belt as specified.
