{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Metformin Hydrochloride 500mg
  Module: unclassified
  Vars  : 0
#}

## Other precautions:

• All patients should continue their diet with a regular distribution of carbohydrate intake during the day. Overweight patients should continue their energy-restricted diet.

• The usual laboratory tests for diabetes monitoring should be performed regularly.

• Metformin alone never causes hypoglycaemia, although caution is advised when it is used in combination with insulin and sulfonylureas.
