{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Amlodipine 5mg
  Module: unclassified
  Vars  : 0
#}

## Outcome Measures

Primary Outcome Measures  :

Change in sitting Diastolic Blood Pressure (siDBP) at week 8 compared to baseline [ Time Frame: Week 8 ]

Secondary Outcome Measures  :

Change in siDBP at week 4 [ Time Frame: Week 4 ]

Change in sitting Systolic Blood Pressure (siSBP) at week 4 and 8 [ Time Frame: Week 4 and 8 ]

Proportion of patients achieving ΔsiDBP ≥ 10 mmHg and ΔsiSBP ≥ 20 mmHg after 8 weeks [ Time Frame: Week 8 ]

Proportion of patients achieving siDBP ＜ 90 mmHg and siSBP ＜ 140 mmHg after 8 weeks [ Time Frame: Week 8 ]
