{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Telmisartan 40mg
  Module: unclassified
  Vars  : 1
#}

## {{ drug.molecular_formula }}

All packing operations are carried out as per standard operations procedures

Before start of the packing, the packing supervisor fills line clearance forms.

For pack size and pack details, display is done.

Packing instructions are given in writing on packing card

Instructions are given for overprinting f Batch No., Mfg. Date, Exp. Date and quantity.

First impression of overprinting is checked by competent technical staff and is encircled and countersigned.

First printed packing material is attached with packing card. Only then instructions are given for overprinting. Same procedure is adopted for different sizes of the pack i.e. strips, blister packs, jars etc.

Visual checks are done continuously during packaging operations.

Random check of packs is done every half hourly.

The supervisor before the final sealing of the master box checks total number of inner packs in the master box.

During packing operations, Quantity assurance inspector does random sampling.

Batch No., Mfg. Date, Exp. Date, shipping mark, box serial number etc. are stamped on the master box.

Name of all personal involved in packing operation are recorded in the packing Card.
