{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Glibenclamide 5mg
  Module: unclassified
  Vars  : 8
#}

## Packing Procedure

Take clean {{ drug.molecular_formula }} Bag, ensure its cleanliness and that of the polyethylene bags. Place the transparent polyethylene bags inside box. Take the tare weight of box and polyethylene bags on calibrated weighing balance.

Note down the Tare weight. Fill the desired quantity of product inside the transparent polyethylene bags keep one in another inside box. Check the Weight along and fill the material upto the required net weight + Tare weight. Note down all Net weight, Tare weight & gross weight details along with bag numbers in {{ batch_number }} record .Tie the Inner bag with plastic closing strip with {{ manufacturer.name }} Chem. printed on it. The required Product labels are issued in presence of QA person. The product labels have the following printed matter, these labels are printed in different colour for different products to distinguish easily and avoid mix up.

The following information is pre-printed on labels:

Product name, Batch No., Mfg. Date, Exp. Date, Gross Weight, Tare Weight, Net Weight,

Drum No., Manufacturing Lic. No., Name of manufacturer ({{ manufacturer.name }} Chem.) and its logo, Address of manufacturing site (Factory Address) and Head office address.

Prepare the {{ batch_number }} product labels with overprinting details such as, Grade (IP/{{ drug.pharmacopoeia_standard }}/{{ drug.pharmacopoeia_standard }}), Batch No, Mfg. Dt., Exp. Dt., Net weight, tare weight , Gross Weight & Storage condition.

Product labels are of two types, Inner plain label and outer sticker label. Both labels have identical print matter .Keep inner label in inside the bag. Stick the outer sticker label on bag. And cover the sides of labels with colourless transparent cello- tape to avoid tearing of label. Seal the box with glue sealing. Issued by QC/QA with mentioned seal numbers on {{ batch_number }} record.
