{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Amlodipine 5mg
  Module: unclassified
  Vars  : 3
#}

## Paediatric population

A population PK study has been conducted in 74 hypertensive children aged from 1 to 17 years (with 34 patients aged 6 to 12 years and 28 patients aged 13 to 17 years) receiving {{ drug.name }} between 1.25 and {{ drug.strength }} given either once or twice daily. In children 6 to 12 years and in adolescents 13-17 years of age the typical {{ drug.route_of_administration }} clearance (CL/F) was 22.5 and 27.4 L/hr respectively in males and 16.4 and 21.3 L/hr respectively in females. Large variability in exposure between individuals was observed. Data reported in children below 6 years is limited.
