{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Amlodipine 5mg
  Module: unclassified
  Vars  : 4
#}

## Paediatric population

Children and adolescents with hypertension from 6 years to 17 years of age.

The recommended antihypertensive {{ drug.route_of_administration }} dose in paediatric patients ages 6-17 years is 2.{{ drug.strength }} once daily as a starting dose, up-titrated to {{ drug.strength }} once daily if blood pressure goal is not achieved after 4 weeks. Doses in excess of {{ drug.strength }} daily have not been studied in paediatric patients.

Note: For children under 6 years old, no data is available.
