{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Amlodipine 5mg
  Module: unclassified
  Vars  : 6
#}

## Pediatric Patients

Two hundred sixty-eight hypertensive patients aged 6 to 17 years were randomized first to {{ drug.molecular_formula }} 2.5 or {{ drug.strength }} once daily for 4 weeks and then randomized again to the same dose or to placebo for another 4 weeks. Patients receiving 2.{{ drug.strength }} or {{ drug.strength }} at the end of 8 weeks had significantly lower systolic blood pressure than those secondarily randomized to placebo. The magnitude of the treatment effect is difficult to interpret, but it is probably less than 5 mmHg systolic on the {{ drug.strength }} dose and 3.3 mmHg systolic on the 2.{{ drug.strength }} dose. Adverse events were similar to those seen in adults.
