{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Amlodipine 10mg
  Module: unclassified
  Vars  : 4
#}

## Physical form: Polymorphic form:

Other: Not available

Pharmacological Properties: {{ drug.name }} Besylate is the Besylate salt of {{ drug.name }}, a synthetic dihydropyridine with antihypertensive and antianginal effects. {{ drug.name }} inhibits the influx of extracellular calcium ions into myocardial and peripheral vascular smooth muscle cells, thereby preventing vascular and myocardial contraction. This result in a dilatation of the main coronary and systemic arteries, decreased myocardial contractility, increased blood flow and oxygen delivery to the myocardial tissue, and decreased total peripheral resistance. This agent may also modulate multi-drug response ({{ drug.molecular_formula }}) activity through inhibition of the p-glycoprotein efflux pump.
