{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Losartan Potassium 50mg
  Module: unclassified
  Vars  : 1
#}

## Polyvinylpyrrolidone Properties

Melting point:

~{{ storage.temperature }} (dec.)(lit.)
