{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Telmisartan 40mg
  Module: unclassified
  Vars  : 1
#}

## Polyvinylpyrrolidone K30

Polyvinylpyrrolidone ({{ drug.molecular_formula }}), also commonly called polyvidone or povidone, is a water-soluble polymer made from the monomer N-
