{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Telmisartan 40mg
  Module: unclassified
  Vars  : 8
#}

# [{{ drug.molecular_formula }}]

We at {{ manufacturer.name }} with location address at: Plot 6, Block H, Oshodi Industrial Scheme, Oshodi, Lagos, hereby apply for renewal of the below product:

Brand name: Me Cure’s {{ drug.name }} {{ drug.dosage_form }} {{ drug.strength }}

Generic: {{ drug.name }} {{ drug.dosage_form }}

Dosage form: {{ drug.dosage_form }}

Packing presentation: 1 X 30's

Application type: New

Signature:                                           Date:

Dukor, A. N.

Supt. Pharmacist
