{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Losartan Potassium 50mg
  Module: unclassified
  Vars  : 3
#}

# [{{ drug.molecular_formula }}]

Microcrystalline cellulose ({{ drug.molecular_formula }}) is a term for refined wood pulp and is used as a texturizer, an anti-caking agent, a fat substitute, an emulsifier, an extender, and a bulking agent in food production.The most common form is used in vitamin supplements or {{ drug.dosage_form }}. It is also used in plaque assays for counting viruses, as an alternative to carboxymethylcellulose.

{# TABLE #}
| Chemical Names: | Cellulose gel; Cellulose, microcrystalline. |
| --- | --- |
| Molecular Formula: | {{ drug.molecular_formula }} |
| Molecular Weight: | {{ drug.molecular_weight }} |
