{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Telmisartan 40mg
  Module: unclassified
  Vars  : 7
#}

## {{ drug.molecular_formula }} TO BE {{ drug.molecular_formula }} {{ drug.molecular_formula }} {{ drug.molecular_formula }}

All equipment must be thoroughly cleaned and dried.

Weights and Analytical Report number of Raw materials should be counter checked and recorded.

Temperature ({{ drug.molecular_formula }} {{ storage.temperature }}) and Relative Humidity ({{ drug.molecular_formula }} 45%) should be maintained throughout compression (Recorded every 2 hours).

The operator must wear mask & hand gloves during all manufacturing operations.
