{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Glibenclamide 5mg
  Module: unclassified
  Vars  : 46
#}

## {{ drug.molecular_formula }} OF {{ drug.molecular_formula }}

3.	1.5 kg of {{ drug.molecular_formula }} {{ drug.molecular_formula }} ({{ drug.molecular_formula }}) (Ingr.No.5 ) is added to 0.3 kg of {{ drug.molecular_formula }} 30 (Ingr. No.6). Stir to mix.

4.	Add the paste of step 3 into the R.M.G. and mix for 5 minutes. After 5  minutes  of  mixing  start the chopper. After completion of 5 minutes of granulation open the vent to unload the granules directly into the {{ drug.molecular_formula }} bowl, keeping the {{ drug.molecular_formula }} "ON".

5. Wet mass of the step no.04 is passed through {{ drug.molecular_formula }} using 10 mm S.S.sieve and the mass obtained is stored  in a clean S.S.Vessel.`{{ drug.molecular_formula }} {{ drug.molecular_formula }} {{ drug.molecular_formula }}'.Transfer the material into {{ drug.molecular_formula }} Bowls.

6.	Bowl is replaced at {{ drug.molecular_formula }} and semidrying operation is started at {{ storage.temperature }} for 20 minutes.

7. After completion of drying, semi-dried material of the Bowl is passed through {{ drug.molecular_formula }} using 2.5 mm S.S.sieve and granules are collected in a clean S.S.vessel.

8.	Material of step no.7 is then transferred to the {{ drug.molecular_formula }} {{ drug.molecular_formula }} {{ drug.molecular_formula }} and final drying operation is started for 20 min at {{ storage.temperature }}.

9.	Moisture content of the dried granules from step no.8 is checked using I.R.{{ drug.molecular_formula }} {{ drug.molecular_formula }}.

10.	If % moisture content of the dried granules is more than 3.20% step no.8 is repeated for 5 minutes.

11.	Dried granules from step no.10 are sifted through sifter using # 60 S.S. sieve.

{{ drug.molecular_formula }} :- Dried granules of all the Bowls are collected in a S.S vessel for next Process.

12.	Oversize granules are crushed using {{ drug.molecular_formula }} 2.5 mm sieve and passed through {{ drug.molecular_formula }} using # 20 S.S.sieve.

13.	Dried granules of the step no.12 are transferred to the {{ drug.molecular_formula }} {{ drug.molecular_formula }} {{ drug.molecular_formula }} and mixed for 10 minutes.

14.	0.050 kg.of {{ drug.molecular_formula }} {{ drug.molecular_formula }} (ingr.no.07) and 0.100 kg.of {{ drug.molecular_formula }} (ingr.no.8) and 0.500kg of {{ drug.molecular_formula }} (ingr.no.9) are passed through #40 S.S.sieve using mechanical    {{ drug.molecular_formula }};

All the ingredients are collected in a S.S. container and transferred to the {{ drug.molecular_formula }} {{ drug.molecular_formula }} {{ drug.molecular_formula }} of step no.14.

15.	Blender is started and material is mixed for 2 minutes.

16.	Lubricated granules obtained from step no.15 are  Unloaded  and  stored  into Plastic containers lined with low density P.P.bag.

17.	The granules obtained from step no.16 are weighed using calibrated Plateform balance.

{{ drug.molecular_formula }} {{ drug.molecular_formula }} OF {{ drug.molecular_formula }} {{ drug.molecular_formula }} {{ drug.molecular_formula }} {{ drug.molecular_formula }} {{ drug.molecular_formula }} :______________________

{{ drug.molecular_formula }} {{ drug.molecular_formula }} :________________kg. + _______________kg.( Recovery added )

% {{ drug.molecular_formula }}           :_________________

18.	Intimate the Quality Control for complete Analysis of granules.

Only after getting approval from Quality Control dept. for release of granules for compression. Transfer the granules to the Compression Dept.
