{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Losartan Potassium 50mg
  Module: unclassified
  Vars  : 5
#}

## {{ drug.molecular_formula }} OF {{ drug.molecular_formula }} {{ drug.molecular_formula }}

3.	Take 0.30 gm {{ drug.molecular_formula }} K30 (Ingr.No.4) and dissolved in {{ drug.molecular_formula }} 3.00 kg (Ingr.No.5).
