{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Telmisartan 40mg
  Module: unclassified
  Vars  : 5
#}

## Procedure:

Separately  inject equal volumes   about 20µl. of  the standard preparation and assay preparation in the  chromatograph, record  the chromatograms and measure the response s for the major peaks, calculate the quantity in mg of Amlodipine  per {{ drug.dosage_form }} are as under .

For {{ drug.name }} content:

Area of assay X mg per ml std (final conc.) 100 x50 x Av. Wt. of {{ drug.dosage_form }} (mg)   X   % Purity of std

Area of Std  		                             Wt. of sample taken (mg) x 5                             100

=         	   mg of {{ drug.name }} per {{ drug.dosage_form }}.

Disintegration time: Not more than 15 minutes.
