{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Metformin Hydrochloride 500mg
  Module: unclassified
  Vars  : 6
#}

## {{ drug.molecular_formula }} {{ drug.molecular_formula }} {{ drug.molecular_formula }} OF {{ drug.molecular_formula }} {{ drug.molecular_formula }} {{ drug.dosage_form }}

Attachment ii
