{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Glibenclamide 5mg
  Module: unclassified
  Vars  : 17
#}

## {{ drug.molecular_formula }} {{ drug.molecular_formula }}:

4.1 Process Flow diagram is attached with this protocol (Attachment ii)

4.2 {{ drug.molecular_formula }}

The processing of the batches is performed according to the Master Processing Procedure and the samples are drawn according to the sampling procedure as given in (Attachment iii). The documents required for the validation should be present during the process. (Attachment iv).

4.2.1   {{ drug.molecular_formula }} I. {{ drug.molecular_formula }} {{ drug.molecular_formula }}

The Binder is prepared by dissolving the binder in given media (Aqueous/Organic) as given in Master Processing Procedure.

4.2.2  {{ drug.molecular_formula }} II  {{ drug.molecular_formula }}

Mixing of active materials with the excipients is done as described in Master Processing Procedure. The data are filled and recorded in the attachment attached in this protocol. (Attachment v).

4.2.3.  {{ drug.molecular_formula }} {{ drug.molecular_formula }} {{ drug.molecular_formula }}

Granulation of the dry mix of step II is done by adding granulation {{ drug.dosage_form }}/ paste to the dry mix of step II. (Attachment vi).

4.2.4 {{ drug.molecular_formula }} IV  {{ drug.molecular_formula }}

Drying of the Granulated mixture is then followed after step {{ drug.molecular_formula }}. Mass from step {{ drug.molecular_formula }} is dried in the Fluid Bed Drier ({{ drug.molecular_formula }}) / Tray Drier as specified in the Master Processing Procedure (Attachment vii).

{# TABLE #}
| col_0 | col_1 | col_2 | col_3 |
| --- | --- | --- | --- |
|  | {{ drug.molecular_formula }} BY | {{ drug.molecular_formula }} BY | {{ drug.molecular_formula }} BY |
| {{ drug.molecular_formula }} |  |  |  |
| {{ drug.molecular_formula }} |  |  |  |
| {{ drug.molecular_formula }} |  |  |  |
| {{ drug.molecular_formula }} |  |  |  |
