{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Losartan Potassium 50mg
  Module: unclassified
  Vars  : 8
#}

## Procedure:

Separately  inject equal volumes   about 10µl. of  the standard preparation and assay preparation in the  chromatograph, record  the chromatograms and measure the response s for the major peaks, calculate the quantity in mg of Telmisartan per {{ drug.dosage_form }} are as under .

For {{ drug.name }} content:

Area of assay x mg per ml Std (final conc.)    x    100 Av. Wt. of {{ drug.dosage_form }} (mg)   x     % Purity of std

Area of Std  		                   Wt. of sample taken (mg)                                             100

=         	   mg of {{ drug.name }} per {{ drug.dosage_form }}.

=       mg of {{ drug.name }} per {{ drug.dosage_form }} x 100

50   				1

=                     % of {{ drug.name }}

Disintegration time: Not more than 30 minutes.
