{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Glibenclamide 5mg
  Module: unclassified
  Vars  : 1
#}

## {{ drug.molecular_formula }}

The processing of the batches was performed according to the Master Processing Procedure and the room temperature and humidity is controlled as specified. Samples were drawn according to the sampling procedure. The documents required for the validation were present during the process.
