{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Telmisartan 40mg
  Module: unclassified
  Vars  : 64
#}

## {{ drug.molecular_formula }} {{ drug.molecular_formula }} {{ drug.molecular_formula }}:

Do not expose the RM, semi-finished and finished product to undue light and open atmosphere

If yield at any stage is out of a given limit, that should be handled through deviation.

{{ drug.molecular_formula }} {{ drug.molecular_formula }}:-

{{ drug.molecular_formula }}

2.00kg.of {{ drug.name }}, 0.50 kg of  {{ drug.molecular_formula }},2.50kg.of {{ drug.molecular_formula }}, and 2.00Kg are passed through {{ drug.molecular_formula }} using # 40 S.S sieve and transferred to the R.M.G.({{ drug.molecular_formula }} {{ drug.molecular_formula }}).

Run the mixer for 10 minutes

{{ drug.molecular_formula }} OF {{ drug.molecular_formula }} {{ drug.molecular_formula }}:-

2.00L of {{ drug.molecular_formula }} is added to 0.30 kg of {{ drug.molecular_formula }} K30 in a bowl. Stir to mix.

Add the paste of step.3 to that of step.2 into the R.M.G. and mix for 5 minutes. After 5 minutes of mixing start the chopper. After completion of 5 minutes of granulation open the vent to unload the granules directly into the Fluid Bed Dryer bowl, keeping the {{ drug.molecular_formula }} "ON".

Wet mass of the step no. 04 is passed through {{ drug.molecular_formula }} using 2 mm S.S.sieve and the mass obtained is stored in a clean S.S.Vessel. {{ drug.molecular_formula }} {{ drug.molecular_formula }} {{ drug.molecular_formula }}'. Transfer the material into Fluid Bed Dryer Bowls.

Bowl is replaced at {{ drug.molecular_formula }} and semidrying operation is started at {{ storage.temperature }} for 20 minutes.

After completion of drying, semi-dried material of the Bowl is passed through {{ drug.molecular_formula }} using 2.5 mm S.S.sieve and granules are collected in a clean S.S.vessel.

Material of step no.7 is then transferred to the {{ drug.molecular_formula }} {{ drug.molecular_formula }} {{ drug.molecular_formula }} and final drying operation is started for 20 min at {{ storage.temperature }}.

{{ drug.molecular_formula }}: Temperature should not be more than {{ storage.temperature }}.

Moisture content of the dried granules from step no.8 is checked using I.R.{{ drug.molecular_formula }} {{ drug.molecular_formula }}.

({{ drug.molecular_formula }}: {{ drug.molecular_formula }} {{ drug.molecular_formula }} {{ drug.molecular_formula }} BE IN {{ drug.molecular_formula }} 3.0 % TO 3.2 % w/w)

If % moisture content of the dried granules is more than 3.2%, step no.8 is repeated for 5 minutes.

Dried granulation from step no.10 is sifted through sifter using # 20 S.S.sieve.

{{ drug.molecular_formula }}: - Dried granules of all the Bowls are collected in a S.S.Vessel for next process.

Oversize granules are crushed using {{ drug.molecular_formula }} 2.5 mm sieve and passed through {{ drug.molecular_formula }} using #20 S.S.sieve.

Dried granules of the step no.12 are transferred to the {{ drug.molecular_formula }} {{ drug.molecular_formula }} {{ drug.molecular_formula }} and mixed for 10 minutes.

0.025 kg of {{ drug.molecular_formula }}, 0.100kg of {{ drug.molecular_formula }} , 0.150kg of {{ drug.molecular_formula }} and 0.050 kg of {{ drug.molecular_formula }} {{ drug.molecular_formula }} are passed through #40 S.S.sieve using mechanical Sifter;

All the ingredients are collected in a S.S. container and transferred to the {{ drug.molecular_formula }} {{ drug.molecular_formula }} {{ drug.molecular_formula }} of step no.14.

Blender is started and material is mixed for 2 minutes.

Lubricated granules obtained from step no.15 are Unloaded and stored into Plastic containers lined with low - density P.P. bag.

The granules obtained from step no.15 are weighed using calibrated Platform balance.

Intimate the Quality Control for complete Analysis of granules.

Only after getting approval from Quality Control dept. for release of granules for compression,   transfer the granules to the Compression Dept.

{{ drug.molecular_formula }}:-

Compress the lubricated granules of step no.19 on a single rotary Cad/Clit 20 stn.press fitted with punches having 5.0 mm /tetrahedral, flat / S/C, at {{ drug.strength }} per {{ drug.dosage_form }} weight, embossed “{{ drug.molecular_formula }}”  on one side and “40”  on other side and at a Hardness of not less than 2.00 kg/cm2 on Monsanto units.

During Compression carryout In-process check as follows.

Progressive report of compression

{{ drug.molecular_formula }} & {{ drug.molecular_formula }} {{ drug.molecular_formula }} :-

{{ drug.dosage_form }} produced from the compression dept. are collected in plastic having low density P.P. bag & with proper label showing complete data regarding the batch. After completion of compression {{ drug.dosage_form }} are transferred to the Inspection dept.

After completion of Visual Inspection {{ drug.dosage_form }} are collected in the container lined with low density P.P. bag. {{ drug.dosage_form }} are  weighed  and  transferred  to the semi-finished store Until taken for  coating

Intimate the Quality Control Dept. to collect the sample for complete Analysis.  By Sample Quantity: - 2 X {{ storage.pack_size }}.

{# TABLE #}
| S/N | Parameters | Specification | Time interval |
| --- | --- | --- | --- |
| 1 | Thickness | 2.65 mm ± 0.2 mm | 1 hour |
| 2 | Hardness | Not less than 2.00 kg/cm2 | 1 hour |
| 3 | Disintegration | Not more than 15.00 minutes | 1 hour |
| 4 | Friability | Not more than 2% w/w | 2 hours |
| 5 | Weight variation | 0.{{ drug.strength }} ± 5% | 2 hours |
| 6 | Weight of {{ storage.pack_size }} | 3.{{ drug.strength }} ± 5% | ½ hour |

{# TABLE #}
| Time | Wt. of 20 tabs in g | Hardness in kg/cm3 | Thickness in mm | D.T in min | Friability | Checked by |
| --- | --- | --- | --- | --- | --- | --- |
|  |  |  |  |  |  |  |
|  |  |  |  |  |  |  |
|  |  |  |  |  |  |  |
|  |  |  |  |  |  |  |
