{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Losartan Potassium 50mg
  Module: unclassified
  Vars  : 3
#}

### Production method

Its crude product comes from the polymerization of vinylpyrrolidone under basic catalyst or the existence of N, N'-divinyl amidine and further cross-inking reaction. Then use water, 5% acetic acid and 50% ethanol for reflux to until extract ≤{{ drug.strength }}/kg (for over 3h). 
The 30% to 60% aqueous {{ drug.dosage_form }} of the purified 1-vinyl-2-pyrrolidone, in the presence of ammonia or amines and also with hydrogen peroxide as the catalyst, has cross-linking and homo-polymerization reaction at a temperature of {{ storage.temperature }} and subject to further purification to obtain the final product.
