{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Losartan Potassium 50mg
  Module: unclassified
  Vars  : 2
#}

## Properties

Isopropyl alcohol is miscible in water, ethanol, ether, and chloroform. It will dissolve ethyl cellulose, polyvinyl butyral, many oils, alkaloids, gums and natural resins. Unlike ethanol or methanol, isopropyl alcohol is not miscible with salt solutions and can be separated from aqueous solutions by adding a salt such as sodium chloride. The process is colloquially called salting out, and causes concentrated isopropyl alcohol to separate into a distinct layer.

Isopropyl alcohol forms an azeotrope with water, which gives a boiling point of 80.{{ storage.temperature }} (176.67 °F) and a composition of 87.7 wt% (91 vol%) isopropyl alcohol. Water-isopropyl alcohol mixtures have depressed melting points. It has a slightly bitter taste, and is not safe to drink.

Isopropyl alcohol becomes increasingly viscous with decreasing temperature and will freeze at −{{ storage.temperature }} (−128 °F).

Isopropyl alcohol has a maximum absorbance at 205 nm in an ultraviolet-visible spectrum.
