{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Glibenclamide 5mg
  Module: unclassified
  Vars  : 0
#}

## Proposed storage statement and shelf-life (and in-use storage conditions and in-use period, if applicable):

{# TABLE #}
| Container closure system | Storage statement | Shelf-life |
| --- | --- | --- |
| Plastic seal | {{ storage.storage_conditions }}. | 36 months |
