{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Telmisartan 40mg
  Module: unclassified
  Vars  : 7
#}

### Protocol

All patients started treatment with {{ drug.name }}, {{ drug.strength }} once daily. In the case of patients who were taking another antihypertensive agent at the start of the study (the treated but uncontrolled or treated and controlled groups), the {{ drug.name }} was substituted for the other agent. There was no washout period. After 2 weeks (visit 2), if the systolic {{ drug.pharmacopoeia_standard }} was ≥130 mm Hg, or the diastolic {{ drug.pharmacopoeia_standard }} was ≥85 mm Hg, or both, the dose of {{ drug.name }} was increased to {{ drug.strength }} once daily for the 4-week treatment maintenance period. Patients controlled at visit 2 remained on the 40-mg dose.
