{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Telmisartan 40mg
  Module: unclassified
  Vars  : 6
#}

## {{ drug.molecular_formula }} {{ drug.molecular_formula }} {{ drug.molecular_formula }} {{ drug.molecular_formula }}

{{ drug.molecular_formula }} {{ drug.molecular_formula }}: Me Cure’s TelmisartanTablets.
