{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Telmisartan 40mg
  Module: unclassified
  Vars  : 5
#}

## {{ drug.molecular_formula }} {{ drug.molecular_formula }}

{{ drug.molecular_formula }} OF {{ drug.molecular_formula }} OF {{ drug.molecular_formula }} 3

{# TABLE #}
| 3.1 | Table of contents of Module 3 | Table of contents of Module 3 | Table of contents of Module 3 | Table of contents of Module 3 |
| --- | --- | --- | --- | --- |
| 3.2 |  |  |  |  |
| 3.2.S |  |  |  |  |
|  |  |  |  |  |
|  |  |  |  |  |
|  |  |  |  |  |
|  |  |  |  |  |
|  |  |  |  |  |
|  |  |  |  |  |
|  |  |  |  |  |
|  |  |  |  |  |
|  |  |  |  |  |
|  |  |  |  |  |
|  |  |  |  |  |
|  |  |  |  |  |
|  |  |  |  |  |
|  |  |  |  |  |
|  |  |  |  |  |
|  |  |  |  |  |
|  |  |  |  |  |
|  |  |  |  |  |
|  |  |  |  |  |
|  |  |  |  |  |
|  |  |  |  |  |
|  |  |  |  |  |
|  |  |  |  |  |
|  |  |  |  |  |
|  |  |  |  |  |
| 3.2.P |  |  |  |  |
|  |  |  |  |  |
|  |  |  |  |  |
|  |  |  |  |  |
|  | Drug Substance | Drug Substance | Drug Substance | Drug Substance |
|  | Excipients | Excipients | Excipients | Excipients |
|  |  |  |  |  |
|  | Formulation development report | Formulation development report | Formulation development report | Formulation development report |
|  | Overages | Overages | Overages | Overages |
|  | Physicochemical & Biological Properties | Physicochemical & Biological Properties | Physicochemical & Biological Properties | Physicochemical & Biological Properties |
|  |  |  |  |  |
|  |  |  |  |  |
|  |  |  |  |  |
|  |  |  |  |  |
|  |  |  |  |  |
|  |  |  |  |  |
|  |  |  |  |  |
|  |  |  |  |  |
|  |  |  |  |  |
|  |  |  |  |  |
|  |  |  |  |  |
|  |  |  |  |  |
|  |  |  |  |  |
|  |  |  |  |  |
|  |  |  |  |  |
|  |  |  |  |  |
|  |  |  |  |  |
|  |  |  |  |  |
|  |  |  |  |  |
|  |  |  |  |  |
|  |  |  |  |  |
|  |  |  |  |  |
|  |  |  |  |  |
|  |  |  |  |  |
|  |  |  |  |  |
|  |  |  |  |  |
|  |  |  |  |  |
|  |  |  |  |  |
|  |  |  |  |  |
| 3.2.A |  |  |  |  |
| 3.2.R |  |  |  |  |
| 3.3 |  |  |  |  |
