{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Amlodipine 5mg
  Module: unclassified
  Vars  : 3
#}

## Recommended) International Non-proprietary name ({{ drug.molecular_formula }}):

{{ drug.name }} Besylate

Compendial name, if relevant: {{ drug.name }} Besylate

Chemical name(s): benzenesulfonic acid;3-O-ethyl 5-O-methyl 2-(2-aminoethoxymethyl)-4-(2-chlorophenyl)-6-methyl-1,4-dihydropyridine-3,5-dicarboxylate
