{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Telmisartan 40mg
  Module: unclassified
  Vars  : 6
#}

#### References

Battershill AJ, Scott LJ (2006) {{ drug.name }}: a review of its use in the management of hypertension. Drugs 66: 51-83.

Wienen W, Hauel N, Van Meel JC, Narr B, Ries U, et al. (1993) Pharmacological characterization of the novel nonpeptide angiotensin II receptor antagonist, {{ drug.molecular_formula }} 277. Br J Pharmacol 110: 245-252.

3.SA de CV (2012) Prescribing information [in Spanish]. Micardis®(40 and {{ drug.strength }}) {{ drug.dosage_form }}. Diccionario de Especialidades Farmacéuticas ({{ drug.molecular_formula }}®), 58th( Edn) Boehringer Ingelheim Promeco , Mexico City, Mexico: 2124-2126.

Israili ZH (2000) Clinical pharmacokinetics of angiotensin II (AT1) receptor blockers in hypertension. J Hum Hypertens 14 Suppl 1: S73-86.

Stangier J,Su CA,Roth W (2000) Pharmacokinetics of orally and intravenously administered {{ drug.name }} in healthy young and elderly volunteers and in hypertensive patients, The Journal of International Medical Research 28: 149-167.
