{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Metformin Hydrochloride 500mg
  Module: unclassified
  Vars  : 4
#}

## Renal Function:

{{ drug.molecular_formula }} should be assessed before treatment initiation and regularly thereafter, see section 4.2. Metformin is contraindicated in patients with {{ drug.molecular_formula }} <{{ drug.strength }}/min and should be temporarily discontinued in the presence of conditions that alter renal function, see section 4.3.

As Metformin is excreted by the kidneys, serum creatinine levels should be determined before initiating treatment and regularly thereafter:

• at least annually in patients with normal renal function.

• at least two to four times a year in patients with serum creatinine levels at the upper limit of normal and in elderly subjects.

Decreased renal function in elderly subjects is frequent and asymptomatic. Special caution should be exercised in situations where renal function may become impaired, for example when initiating antihypertensive therapy or diuretic therapy and when starting therapy with an {{ drug.molecular_formula }}
