{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Amlodipine 5mg
  Module: unclassified
  Vars  : 2
#}

## Renal impairment

Changes in {{ drug.name }} plasma concentrations are not correlated with degree of renal impairment, therefore the normal dosage is recommended. {{ drug.name }} is not dialyzable.
