{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Telmisartan 40mg
  Module: unclassified
  Vars  : 0
#}

### Safety

The drug was well tolerated. Of the 2716 patients exposed to treatment, headache caused withdrawal in 17 (0.5%), asthenia 7 (.2%), chest pain 6 (0.2%), other body as a whole 8 (0.2%), cardiovascular 16 (0.5%), digestive 19 (0.6%), and dizziness 13 (0.4%).
