{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Glibenclamide 5mg
  Module: unclassified
  Vars  : 1
#}

## {{ drug.molecular_formula }}

Sifting of raw materials is done for ensuring uniformity of size. This is done using the sifter size stated in the drug master file and transferred to the R.MG.
