{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Telmisartan 40mg
  Module: unclassified
  Vars  : 5
#}

## {{ drug.molecular_formula }} {{ drug.molecular_formula }} {{ drug.molecular_formula }}

Sodium Carboxymethyl Starch

Sodium Starch Glycollate is the sodium salt of a poly-a -glucopyranose in which some of the hydroxyl groups are in the form of carboxymethyl ether.

Category: Pharmaceutical aid ({{ drug.dosage_form }} disintegrant).

Description: Very fine, white or off-white, free-flowing powder; odourless or almost odourless.

Solubility: Practically insoluble in water; insoluble in most organic solvents.

Storage: {{ storage.storage_conditions }}.
