{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Losartan Potassium 50mg
  Module: unclassified
  Vars  : 2
#}

### Solvent

Isopropyl alcohol dissolves a wide range of non-polar compounds. It also evaporates quickly, leaves nearly zero oil traces, compared to ethanol, and is relatively non-toxic, compared to alternative solvents. Thus, it is used widely as a solvent and as a cleaning fluid, especially for dissolving oils. Together with ethanol, n-butanol, and methanol, it belongs to the group of alcohol solvents, about 6.4 million tonnes of which were utilized worldwide in 2011.

Examples of this application include cleaning eyeglasses, electronic devices such as contact pins (like those on {{ drug.molecular_formula }} cartridges), magnetic tape and disk heads (such as those in audio and video tape recorders and floppy disk drives), the lenses of lasers in optical disc drives (e.g., CD, {{ drug.molecular_formula }}) and removing thermal paste from heatsinks and IC packages.
