{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Telmisartan 40mg
  Module: unclassified
  Vars  : 3
#}

## {{ drug.molecular_formula }}., {{ drug.molecular_formula }}, {{ drug.molecular_formula }}

Attached
