{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Telmisartan 40mg
  Module: unclassified
  Vars  : 3
#}

## {{ drug.molecular_formula }} {{ drug.molecular_formula }}

Before starting and during manufacturing operations, both production and QA personnel should ensure the following:

All ingredients to be used must bear a `{{ drug.molecular_formula }}' label and must be within the retest date.

Clean and dry stainless steel equipment should be used for manufacture.

Purified water collected in previous 24 hours, should be used wherever purified water is required for manufacture.

Granulation and compression should be carried out in the segregated area provided for the purpose.

Check the Areas used for the manufacturing process, which should be cleaned and well sanitized.

Adequate care should be taken while handling the active material to avoid cross contamination of product to another product, product to environment product within the product.
