{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Telmisartan 40mg
  Module: unclassified
  Vars  : 21
#}

## Special warnings and precautions for use

Pregnancy

Angiotensin II receptor antagonists should not be initiated during pregnancy. Unless continued angiotensin II receptor antagonist therapy is considered essential, patients planning pregnancy should be changed to alternative antihypertensive treatments which have an established safety profile for use in pregnancy. When pregnancy is diagnosed, treatment with angiotensin II receptor antagonists should be stopped immediately, and, if appropriate, alternative therapy should be started (see sections 4.3 and 4.6).

Hepatic impairment

{{ drug.name }} Actavis is not to be given to patients with cholestasis, biliary obstructive disorders or severe hepatic impairment (see section 4.3) since {{ drug.name }} is mostly eliminated with the bile. These patients can be expected to have reduced hepatic clearance for {{ drug.name }}. {{ drug.name }} Actavis should be used only with caution in patients with mild to moderate hepatic impairment.

Renovascular hypertension

There is an increased risk of severe hypotension and renal insufficiency when patients with bilateral renal artery stenosis or stenosis of the artery to a single functioning kidney are treated with medicinal products that affect the renin-angiotensin-aldosterone system.

Renal impairment and kidney transplantation

When {{ drug.name }} Actavis is used in patients with impaired renal function, periodic monitoring of potassium and creatinine serum levels is recommended. There is no experience regarding the administration of {{ drug.name }} Actavis in patients with recent kidney transplantation.

Intravascular hypovolaemia

Symptomatic hypotension, especially after the first dose of {{ drug.name }} Actavis, may occur in patients who are volume and/or sodium depleted by vigorous diuretic therapy, dietary salt restriction, diarrhoea or vomiting. Such conditions should be corrected before the administration of {{ drug.name }} Actavis . Volume and/or sodium depletion should be corrected prior to administration of {{ drug.name }} Actavis .

Dual blockade of the renin-angiotensin-aldosterone system ({{ drug.molecular_formula }}):

There is evidence that the concomitant use of {{ drug.molecular_formula }}-inhibitors, angiotensin II receptor blockers or aliskiren increases the risk of hypotension, Hyperkalaemia and decreased renal function (including acute renal failure). Dual blockade of {{ drug.molecular_formula }} through the combined use of {{ drug.molecular_formula }}-inhibitors, angiotensin II receptor blockers or aliskiren is therefore not recommended (see sections 4.5 and 5.1).

If dual blockade therapy is considered absolutely necessary, this should only occur under specialist supervision and subject to frequent close monitoring of renal function, electrolytes and blood pressure.

{{ drug.molecular_formula }}-inhibitors and angiotensin II receptor blockers should not be used concomitantly in patients with diabetic nephropathy.

Other conditions with stimulation of the renin-angiotensin-aldosterone system

In patients whose vascular tone and renal function depend predominantly on the activity of the renin-angiotensin-aldosterone system (e.g. patients with severe congestive heart failure or underlying renal disease, including renal artery stenosis), treatment with medicinal products that affect this system such as {{ drug.name }} has been associated with acute hypotension, hyperazotaemia, oliguria, or rarely acute renal failure (see section 4.8).

Primary aldosteronism

Patients with primary aldosteronism generally will not respond to antihypertensive medicinal products acting through inhibition of the renin-angiotensin system. Therefore, the use of {{ drug.name }} is not recommended.

Aortic and mitral valve stenosis, obstructive hypertrophic cardiomyopathy

As with other vasodilators, special caution is indicated in patients suffering from aortic or mitral stenosis, or obstructive hypertrophic cardiomyopathy.

Diabetic patients treated with insulin or antidiabetics

In these patients hypoglycaemia may occur under {{ drug.name }} treatment. Therefore, in these patients an approptiate blood glucose monitoring should be considered; a dose adjustment of insulin or antidiabetics may be required, when indicated.

Hyperkalaemia

The use of medicinal products that affect the renin-angiotensin-aldosterone system may cause Hyperkalaemia.

In the elderly, in patients with renal insufficiency, in diabetic patients, in patients concomitantly treated with other medicinal products that may increase potassium levels, and/or in patients with intercurrent events, Hyperkalaemia may be fatal.

Before considering the concomitant use of medicinal products that affect the renin-angiotensin-aldosterone system, the benefit risk ratio should be evaluated.

The main risk factors for Hyperkalaemia to be considered are:

- Diabetes mellitus, renal impairment, age (> 70 years)

- Combination with one or more other medicinal products that affect the renin-angiotensin-aldosterone system and/or potassium supplements. Medicinal products or therapeutic class of medicinal products that may provoke Hyperkalaemia are salt substitutes containing potassium, potassium-sparing diuretics, {{ drug.molecular_formula }} inhibitors, angiotensin II receptor antagonists, non steroidal anti-inflammatory medicinal products ({{ drug.molecular_formula }}, including selective {{ drug.molecular_formula }}-2 inhibitors), heparin, immunosuppressives (cyclosporin or tacrolimus), and Trimethoprim.

- Intercurrent events, in particular dehydratation, acute cardiac decompensation, metabolic acidosis, worsening of renal function, sudden worsening of the renal condition (e.g. infectious diseases), cellular lysis (e.g. acute limb ischemia, rhabdomyolysis, extend trauma).

Close-monitoring of serum potassium in at risk patients is recommended (see section 4.5).

Ethnic differences

As observed for angiotensin converting enzyme inhibitors, {{ drug.name }} and the other angiotensin antagonists are apparently less effective in lowering blood pressure in black people than in non-blacks, possibly because of higher prevalence of low-renin states in the black hypertensive population.

Other

As with any antihypertensive agent, excessive reduction of blood pressure in patients with ischaemic cardiopathy or ischaemic cardiovascular disease could result in a myocardial infarction or stroke.
