{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Telmisartan 40mg
  Module: unclassified
  Vars  : 35
#}

## {{ drug.molecular_formula }}

Identification: A: When examined microscopically, shows irregular plates, the majority less than 50 mm in length. The particles are not notably stained by a 0.1% w/v {{ drug.dosage_form }} of methylene blue in ethanol (95%).

B: Melt 0.{{ drug.strength }} in a metal crucible with {{ drug.strength }} of potassium nitrate and {{ drug.strength }} of anhydrous sodium carbonate, add {{ drug.strength }} of boiling water, mix and filter. Wash the residue with {{ drug.strength }} of water. Mix the residue with a mixture of 0.{{ drug.strength }} of hydrochloric acid and {{ drug.strength }} of water and filter. To the filtrate add {{ drug.strength }} of 9M ammonia and {{ drug.strength }} of ammonium chloride and filter. To the filtrate add {{ drug.strength }} of disodium hydrogen phosphate {{ drug.dosage_form }}; a white, crystalline precipitate is produced.

C: Gives the reaction of silicates.

Acidity or alkalinity: Shake {{ drug.strength }} with {{ drug.strength }} of carbon dioxide-free water for 1 minute, filter and add to the filtrate 0.{{ drug.strength }} of bromothymol blue {{ drug.dosage_form }}; the {{ drug.dosage_form }} is not acid and requires not more than 0.{{ drug.strength }} of 0.1M hydrochloric acid to make it acid.

Iron: Boil {{ drug.strength }} with {{ drug.strength }} of water for 30 minutes, replacing the water lost by evaporation, and filter. The filtrate, after the addition of {{ drug.strength }} of nitric acid  (amendment 4), complies with the limit test for iron, (10 ppm).

Acid-soluble substances: Not more than 2.0%, determined by the following method. Digest 2.{{ drug.strength }} with {{ drug.strength }} of dilute hydrochloric acid for 15 minutes, filter, evaporate the filtrate; to the residue add 0.{{ drug.strength }} of sulphuric acid and ignite to constant weight.

Water-soluble substances: Shake {{ drug.strength }} with {{ drug.strength }} of water for 1 minute, filter, evaporate the filtrate and dry to constant weight; the residue weighs not more than {{ drug.strength }}.

Carbonates: To {{ drug.strength }} add {{ drug.strength }} of dilute hydrochloric acid; no effervescence is produced.

Chloride: Suspend {{ drug.strength }} in {{ drug.strength }} of water, add {{ drug.strength }} of 2M nitric acid, shake for 15 minutes and filter. {{ drug.strength }} of the filtrate complies with the limit test for chlorides, (250 ppm).

Organic compounds: The residue obtained in the test for Loss on drying is not more than slightly yellow or grey.

Loss on drying: Not more than 1.0%, determined on {{ drug.strength }} by drying in an oven at 180o for 1 hour.
