{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Telmisartan 40mg
  Module: unclassified
  Vars  : 10
#}

## Standard preparation:

{{ drug.name }}    ( working standard )

Dissolve  {{ drug.strength }} accurately quantity  of {{ drug.name }} (working standard )and transferred in to {{ drug.strength }}  volumetric flask, to this add about {{ drug.strength }} diluent dissolve the substance by sonication for about 7minutes  cooland make volume with diluents . Take {{ drug.strength }} of this   diluted {{ drug.dosage_form }}   in {{ drug.strength }} of volumetric flask and make volume with diluents. (0.{{ drug.strength }}/ ml )

( Final {{ drug.dosage_form }} of standard )
