{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Losartan Potassium 50mg
  Module: unclassified
  Vars  : 1
#}

## Structure

Molecular formula: {{ drug.molecular_formula }}

Relative molecular mass: 422
