{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Losartan Potassium 50mg
  Module: unclassified
  Vars  : 0
#}

## Structure

{# TABLE #}
| SYNONYMS | Cellulose gel. |
| --- | --- |
| {{ drug.molecular_formula }} | Microcrystalline cellulose is a purified, partially depolymerized cellulose prepared by treating alpha-cellulose, obtained as a pulp from fibrous plant material, with mineral acids. The degree of polymerization is typically less than 400. Not more than 10% of the material has a particle size of less than 5 m m. |
|  |  |
|  |  |
|  |  |
| Assay | Not less than 97% of carbohydrate calculated as cellulose on the dried basis |
| {{ drug.molecular_formula }} | Fine, white or almost white, odourless, free flowing crystalline powder |
| {{ drug.molecular_formula }} {{ drug.molecular_formula }} | Emulsifier, stabilizer, anticaking and dispersing agent |
| {{ drug.molecular_formula }} |  |
| {{ drug.molecular_formula }} |  |
| Solubility | Insoluble in water, ethanol, ether and dilute mineral acids. Slightly soluble in sodium hydroxide {{ drug.dosage_form }} |
| Infrared absorption | The infrared absorption spectrum of a potassium bromide dispersion of the sample corresponds to the infrared spectrum in the Appendix |
| {{ drug.molecular_formula }} |  |
| Loss on drying | Not more than 7.0% (105 °, 3h) |
| pH | 5.0 - 7.5
Shake {{ drug.strength }} of the sample with {{ drug.strength }} of water for 20 min and centrifuge. Use the supernatant for pH determination |
| Water soluble substances |  |
|  | Not more than 0.24%
See description under {{ drug.molecular_formula }} |
| Sulfated ash | Not more than 0.05%
Proceed as directed under the test for Ash (Sulfated Ash, Method I) using {{ drug.strength }} of the sample |
| Lead | Not more than {{ drug.strength }}/kg
Prepare a sample {{ drug.dosage_form }} as directed for organic compounds in the Limit Test and determine the lead content by atomic absorption spectrometry |
| Starch | Not detectable
See description under {{ drug.molecular_formula }} |
| {{ drug.molecular_formula }} |  |
| {{ drug.molecular_formula }} {{ drug.molecular_formula }} |  |
| Water soluble substances |  |
|  | Shake {{ drug.strength }} of the sample with approximately {{ drug.strength }} of water for 10 min, filter through Whatman No. 42 or equivalent filter paper into a tared beaker, evaporate to dryness on a steam bath and dry at 105° for 1h. Cool, weigh and calculate as percentage. |
| Starch | Mix {{ drug.strength }} of the sample with {{ drug.strength }} of water in a high-speed (18,000 rpm) blender for 5 min. Transfer {{ drug.strength }} of the mixture to a 100-ml graduated cylinder, and allow to stand for 3h. A white opaque, bubble-free dispersion which does form a supernatant liquid at the surface, is obtained.
To {{ drug.strength }} of this dispersion add a few drops of iodine TS, and mix. No purplish to blue or blue colour should be produced. |
| {{ drug.molecular_formula }} OF {{ drug.molecular_formula }} | Transfer about {{ drug.strength }} of the sample, accurately weighed, to a 300-ml Erlenmeyer flask, using about {{ drug.strength }} of water. Add 50.{{ drug.strength }} of 0.5N potassium dichromate, mix, then carefully add {{ drug.strength }} of sulfuric acid, and heat to boiling. Remove from heat, allow to stand at room temperature for 15 min, cool in a water bath, and transfer into a 250-ml volumetric flask. Dilute with water almost to volume, cool to 25 °, then dilute to volume with water, and mix. Titrate a 50.0-ml aliquot with 0.1N ferrous ammonium sulfate, using 2 or 3 drops of ortho-phenanthroline TS as the indicator, and record the volume required as S, in ml. Perform a blank determination, and record the volume of 0. IN ferrous ammonium sulfate required as B, in ml. Calculate the percentage of cellulose in the sample by the formula:

in which W is the weight of sample taken, in mg, corrected for Loss on Drying. |
