{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Telmisartan 40mg
  Module: unclassified
  Vars  : 2
#}

## Structural formula, including relative and absolute stereochemistry:

Molecular formula: {{ drug.molecular_formula }}

Relative molecular mass: {{ drug.molecular_weight }}
