{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Losartan Potassium 50mg
  Module: unclassified
  Vars  : 2
#}

## structure

Isopropyl alcohol ({{ drug.molecular_formula }} name propan-2-ol; commonly called isopropanol) is a compound with the chemical formula {{ drug.molecular_formula }}. It is a colorless, flammable chemical compound with a strong odor. As an isopropyl group linked to a hydroxyl group, it is the simplest example of a secondary alcohol, where the alcohol carbon atom is attached to two other carbon atoms. It is a structural isomer of 1-propanol and ethyl methyl ether.

It is used in the manufacture of a wide variety of industrial and household chemicals, and is a common ingredient in chemicals such as antiseptics, disinfectants and detergents.

Category: Antiseptics, disinfectants and detergents.
