{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Metformin Hydrochloride 500mg
  Module: unclassified
  Vars  : 2
#}

# Study on sustained-release {{ drug.name }} from matrix {{ drug.dosage_form }}: Influence of hydrophilic polymers and in vitro evaluation

Kamlesh J Wadher, Rajendra B Kakde,1 and Milind J Umekar
