{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Losartan Potassium 50mg
  Module: unclassified
  Vars  : 1
#}

## Summary of {{ batch_number }}:

{# TABLE #}
| Batch number(s) of the FPPs used in | Batch number(s) of the FPPs used in | Batch number(s) of the FPPs used in | Batch number(s) of the FPPs used in |
| --- | --- | --- | --- |
|  |  |  |  |
|  |  |  |  |
|  |  |  |  |
|  |  |  |  |
|  |  |  |  |
|  |  |  |  |
|  |  |  |  |
