{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Telmisartan 40mg
  Module: unclassified
  Vars  : 1
#}

## Summary of the quality and controls of the starting materials used in the manufacture of the {{ drug.molecular_formula }}:

N/A
