{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Metformin Hydrochloride 500mg
  Module: unclassified
  Vars  : 2
#}

## Surgery:

{{ drug.name }} must be discontinued 48 hours before elective surgery under general, spinal or peridural anaesthesia. Therapy may be restarted no earlier than 48 hours following surgery or resumption of {{ drug.route_of_administration }} nutrition and renal function has been re-evaluated and found to be stable.
