{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Losartan Potassium 50mg
  Module: unclassified
  Vars  : 3
#}

## Synonyms

{{ drug.molecular_formula }};k25;k60;{{ drug.molecular_formula }};K-30;{{ drug.molecular_formula }};k115;pvp2;pvp3;pvp4

Molecular Formula:

CH4
