{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Losartan Potassium 50mg
  Module: unclassified
  Vars  : 8
#}

## Synthesis

{{ drug.molecular_formula }} is pure partially depolymerized cellulose synthesized from α-cellulose precursor.[6] The {{ drug.molecular_formula }} can be synthesized by different processes such as reactive extrusion, enzyme mediated, steam explosion and acid hydrolysis. The later process can be done using mineral acids such as {{ drug.molecular_formula }}, HCl and HBr as well as ionic liquids. The role of these reagents is to destroy the amorphous regions leaving the crystalline domains.

The degree of polymerization is typically less than 400. The {{ drug.molecular_formula }} particles with size lower than 5 µm must not be more than 10%.

Thermogravimetric analysis ({{ drug.molecular_formula }}) and differential thermal analysis ({{ drug.molecular_formula }}) or differential scanning calorimetry ({{ drug.molecular_formula }}) are also important to predict the thermal behavior of the {{ drug.molecular_formula }} upon heat stresses.
