{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Telmisartan 40mg
  Module: unclassified
  Vars  : 0
#}

## Table 3

Number of patients with controlled blood pressures (<140/90 mm Hg)

All comparisons between doses at each visit, and between visits at each dose, were based on χ2 test and were significant (P < .001).

{# TABLE #}
| Population | Visit 2 N (%) | Final Visit N (%) |
| --- | --- | --- |
| All patients |  |  |
| {{ drug.strength }} (N = 1184) | 929 (78.5%) | 833 (70.4%) |
| {{ drug.strength }} (N = 1475) | 179 (12.1%) | 650 (44.1%) |
| Age <65 years |  |  |
| {{ drug.strength }} (N = 863) | 708 (82.0%) | 629 (72.9%) |
| {{ drug.strength }} (N = 1069) | 140 (13.1%) | 519 (48.6%) |
| Age ≥65 years |  |  |
| {{ drug.strength }} (N = 317) | 217 (68.5%) | 200 (63.1%) |
| {{ drug.strength }} (N = 403) | 38 (9.4%) | 130 (32.3%) |
| African American |  |  |
| {{ drug.strength }} (N = 125) | 94 (75.2%) | 89 (71.2%) |
| {{ drug.strength }} (N = 231) | 22 (9.5%) | 97 (42.0%) |
| Whites |  |  |
| {{ drug.strength }} (N = 931) | 735 (79.0) | 648 (69.6%) |
| {{ drug.strength }} (N = 1092) | 137 (12.6%) | 480 (44.0%) |
