{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Telmisartan 40mg
  Module: unclassified
  Vars  : 14
#}

## {{ drug.molecular_formula }} OF {{ drug.molecular_formula }} OF {{ drug.molecular_formula }} 5

AS {{ drug.molecular_formula }} {{ drug.molecular_formula }} {{ drug.molecular_formula }} {{ drug.molecular_formula }} {{ drug.molecular_formula }} ({{ drug.molecular_formula }}) {{ drug.molecular_formula }} {{ drug.molecular_formula }}, {{ drug.molecular_formula }} {{ drug.molecular_formula }} 5.3.1 IS {{ drug.molecular_formula }}

{# TABLE #}
| 5.1 | Table of contents of Module 5 | Table of contents of Module 5 | Table of contents of Module 5 |
| --- | --- | --- | --- |
| 5.2 |  |  |  |
| 5.3 |  |  |  |
|  |  |  |  |
|  | Bioavailability (BA) Study Reports | Bioavailability (BA) Study Reports | Bioavailability (BA) Study Reports |
|  | Comparative BA and Bioequivalence (BE) Study Reports | Comparative BA and Bioequivalence (BE) Study Reports | Comparative BA and Bioequivalence (BE) Study Reports |
|  | In Vitro – In Vivo Correlation Study Reports | In Vitro – In Vivo Correlation Study Reports | In Vitro – In Vivo Correlation Study Reports |
|  | Reports of Bioanalytical and Analytical Methods for Human Studies | Reports of Bioanalytical and Analytical Methods for Human Studies | Reports of Bioanalytical and Analytical Methods for Human Studies |
|  |  |  |  |
|  | Plasma Protein Binding Study Reports | Plasma Protein Binding Study Reports | Plasma Protein Binding Study Reports |
|  | Reports of Hepatic Metabolism and Drug Interaction Studies | Reports of Hepatic Metabolism and Drug Interaction Studies | Reports of Hepatic Metabolism and Drug Interaction Studies |
|  | Reports of Studies Using Other Human Biomaterials | Reports of Studies Using Other Human Biomaterials | Reports of Studies Using Other Human Biomaterials |
|  |  |  |  |
|  | Healthy Subject PK and Initial Tolerability Study Reports | Healthy Subject PK and Initial Tolerability Study Reports | Healthy Subject PK and Initial Tolerability Study Reports |
|  | Patient PK and Initial Tolerability Study Reports | Patient PK and Initial Tolerability Study Reports | Patient PK and Initial Tolerability Study Reports |
|  | Intrinsic Factor PK Study Reports | Intrinsic Factor PK Study Reports | Intrinsic Factor PK Study Reports |
|  | Extrinsic Factor PK Study Reports | Extrinsic Factor PK Study Reports | Extrinsic Factor PK Study Reports |
|  | Population PK Study Reports | Population PK Study Reports | Population PK Study Reports |
|  |  |  |  |
|  | Healthy Subject PD and PK/PD Study Reports | Healthy Subject PD and PK/PD Study Reports | Healthy Subject PD and PK/PD Study Reports |
|  | Patient PD and PK/PD Study Reports | Patient PD and PK/PD Study Reports | Patient PD and PK/PD Study Reports |
|  |  |  |  |
|  | Study Reports of Controlled Clinical Studies Pertinent to the Claimed Indication | Study Reports of Controlled Clinical Studies Pertinent to the Claimed Indication | Study Reports of Controlled Clinical Studies Pertinent to the Claimed Indication |
|  | Study Reports of Uncontrolled Clinical Studies References | Study Reports of Uncontrolled Clinical Studies References | Study Reports of Uncontrolled Clinical Studies References |
|  | Reports of Analyses of Data from more than one study, including any formal integrated analyses, meta-analyses, and bridging analyses | Reports of Analyses of Data from more than one study, including any formal integrated analyses, meta-analyses, and bridging analyses | Reports of Analyses of Data from more than one study, including any formal integrated analyses, meta-analyses, and bridging analyses |
|  | Other Clinical Study Reports | Other Clinical Study Reports | Other Clinical Study Reports |
|  |  |  |  |
|  |  |  |  |
| 5.4 |  |  |  |
