{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Telmisartan 40mg
  Module: unclassified
  Vars  : 8
#}

## {{ drug.dosage_form }} and {{ drug.dosage_form }} factory:

{{ drug.dosage_form }} and {{ drug.dosage_form }} manufacturing factory consist of change rooms, {{ drug.dosage_form }} manufacturing andpackaging facilities. The building is of suitable size and construction. Manufacturing areas have adequate space for orderly flow of equipment and process to prevent cross contamination. The factory also has raw material, packaging material and finished products stores.

B-Lactam factory: {{ drug.dosage_form }} manufacturing factory consists of change rooms, {{ drug.dosage_form }} manufacturing and packaging facilities. The building is of suitable size and construction. Manufacturing areas have adequate space for orderly flow of equipment and process to prevent cross contamination. The factory also has raw material, packaging material and finished products stores.

Quality control department: The first floor consists of quality control department. Quality control department having facility to check products by chemical, physico-chemical and microbiological analysis. The department has adequate instruments, technical staff to perform tests.

All the areas are provided with appropriate {{ drug.molecular_formula }}, Ventilation Systems & Air Locks and adequate working space for orderly and logical placement of equipments and materials. Thisrules out the possibility of contamination & cross-contamination.

Insectocuter units are placed at strategic locations as an additional measure for prevention of insect’s entry into production area especially in rainy season.

The entire manufacturing area is adequately illuminated and well designed for ventilation.
