{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Telmisartan 40mg
  Module: unclassified
  Vars  : 1
#}

## {{ drug.name }}

{# TABLE #}
| Molecular Formula: | C33H30N4O2 |
| --- | --- |
| Molecular Weight: | {{ drug.molecular_weight }} |
