{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Telmisartan 40mg
  Module: unclassified
  Vars  : 1
#}

## {{ drug.name }}

{# TABLE #}
| Appearance | White to slightly yellowish solid, odourless or almost odourless. |
| --- | --- |
| Solubility | Practically insoluble in water and in the pH range of 3to 9, sparingly soluble in strong acid (except insoluble in hydrochloric acid) and soluble in strong base. |
| Melting range | Melts between 261oC to 263oC. |
| Loss on drying | Not more than 1.0%, determined on {{ drug.strength }} by drying in an oven at 105oC. |
