{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Telmisartan 40mg
  Module: unclassified
  Vars  : 1
#}

## {{ drug.name }}

{# TABLE #}
| Appearance | White or slightly yellowish crystalline powder. |
| --- | --- |
| Solubility | Practically insoluble in water, slightly soluble in methanol, sparingly soluble in methylene
chloride. It dissolves in 1 M sodium hydroxide.. |
| Melting range | Melts between 261o to 263o. |
| Loss on drying | Not more than 1.53%, determined on {{ drug.strength }} by drying in an oven at 105o |
