{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Telmisartan 40mg
  Module: unclassified
  Vars  : 1
#}

## {{ drug.name }}

{# TABLE #}
| Appearance | White or yellowish white powder; odourless or almost odourless solid. |
| --- | --- |
| Solubility | Practically insoluble in water and in the pH range of 3 to 9, sparingly soluble in strong acid (except insoluble in hydrochloric acid ) and soluble in strong base. Sparingly soluble in chloroform; slightly soluble in ethanol (95%); very slightly soluble in water; practically insoluble in ether. |
| Melting range | Melts between 261oC and 263oC. |
| Loss on drying | Not more than 1.0%, determined on {{ drug.strength }} by drying in an oven at 105oC. |
