{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Losartan Potassium 50mg
  Module: unclassified
  Vars  : 4
#}

## {{ drug.molecular_formula }} {{ drug.molecular_formula }} :

Use Apparatus 2,  rotating the paddle

Revolution  50 per minutes

Use {{ drug.strength }} of water, at temperature {{ storage.temperature }} at the medium.

Time : 30 minutes
