{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Telmisartan 40mg
  Module: unclassified
  Vars  : 11
#}

## {{ drug.molecular_formula }}

Acidity Add {{ drug.strength }} to {{ drug.strength }} of alcohol (70 per cent V/V) R previously neutralised to 0.{{ drug.strength }} of phenolphthalein {{ drug.dosage_form }} R and shake for 1 h. Filter and take {{ drug.strength }} of the filtrate. Not more than 2.{{ drug.strength }} of O. 1M sodium hydroxide is required to change the colour of the indicator.

Foreign matter Not more than traces of cell membranes and protoplasm are present.

Loss on drying (2.2.32). Not more than 15.0 per cent, determined on 1.{{ drug.strength }} by drying in an oven at {{ storage.temperature }} to {{ storage.temperature }}.

Sulphated ash (2.4.14). Not more than 0.6 per cent, determined on 1.{{ drug.strength }}.

Microbial contamination. Total viable aerobic count (2.6.12) not more than 103 bacteria and 102

Fungi per gram, determined by plate-count. It complies with the test for Escherichia coli (2.6.13).
