{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Glibenclamide 5mg
  Module: unclassified
  Vars  : 7
#}

## The chromatographic procedure described under Assay may be used.

Calculate the content of {{ drug.molecular_formula }} in each {{ drug.dosage_form }} using the declared content of  {{ drug.molecular_formula }} in {{ drug.name }} working standard.

For {{ drug.name }} content:

Area of assay X mg per ml std. (final conc.)  X   25    X     % Purity of Std.

Area of Std.  		                                     {{ storage.pack_size }}100

=                   mg   x 100

5

=                      % of {{ drug.name }}
