{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Telmisartan 40mg
  Module: unclassified
  Vars  : 2
#}

## Therapeutic indication:

This medication is used to treat high blood pressure(hypertension). Lowering high blood pressure helps prevent strokes, heart attacks, and kidney problems. {{ drug.name }} belongs to a class of drugs called angiotensin receptor blockers ({{ drug.molecular_formula }}).
