{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Losartan Potassium 50mg
  Module: unclassified
  Vars  : 0
#}

## Thorir D. Bjornsson MD, PhD

First published: December 1995

https://doi.org/10.1016/0009-9236(95)90020-9
