{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Telmisartan 40mg
  Module: unclassified
  Vars  : 1
#}

## Topic:

antihypertensive agents

hypertension

angiotensin receptor antagonists

blood pressure

demography

safety

{{ drug.name }}

community

titration method
