{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Amlodipine 5mg
  Module: unclassified
  Vars  : 15
#}

## Treatment to prevent heart attack trial ({{ drug.molecular_formula }})

A randomized double-blind morbidity-mortality study called the Antihypertensive and Lipid-Lowering Treatment to Prevent Heart Attack Trial ({{ drug.molecular_formula }}) was performed to compare newer medicinal product therapies: {{ drug.name }} 2.5-{{ drug.strength }}/d (calcium channel blocker) or lisinopril 10-{{ drug.strength }}/d ({{ drug.molecular_formula }}-inhibitor) as first-line therapies to that of the thiazide-diuretic, chlorthalidone 12.5-{{ drug.strength }}/d in mild to moderate hypertension.

A total of 33,357 hypertensive patients aged 55 or older were randomized and followed for a mean of 4.9 years. The patients had at least one additional {{ drug.molecular_formula }} risk factor, including: previous myocardial infarction or stroke (> 6 months prior to enrollment) or documentation of other atherosclerotic {{ drug.molecular_formula }} (overall 51.5%), type 2 diabetes (36.1%), {{ drug.molecular_formula }}-C < {{ drug.strength }}/dL (11.6%), left ventricular hypertrophy diagnosed by electrocardiogram or echocardiography (20.9%), current cigarette smoking (21.9%).

The primary endpoint was a composite of fatal {{ drug.molecular_formula }} or non-fatal myocardial infarction. There was no significant difference in the primary endpoint between {{ drug.name }}-based therapy and chlorthalidone-based therapy: RR 0.98 95% CI (0.90-1.07) p=0.65. Among secondary endpoints, the incidence of heart failure (component of a composite combined cardiovascular endpoint) was significantly higher in the {{ drug.name }} group as compared to the chlorthalidone group (10.2% vs. 7.7%, RR 1.38, 95% CI [1.25-1.52] p<0.001). However, there was no significant difference in all-cause mortality between {{ drug.name }}-based therapy and chlorthalidone-based therapy. RR 0.96 95% CI [0.89-1.02] p=0.20.
