{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Amlodipine 5mg
  Module: unclassified
  Vars  : 5
#}

## Use in children (aged 6 years and older)

In a study involving 268 children aged 6-17 years with predominantly secondary hypertension, comparison of a 2.{{ drug.strength }} dose, and 5.{{ drug.strength }} dose of {{ drug.name }} with placebo, showed that both doses reduced Systolic Blood Pressure significantly more than placebo. The difference between the two doses was not statistically significant.

The long-term effects of {{ drug.name }} on growth, puberty and general development have not been studied. The long-term efficacy of {{ drug.name }} on therapy in childhood to reduce cardiovascular morbidity and mortality in adulthood have also not been established.
