{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Losartan Potassium 50mg
  Module: unclassified
  Vars  : 3
#}

## Uses

{{ drug.molecular_formula }} has use in cosmetics as an abrasive, absorbent, anti-caking agent, aqueous viscosity increasing agent, binder, bulking agent, emulsion stabilizer, slip modifier, and texturizer, which can be found in various hair and skin care products as well as makeup.

The {{ drug.molecular_formula }} is a valuable additive in pharmaceutical, food, cosmetic and other industries. Different properties of {{ drug.molecular_formula }} are measured to qualify its suitability to such utilization, namely particle size, density, compressibility index, angle of repose, powder porosity, hydration swelling capacity, moisture sorption capacity, moisture content, crystallinity index, crystallite size, and mechanical properties such as hardness and tensile strength.
