{#
  Source: sample_dossier.docx
  Drug  : Amoxicillin 500mg
  Module: module3_quality
  Vars  : 4
#}

## 2. Qualitative and Quantitative Composition

Each {{ drug.dosage_form }} contains {{ drug.strength }} of {{ drug.name }} (as {{ drug.name }} Trihydrate). Excipients with known effect: None.
