{#
  Source: sample_dossier.docx
  Drug  : Amoxicillin 500mg
  Module: module3_quality
  Vars  : 10
#}

### 3.2.P.1 Description and Composition

{{ drug.name }} {{ drug.strength }} {{ drug.dosage_form }} are {{ drug.dosage_form }} filled with white to off-white powder. Each {{ drug.dosage_form }} contains {{ drug.strength }} of {{ drug.name }} (as trihydrate). The product has a {{ storage.shelf_life }} when stored {{ storage.temperature }} in a dry place. Pack size: {{ storage.pack_size }} {{ drug.dosage_form }} x 10 strips.

{# TABLE #}
| Ingredient | Function | Amount per Capsule |
| --- | --- | --- |
| {{ drug.name }} Trihydrate | Active substance | {{ drug.strength }} (equiv. to {{ drug.strength }} {{ drug.name }}) |
| Magnesium Stearate | Lubricant | {{ drug.strength }} |
| Colloidal Silicon Dioxide | Glidant | {{ drug.strength }} |
| {{ drug.dosage_form }} Shell | Container | As required |
