{#
  Source: sample_dossier.docx
  Drug  : Amoxicillin 500mg
  Module: module3_quality
  Vars  : 8
#}

### 3.2.S.1 General Information

{{ drug.molecular_formula }} Name: {{ manufacturer.name }} Name: (2S,5R,6R)-6-[(R)-(-)-2-Amino-2-(4-hydroxyphenyl)acetamido]-3,3-dimethyl-7-oxo-4-thia-1-azabicyclo[3.2.0]heptane-2-carboxylic acid trihydrate
Molecular Formula: {{ drug.molecular_formula }}.3H2O
Molecular Weight: {{ drug.molecular_weight }}
{{ drug.cas_number }}
Pharmacopoeia Standard: {{ drug.pharmacopoeia_standard }} ({{ drug.pharmacopoeia_standard }}) 2023
Storage: {{ storage.storage_conditions }}
