{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Glibenclamide 5mg
  Module: module2_quality
  Vars  : 1
#}

## 1.4.2 Quality Information Summary

{{ drug.molecular_formula }}

Summary of product information:

{# TABLE #}
| Non-proprietary name(s) of the finished pharmaceutical product(s) (FPP) | Glibenclamide Tablets 5mg B.P |
| --- | --- |
| Proprietary name(s) of the finished pharmaceutical product(s) ({{ drug.molecular_formula }}) | Me Cure’s {{ drug.name }} {{ drug.strength }} B.P |
| International non-proprietary name(s) of the active pharmaceutical ingredient(s) ({{ drug.molecular_formula }}(s)), including form (salt, hydrate, polymorph) | {{ drug.name }} {{ drug.dosage_form }} B.P |
| Applicant name and address | {{ manufacturer.name }}
Plot 6 Block H {{ manufacturer.name }} Compound,
Oshodi Industrial Scheme,
Oshodi Lagos. |
| Dosage form | {{ drug.dosage_form }} |
| Reference Number(s) |  |
| Strength(s) | {{ drug.strength }} |
| Route of administration | {{ drug.route_of_administration }} |
| Proposed indication(s) | {{ drug.name }} is a hypoglycaemic agent indicated in the treatment of non-insulin dependent diabetes in patients who respond inadequately to dietary measures alone. |
| Primary contact person responsible for this application | Title: Mrs.
First name: Anderline
Family Name: Dukor |
| Contact person's job title | Superintendent Pharmacist |
| Contact person's postal address |  |
| Unit | Plot 6 Block H, |
| Building/PO Bag number | {{ manufacturer.name }} Compound, |
| Road/Street |  |
| Plant/Zone | Oshodi Industrial Scheme, |
| Village/suburb |  |
| Town/City | Oshodi – Apapa Expressway, |
| District and Mandal |  |
| Province/State | Lagos, |
| Postal code |  |
| Country | Nigeria. |
| Contact person's email address | dukor@mecure.com , dukor@mecure.com.ng |
| Contact person's phone number | +2348033217090 |
