{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Telmisartan 40mg
  Module: module2_quality
  Vars  : 1
#}

## 2.2   Introduction

This section contains the Quality, Non-clinical and Clinical Overviews and Summaries which is

Module 2.2 of Common Technical Document ({{ drug.molecular_formula }}) for application to the Drug Regulatory Authority
