{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Telmisartan 40mg
  Module: module2_quality
  Vars  : 26
#}

#### Introduction

{{ drug.name }} is a non-peptide angiotensin II receptor antagonist [1,2]. In Mexico, it is indicated for the treatment of arterial hypertension and for the prevention of morbidity and mortality of patients ≥ 55 years old with high risk of cardiovascular disease [3].

The pharmacokinetics of orally administered {{ drug.name }} is nonlinear over the dose range 20 to {{ drug.strength }}, with greater than proportional increases of plasma concentrations with increasing doses. Food has a minimal effect on its bioavailability [4].

{{ drug.name }} shows bi-exponential decay kinetics with a terminal elimination half-life of approximately 24 hours and it is mainly excreted via the feces and only to a very minor extent (<1%) by the kidney [5]

{{ drug.name }} has been regarded as a highly variable drug with an intra-subject variability of Cmax (%CV ≥ 30) [8].

The sponsor of these studies (Laboratorios Liomont, S. A. de C.V.) was interested in obtaining the marketing authorization for two dose strengths of {{ drug.name }} ({{ drug.strength }} and {{ drug.strength }}), as {{ drug.route_of_administration }} {{ drug.dosage_form }} formulations (test formulations) in Mexico.

Two separate studies were planned for each of the two {{ drug.name }} strengths because of the non-linear pharmacokinetics of {{ drug.name }} [4].

Only male subjects were recruited for both studies because it has been reported that the pharmacokinetics of {{ drug.name }} exhibits gender differences [4].

A search of PubMed, {{ drug.molecular_formula }} and Google data bases for literature published up to February of 2015, using the combination terms {{ drug.name }}, bioequivalence, bioavailability, pharmacokinetics, {{ drug.strength }}, {{ drug.strength }}, Mexico, Mexican and population, did not identify any published data concerning the bioavailability of either strength of {{ drug.route_of_administration }} {{ drug.name }} in the Mexican population.

Therefore, the aim of these studies was to compare the bioavailability and to determine the bioequivalence of two test formulations of {{ drug.route_of_administration }} {{ drug.name }} (Raas® {{ drug.strength }} and {{ drug.strength }} {{ drug.dosage_form }}, Laboratorios Liomont, SA de CV, Mexico City, Mexico), containing {{ drug.name }} with their corresponding two reference drug formulations: Micardis® {{ drug.dosage_form }} (Boehringer Ingelheim Promeco, S.A. de C.V., Mexico City, Mexico), for the purpose of obtaining marketing authorization of the two test formulations in Mexico.
