{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Losartan Potassium 50mg
  Module: module2_quality
  Vars  : 3
#}

# [{{ drug.molecular_formula }}]

1.5 Electronic review document:  Complies

One “CD” containing Product Information, {{ drug.molecular_formula }} & {{ drug.molecular_formula }}-PD in word file shall been sent.
