{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Telmisartan 40mg
  Module: module2_quality
  Vars  : 6
#}

## {{ drug.molecular_formula }} {{ drug.molecular_formula }} {{ drug.molecular_formula }} – Product Dossier ({{ drug.molecular_formula }}-PD)

(draft, {{ submission_date }})

See sections 1.5, 3 and 4 of “Guideline on submission of documentation for a multisource (generic) finished pharmaceutical product ({{ drug.molecular_formula }}): quality part” for general and detailed instructions on the completion of this template.
