{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Telmisartan 40mg
  Module: module3_quality
  Vars  : 0
#}

## 2.3.A.1 Facilities and Equipment (name, manufacturer)

(a)	Summary of information on facilities and equipment, in addition to the information provided in other sections of the submission:  Not applicable
