{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Telmisartan 40mg
  Module: module3_quality
  Vars  : 0
#}

## 2.3.A.3 Excipients

Summary of the details of manufacture, characterization and controls, with cross references to supporting safety data (nonclinical and/or clinical) for the novel excipients:

Not applicable. Novel excipients are not accepted in the Prequalification Programme.
