{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Telmisartan 40mg
  Module: module3_quality
  Vars  : 6
#}

#### 2.3.P.1 Description and Composition of the {{ drug.molecular_formula }}

Description of the {{ drug.molecular_formula }} (in signed specifications): A white, round, {{ drug.dosage_form }}   having   embossed with “{{ drug.molecular_formula }}” on one side and “40” on the other side

Composition of the {{ drug.molecular_formula }}:

(i) 	Composition, i.e. list of all components of the {{ drug.molecular_formula }} and their amounts on a per unit basis and percentage basis (including individual components of mixtures prepared in-house (e.g. coatings) and overages, if any):

{# TABLE #}
| Component and quality standard (and grade, if applicable | Function | Strength (label claim) | Strength (label claim) | Strength (label claim) | Strength (label claim) |
| --- | --- | --- | --- | --- | --- |
| Component and quality standard (and grade, if applicable | Function |  |  |  |  |
| Component and quality standard (and grade, if applicable | Function | % | % | % | % |
| Core {{ drug.dosage_form }}. |  |  |  |  |  |
| {{ drug.name }} | Active | 26.93 | 26.93 | 26.93 | 26.93 |
| Starch | Binder | 6.73 | 6.73 | 6.73 | 6.73 |
| Lactose | Diluent | 33.67 | 33.67 | 33.67 | 33.67 |
| {{ drug.molecular_formula }} | Diluent | 26.93 | 26.93 | 26.93 | 26.93 |
| {{ drug.molecular_formula }} K30 | Binder | 4.04 | 4.04 | 4.04 | 4.04 |
| {{ drug.molecular_formula }} | Preservative |  |  |  |  |
| Magnesium Stearate | Lubricant | 0.67 | 0.67 | 0.67 | 0.67 |
| Talcum | Lubricant | 1.34 | 1.34 | 1.34 | 1.34 |
| Aerosil | Glidant/Lubricant | 0.33 | 0.33 | 0.33 | 0.33 |
| {{ drug.molecular_formula }} | Disintegrant | 2.02 | 2.02 | 2.02 | 2.02 |
| Total |  | 100 | 100 | 100 | 100 |
