{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Glibenclamide 5mg
  Module: module3_quality
  Vars  : 5
#}

#### 2.3.P.1 Description and Composition of the {{ drug.molecular_formula }}

Description of the {{ drug.molecular_formula }} (in signed specifications): A white oblong caplet shaped {{ drug.dosage_form }} having embossed with “GL and BD” and a break line in between on one side and “M and 5” and a break line in between on the other side.

Composition of the {{ drug.molecular_formula }}:

(i) 	Composition, i.e. list of all components of the {{ drug.molecular_formula }} and their amounts on a per unit basis and percentage basis (including individual components of mixtures prepared in-house (e.g. coatings) and overages, if any):

{# TABLE #}
| Component and quality standard (and grade, if applicable | Function | Strength (label claim) | Strength (label claim) | Strength (label claim) | Strength (label claim) |
| --- | --- | --- | --- | --- | --- |
| Component and quality standard (and grade, if applicable | Function |  |  |  |  |
| Component and quality standard (and grade, if applicable | Function | % | % | % | % |
| Core {{ drug.dosage_form }}. |  |  |  |  |  |
| {{ drug.name }} | Active | 2.51 | 2.51 | 2.51 | 2.51 |
| Starch | Binder | 17.58 | 17.58 | 17.58 | 17.58 |
| Lactose | Binder | 40.20 | 40.20 | 40.20 | 40.20 |
| {{ drug.molecular_formula }} | Binder | 15.07 | 15.07 | 15.07 | 15.07 |
| {{ drug.molecular_formula }} | Preservative | 15.07 | 15.07 | 15.07 | 15.07 |
| {{ drug.molecular_formula }} K30 | Excipient | 3.01 | 3.01 | 3.01 | 3.01 |
| Magnesium Stearate | Lubricant | 0.50 | 0.50 | 0.50 | 0.50 |
| Talcum | Lubricant | 1.00 | 1.00 | 1.00 | 1.00 |
| {{ drug.molecular_formula }} | Disintegrant | 5.02 | 5.02 | 5.02 | 5.02 |
| Total |  | 100 | 100 | 100 | 100 |
