{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Telmisartan 40mg
  Module: module3_quality
  Vars  : 1
#}

## 2.3.P.2.1.2 Excipients

(a)	Discussion of the choice of excipients listed in 2.3.P.1 (e.g. their concentrations, their characteristics that can influence the {{ drug.molecular_formula }} performance):

N/A
