{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Glibenclamide 5mg
  Module: module3_quality
  Vars  : 0
#}

#### 2.3.P.2.2.1 Formulation Development

Information on primary (submission, registration, exhibit) batches including comparative bioavailability or biowaiver, stability, commercial:
