{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Telmisartan 40mg
  Module: module3_quality
  Vars  : 1
#}

## 2.3.P.2.3 Manufacturing Process Development

(a)	Discussion of the development of the manufacturing process of the {{ drug.molecular_formula }} (e.g. optimization of the process, selection of the method of sterilization):
