{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Telmisartan 40mg
  Module: module3_quality
  Vars  : 3
#}

## 2.3.P.2.4 Container Closure System

Discussion of the suitability of the container closure system (described in 2.3.P.7) used for the storage, transportation (shipping) and use of the {{ drug.molecular_formula }} (e.g. choice of materials, protection from moisture and light, compatibility of the materials with the {{ drug.molecular_formula }}):

Based on preliminary satisfactory stability data of the observed batches and as per packing material used by innovator and marketing requirement {{ drug.dosage_form }} were packed in polyethylene bag as primary packing and was enclosed in secondary packaging plastic jar.

.

For a device accompanying a multi-dose container, a summary of the study results demonstrating the reproducibility of the device (e.g. consistent delivery of the intended volume):

Not applicable
