{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Telmisartan 40mg
  Module: module3_quality
  Vars  : 3
#}

## 2.3.P.3.1 Manufacturer(s)

(a)	Name, address and responsibility (e.g. fabrication, packaging, labelling, testing) of each manufacturer, including contractors and each proposed production site or facility involved in manufacturing and testing:

Manufacturing authorization, marketing authorization and, where available, {{ drug.molecular_formula }}-type certificate of {{ drug.molecular_formula }} ({{ drug.molecular_formula }} information should be provided in Module 1):

Attached

{# TABLE #}
| Name and address
(include block(s)/unit(s)) | Responsibility |
| --- | --- |
| {{ manufacturer.name }}
Plot 6 Block H {{ manufacturer.name }} compound,
Oshodi Industrial Scheme,
Oshodi Lagos.

Contact : +2348033217090
Email : dukor@mecure.com | Manufacturing site: Production and packing and selling. |
