{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Telmisartan 40mg
  Module: module3_quality
  Vars  : 0
#}

## 2.3.P.4.6 Novel Excipients

Novel excipients are not accepted in the Prequalification Programme.
