{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Telmisartan 40mg
  Module: module3_quality
  Vars  : 2
#}

## 2.3.P.4.1 Specifications

(a)	Summary of the specifications for officially recognized compendia excipients which include supplementary tests not included in the officially recognized compendia monograph(s):

For manufacturing of {{ drug.name }} {{ drug.strength }}, the following raw materials excipients are used which comply with specifications of {{ drug.pharmacopoeia_standard }}.

{# TABLE #}
| Aerosil |
| --- |
| Lactose |
| Starch |
| {{ drug.molecular_formula }} K30 |
| {{ drug.molecular_formula }} |
| Magnesium Stearate |
| Talcum |
| {{ drug.molecular_formula }} |
| {{ drug.molecular_formula }} |
