{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Telmisartan 40mg
  Module: module3_quality
  Vars  : 1
#}

## 2.3.P.4.4 Justification of Specifications

(a)	Justification of the specifications (e.g. evolution of tests, analytical procedures and acceptance criteria, exclusion of certain tests, differences from officially recognized compendia standard(s)):

Test specifications and established limits for excipients are in accordance with the {{ drug.pharmacopoeia_standard }}

monograph.
