{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Telmisartan 40mg
  Module: module3_quality
  Vars  : 1
#}

## 2.3.P.5.6 Justification of Specification(s)

Justification of the {{ drug.molecular_formula }} specification(s) (e.g. evolution of tests, analytical procedures and acceptance criteria, differences from officially recognized compendial standard(s)):

{# TABLE #}
| Quality Attribute | Target | Justification |
| --- | --- | --- |
| Description | White circular {{ drug.dosage_form }}, having embossed with “{{ drug.molecular_formula }}” on one side and “40” on the other side. | Required for dosage form |
| Weight of {{ storage.pack_size }} | 3.{{ drug.strength }} ± 5.0 %  ( 2.{{ drug.strength }} – 3.{{ drug.strength }}) | Required for dosage form |
| Average weight of {{ drug.dosage_form }} | 150.{{ drug.strength }} ± 5.0 % (142.{{ drug.strength }} -157.{{ drug.strength }} ) | Required for dosage form |
| Uniformity of weight | {{ drug.molecular_formula }} ± 7.5 % of the average weight. | Required for dosage form |
| Average thickness | 2.65 mm ±  0.20 mm (2.45 mm – 2.85 mm ) | Required for dosage form |
| Weight o        Average   diameter | 7.80 mm ± 0.10 mm (7.70mm –7.90mm ) | Required for dosage form |
| Average hardness | Not less than 2.0 kg /cm2 | Required for dosage form |
| Friability | Not more than 2.0 % | Required for dosage form |
| Disintegration time | Not more than 15 minutes | It is important to maintain the therapeutic efficacy |
| Assay
{{ drug.name }} B.P. {{ drug.strength }} | 36.{{ drug.strength }} – 44.{{ drug.strength }} 
( Limit : Not less than 90.00% and not more than 110.00% of the labelled amount ) |  |
