{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Telmisartan 40mg
  Module: module3_quality
  Vars  : 6
#}

## 2.3.P.8.2 Post-approval Stability Protocol and Stability Commitment

(a)	Stability protocol for Primary stability batches (e.g. storage conditions (including tolerances), {{ batch_number }} and {{ batch_number }}, tests and acceptance criteria, testing frequency, container closure system(s)): Stability data completed upto initial time point is enclosed in Module 3,Section 3.2.P.8.3

Stability protocol for Commitment batches (e.g. storage conditions (including tolerances), {{ batch_number }} (if known) and {{ batch_number }}, tests and acceptance criteria, testing frequency, container closure system(s)): Every year one {{ batch_number }} be subjected to long term stability study.

(c)	Stability protocol for Ongoing batches (e.g. storage conditions (including tolerances), number of batches per strength and {{ batch_number }}, tests and acceptance criteria, testing frequency, container closure system(s)):refer Module 3,Section 3.2.P.8.3 for stability data

Not available

{# TABLE #}
| Parameter | Details | Details |
| --- | --- | --- |
| {{ batch_number }}(s) / {{ batch_number }}(s) |  |  |
| Tests and acceptance criteria | White circular {{ drug.dosage_form }}, having embossed with “{{ drug.molecular_formula }}” on one side and “40” on the other side. | White circular {{ drug.dosage_form }}, having embossed with “{{ drug.molecular_formula }}” on one side and “40” on the other side. |
| Tests and acceptance criteria | Not more than 15 mins. | Not more than 15 mins. |
| Tests and acceptance criteria | 150.{{ drug.strength }} ± 5.0% | 150.{{ drug.strength }} ± 5.0% |
| Tests and acceptance criteria |  |  |
| Tests and acceptance criteria | (90.0 to 110.0 %)
36.{{ drug.strength }} – 44.{{ drug.strength }} | (90.0 to 110.0 %)
36.{{ drug.strength }} – 44.{{ drug.strength }} |
| Tests and acceptance criteria |  |  |
| Tests and acceptance criteria | Total Aerobic Microbial Count: Not more than 100 {{ drug.molecular_formula }}/g | Total Aerobic Microbial Count: Not more than 100 {{ drug.molecular_formula }}/g |
| Tests and acceptance criteria | Total combine yeast and mould count: Not more than 10 {{ drug.molecular_formula }}/g | Total combine yeast and mould count: Not more than 10 {{ drug.molecular_formula }}/g |
| Testing frequency |  |  |
| Container closure system(s) |  |  |

{# TABLE #}
| Parameter | Details | Details |
| --- | --- | --- |
| {{ batch_number }}(s) / {{ batch_number }}(s) |  |  |
| Tests and acceptance criteria | White circular {{ drug.dosage_form }}, having embossed with “{{ drug.molecular_formula }}” on one side and “40” on the other side. | White circular {{ drug.dosage_form }}, having embossed with “{{ drug.molecular_formula }}” on one side and “40” on the other side. |
| Tests and acceptance criteria | Not more than 15 mins. | Not more than 15 mins. |
| Tests and acceptance criteria | 150.{{ drug.strength }} ± 5.0% | 150.{{ drug.strength }} ± 5.0% |
| Tests and acceptance criteria |  |  |
| Tests and acceptance criteria | (90.0 to 110.0 %)
36.{{ drug.strength }} – 44.{{ drug.strength }} | (90.0 to 110.0 %)
36.{{ drug.strength }} – 44.{{ drug.strength }} |
| Tests and acceptance criteria |  |  |
| Tests and acceptance criteria | Total Aerobic Microbial Count: Not more than 100 {{ drug.molecular_formula }}/g | Total Aerobic Microbial Count: Not more than 100 {{ drug.molecular_formula }}/g |
| Tests and acceptance criteria | Total combine yeast and mould count: Not more than 10 {{ drug.molecular_formula }}/g | Total combine yeast and mould count: Not more than 10 {{ drug.molecular_formula }}/g |
| Testing frequency |  |  |
| Container closure system(s) |  |  |
