{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Telmisartan 40mg
  Module: module3_quality
  Vars  : 5
#}

#### 2.3.P.8.2 Post-approval Stability Protocol and Stability Commitment

(a)	Stability protocol for Primary stability batches (e.g. storage conditions (including tolerances), {{ batch_number }} and {{ batch_number }}, tests and acceptance criteria, testing frequency, container closure system(s)):

Stability protocol for Commitment batches (e.g. storage conditions (including tolerances), {{ batch_number }} (if known) and {{ batch_number }}, tests and acceptance criteria, testing frequency, container closure system(s)):

Stability protocol for Ongoing Batches (e.g. storage conditions (including tolerances), number of batches per strength and {{ batch_number }}, tests and acceptance criteria, testing frequency, container closure system(s)):

{# TABLE #}
| col_0 |
| --- |
|  |

{# TABLE #}
| Parameter | Details | Details |
| --- | --- | --- |
| Storage condition(s) (◦C, % RH) |  |  |
| {{ batch_number }}(s) / {{ batch_number }}(s) |  |  |
| Tests and acceptance criteria | White circular {{ drug.dosage_form }} , having embossed with “{{ drug.molecular_formula }}” on one side and “40” on the other side. | White circular {{ drug.dosage_form }} , having embossed with “{{ drug.molecular_formula }}” on one side and “40” on the other side. |
| Tests and acceptance criteria | 150.{{ drug.strength }} ± 5.0 % 
(142.{{ drug.strength }} -157.{{ drug.strength }} ) | 150.{{ drug.strength }} ± 5.0 % 
(142.{{ drug.strength }} -157.{{ drug.strength }} ) |
| Tests and acceptance criteria |  |  |
| Tests and acceptance criteria | 36.{{ drug.strength }} – 44.{{ drug.strength }} 
 90.00% to 110.00% of the labelled amount | 36.{{ drug.strength }} – 44.{{ drug.strength }} 
 90.00% to 110.00% of the labelled amount |
| Testing frequency |  |  |
| Container closure system(s) |  |  |
