{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Amlodipine 5mg
  Module: module3_quality
  Vars  : 9
#}

## 2.3.S.1.1 Nomenclature (name, manufacturer)

(a)	(Recommended) International Non-proprietary name ({{ drug.molecular_formula }}): {{ drug.name }} Besylate

(b)	Compendial name, if relevant: {{ drug.name }} Besylate {{ drug.pharmacopoeia_standard }}

(c)	Chemical name(s): benzenesulfonic acid;3-O-ethyl 5-O-methyl 2-(2-aminoethoxymethyl)-4-(2-chlorophenyl)-6-methyl-1,4-dihydropyridine-3,5-dicarboxylate

(d)	Company or laboratory code: {{ drug.molecular_formula }}

(e)	Other non-proprietary name(s) (e.g. national name, {{ drug.molecular_formula }}, {{ drug.molecular_formula }}): {{ drug.name }} Besylate

(f)	Chemical Abstracts Service ({{ drug.molecular_formula }}) registry number: 111470-99-6
