{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Telmisartan 40mg
  Module: module3_quality
  Vars  : 0
#}

## 2.3.S.2.2 Description of Manufacturing Process and Process Controls (name, manufacturer)

Flow diagram of the synthesis process(es): Not available

Brief narrative description of the manufacturing process(es): Not available

(c)	Alternate processes and explanation of their use: Not available

(d)	Reprocessing steps and justification: Not available
