{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Telmisartan 40mg
  Module: module3_quality
  Vars  : 1
#}

## 2.3.S.2.6 Manufacturing Process Development (name, manufacturer)

(a)	Description and discussion of the significant changes made to the manufacturing process and/or manufacturing site of the {{ drug.molecular_formula }} used in producing comparative bioavailability or biowaiver,  stability, scale-up, pilot and, if available, production scale batches:
