{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Telmisartan 40mg
  Module: module3_quality
  Vars  : 0
#}

## 2.3.S.2.1 Manufacturer(s) (name, manufacturer)

(a)	Name, address and responsibility (e.g. fabrication, packaging, labelling, testing, storage) of each manufacturer, including contractors and each proposed production site or facility involved in these activities:

{# TABLE #}
| Name and address
		(including block(s)/unit(s)) | Responsibility | API-PQ number /APIMF/CEP number (if applicable) | Letter of access provided? |
| --- | --- | --- | --- |
| US {{ drug.molecular_formula }} {{ drug.molecular_formula }} {{ drug.molecular_formula }}
121, Neemuch Mata Scheme,
Dewali, Udaipur,
Rajasthan,
India, 313001. | Production, Analysis And Packaging
of {{ drug.molecular_formula }}. |  |  |
