{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Telmisartan 40mg
  Module: module3_quality
  Vars  : 3
#}

## 2.3.S.2.1 Manufacturer(s) (name, manufacturer)

(a)	Name, address and responsibility (e.g. fabrication, packaging, labelling, testing, storage) of each manufacturer, including contractors and each proposed production site or facility involved in these activities:

Manufacturing authorization for the production of {{ drug.molecular_formula }}(s) and, where available, certificate of {{ drug.molecular_formula }} compliance ({{ drug.molecular_formula }} information should be provided in Module

Not available.

{# TABLE #}
| Name and address
(including block(s)/unit(s)) | Responsibility | APIMF/CEP number (if applicable) |
| --- | --- | --- |
| Manufacturing Site:
{{ drug.name }} B.P
US {{ drug.molecular_formula }} {{ drug.molecular_formula }} {{ drug.molecular_formula }}
121, Neemuch Mata Scheme,
Dewali, Udaipur,
Rajasthan,
India, 313001. | Manufacture of {{ drug.name }} B.P |  |
