{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Telmisartan 40mg
  Module: module3_quality
  Vars  : 1
#}

## 2.3.S.3.1 Elucidation of Structure and other Characteristics (name, manufacturer)

List of studies performed (e.g. IR, UV, {{ drug.molecular_formula }}, MS, elemental analysis) and conclusion from the studies (e.g. whether results support the proposed structure):
