{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Telmisartan 40mg
  Module: module3_quality
  Vars  : 2
#}

## 2.3.S.4.5 Justification of Specification (name, manufacturer)

(a)	Justification of the {{ drug.molecular_formula }} specification (e.g. evolution of tests, analytical procedures and acceptance criteria, differences from officially recognized compendial standard(s)):

The specification of {{ drug.name }} B.P is based on B.P Monograph.
