{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Telmisartan 40mg
  Module: module3_quality
  Vars  : 2
#}

## 2.3.S.6 Container Closure System (name, manufacturer)

Description of the container closure system(s) for the shipment and storage of the {{ drug.molecular_formula }} (including the identity of materials of construction of each primary packaging component and a brief summary of the specifications):

Primary Packing Material- {{ drug.molecular_formula }} Bag

Secondary Packing Material- Fibre Drum
