{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Telmisartan 40mg
  Module: module3_quality
  Vars  : 5
#}

## 2.3.S.7.2 Post-approval Stability Protocol and Stability Commitment (name, manufacturer)

Stability protocol for Primary stability batches (e.g. storage conditions (including tolerances), {{ batch_number }} and {{ batch_number }}, tests and acceptance criteria, testing frequency, container closure system(s)):

N/A

Stability protocol for Commitment batches (e.g. storage conditions (including tolerances), {{ batch_number }} (if known) and {{ batch_number }}, tests and acceptance criteria, testing frequency, container closure system(s)):

N/A

Stability protocol for Ongoing batches (e.g. storage conditions (including tolerances), {{ batch_number }} and annual allocation, tests and acceptance criteria, testing frequency, container closure system(s)):

N/A
