{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Glibenclamide 5mg
  Module: module3_quality
  Vars  : 9
#}

## 2. {{ drug.molecular_formula }}:

2.1 This validation protocol is applicable for the manufacture of {{ drug.name }} {{ drug.pharmacopoeia_standard }} {{ drug.strength }} {{ drug.dosage_form }} and is limited to the manufacturing plant of ME {{ drug.molecular_formula }} {{ drug.molecular_formula }} {{ drug.molecular_formula }}. {{ drug.molecular_formula }}.

2.2 The validation activities consists 0f:

2.2.1 Documentation of the process

2.2.2 Sampling Plan

2.2.3 Review of Data

2.2.4 Evaluation of Data

This protocol consists of the process of testing the different manufacturing steps.
