{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Telmisartan 40mg
  Module: module3_quality
  Vars  : 2
#}

# 3.2.P.2.5 	Microbiological Attributes

Attached

3.2.P.2.6 	Compatibility

Drug-Excipient compatibility study was conducted under stressed conditions of {{ storage.temperature }} for 6 hours and {{ storage.temperature }} for 30 minutes. This aided in ruling out apparently incompatible excipients. The drug and the excipients were mixed in the specified ratio (drug: excipients) to make binary mixture. The results of the excipient compatibility study are listed below.

Drug-Excipient Compatibility Studies

{# TABLE #}
| Sr. No. | Drug  (Telmisartan) + Excipients (As follows) | Description | Observation | Observation |
| --- | --- | --- | --- | --- |
| Sr. No. | Drug  ({{ drug.name }}) + Excipients (As follows) | Initial | {{ storage.temperature }} for 30 minutes | {{ storage.temperature }} for 30 minutes |
|  | Microcrystalline Cellulose | White |  |  |
|  | Lactose | White |  |  |
|  | Starch | White |  |  |
|  | P.V.P. K30 | White |  |  |
|  | Isopropyl Alcohol | White |  |  |
|  | Magnesium Stearate | White |  |  |
|  | Talcum | White |  |  |
|  | Colloidal Silicon Dioxide | White |  |  |
|  | Sodium Starch Glycolate | White |  |  |
