{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Telmisartan 40mg
  Module: module3_quality
  Vars  : 1
#}

## 3.2.P.2.4 	Container Closure System

Primary Packing Material: A) Plastic Jar with Cap

Secondary Packing Material: A) Printed label B) Leaflet C) 7 Ply corrugated shipper

Storage: {{ storage.storage_conditions }}.
