{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Telmisartan 40mg
  Module: module3_quality
  Vars  : 0
#}

## 3.2.P.2.1.2 	Excipients

{# TABLE #}
| S.N. | Ingredients | Spec. | Qty/ Tab mg | Qty/ Batch
(50,000 Tabs) | Reason for Inclusion |
| --- | --- | --- | --- | --- | --- |
|  | Starch | B.P | 10.{{ drug.strength }} | 0.500 kg | Binder |
|  | Lactose | B.P | 50.{{ drug.strength }} | 2.500 kg | Diluent |
|  | {{ drug.molecular_formula }} | B.P. | 40.{{ drug.strength }} | 2.000 kg | Diluent |
|  | P.V.P.K30 | B.P | 6.{{ drug.strength }} | 0.300 Kg | Binder |
|  | Isopropyl Alcohol | B.P | 40.{{ drug.strength }} | 2.000 Kg | Preservative |
|  | Magnesium Stearate | B.P. | 1.{{ drug.strength }} | 0.050 Kg. | Lubricant |
|  | Talcum | B.P. | 2.{{ drug.strength }} | 0.100 Kg | Lubricant |
|  | Colloidal Silicon Dioxide | B.P. | 0.{{ drug.strength }} | 0.025 Kg | Glidant/Lubricant |
|  | Sodium Starch Glycolate | B.P. | 3.{{ drug.strength }} | 0.150 Kg | Disintegrant |
