{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Telmisartan 40mg
  Module: module3_quality
  Vars  : 3
#}

# 3.2.P.4.4 	Justification of specification

The specification and analytical procedure used for excipients in this product has been fixed as per specification, described below:

{{ drug.pharmacopoeia_standard }}: {{ drug.pharmacopoeia_standard }}

{{ drug.molecular_formula }}: IN- House specification

{# TABLE #}
| S. no. | Ingredient | Specification |
| --- | --- | --- |
|  | {{ drug.name }} | As per {{ drug.pharmacopoeia_standard }} |
|  | Starch | As per {{ drug.pharmacopoeia_standard }} |
|  | Lactose | As per {{ drug.pharmacopoeia_standard }} |
|  | Micro Crystalline Cellulose | As per {{ drug.pharmacopoeia_standard }} |
|  | P.V.P.K30 | As per {{ drug.pharmacopoeia_standard }} |
|  | Isopropyl Alcohol | As per {{ drug.pharmacopoeia_standard }} |
|  | Magnesium Stearate | As per {{ drug.pharmacopoeia_standard }} |
|  | Talcum | As per {{ drug.pharmacopoeia_standard }} |
|  | Colloidal Silicone Dioxide | As per {{ drug.pharmacopoeia_standard }} |
|  | Sodium Starch Glycolate | As per {{ drug.pharmacopoeia_standard }} |
