{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Telmisartan 40mg
  Module: module3_quality
  Vars  : 0
#}

# 3.2.P.4.3 	Validation of analytical procedures

Excipients used in this formulation comply as per the relevant pharmacopoeia specifications, therefore validation of these pharmacopoeia analytical procedures does not apply.
