{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Telmisartan 40mg
  Module: module3_quality
  Vars  : 1
#}

## 3.2.P.6   Reference standard material

Working Standard {{ drug.molecular_formula }} ;

Attached
