{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Telmisartan 40mg
  Module: module3_quality
  Vars  : 0
#}

## 3.2.P.7    Container closure system

{# TABLE #}
| Sr. No. | Packing Material |
| --- | --- |
| 1. | Plastic Jar |
| 2. | Poly Bag |
| 3. | Printed Label |
| 4. | Leaflet |
| 5. | 3 Ply corrugated shipper |
