{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Losartan Potassium 50mg
  Module: module3_quality
  Vars  : 1
#}

# 3.2.S.1.1   Nomenclature: Losartan

International Non-Proprietary Name: {{ drug.name }}

Compendial Name if relevant: Losartan
