{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Telmisartan 40mg
  Module: module3_quality
  Vars  : 3
#}

# 3.2.S.1.1 Nomenclature: {{ drug.name }}

International Non-Proprietary Name: {{ drug.name }}

Compendial Name if relevant: {{ drug.name }}
