{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Amlodipine 5mg
  Module: module3_quality
  Vars  : 7
#}

# 3.2.S.1.1 Nomenclature: {{ drug.name }} Besylate {{ drug.pharmacopoeia_standard }}

International Non-Proprietary Name: {{ drug.name }} Besylate {{ drug.pharmacopoeia_standard }}

Compendial Name if relevant: {{ drug.name }} Besylate {{ drug.pharmacopoeia_standard }}

Chemical Name {{ drug.molecular_formula }}
