{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Telmisartan 40mg
  Module: module3_quality
  Vars  : 0
#}

## 3.2.S.2.6 Manufacturing process development

Please Refer Drug Master File Attached for These Sections.
