{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Telmisartan 40mg
  Module: module3_quality
  Vars  : 0
#}

## 3.2.S.3.1 	Elucidation of structure and other characteristics  3.2.S.3.2 	Impurities

Please Refer Drug Master File Attached for These Sections.
