{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Amlodipine 5mg
  Module: module3_quality
  Vars  : 2
#}

## 3.2.S. Body of Data- Drug Substance

3.2.S.1 General Information: {{ drug.name }} Besylate {{ drug.pharmacopoeia_standard }}
