{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Glibenclamide 5mg
  Module: module3_quality
  Vars  : 3
#}

## 3. {{ drug.molecular_formula }} {{ drug.molecular_formula }} {{ drug.molecular_formula }}

3.1. All the raw materials are tested before proceeding for manufacturing. (Attachment i)

The raw materials are assured for supply from the same manufacturer/ supplier.

{# TABLE #}
| col_0 | col_1 | col_2 | col_3 |
| --- | --- | --- | --- |
|  | {{ drug.molecular_formula }} BY | {{ drug.molecular_formula }} BY | {{ drug.molecular_formula }} BY |
| {{ drug.molecular_formula }} |  |  |  |
| {{ drug.molecular_formula }} |  |  |  |
| {{ drug.molecular_formula }} |  |  |  |
| {{ drug.molecular_formula }} |  |  |  |
