{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Telmisartan 40mg
  Module: module3_quality
  Vars  : 0
#}

## 6.1 List of excipients

Also contains:

Microcrystalline Cellulose, Lactose, Starch, P.V.P K30, Isopropyl Alcohol, Magnesium Stearate, Talcum, Colloidal Silicone Dioxide.
