{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Telmisartan 40mg
  Module: module3_quality
  Vars  : 0
#}

## (a)	Description of the container closure systems, including unit count or fill size, container size or volume:

{# TABLE #}
| Description
(including materials of construction) | Strength | Unit count or fill size
(e.g. 60s, 100s etc.) | Container size
(e.g. 5 ml, 100 ml etc.) |
| --- | --- | --- | --- |
| Plastic container, Silica {{ drug.dosage_form }} bag, polyethylene bag, leaflet, carton | {{ drug.strength }} | {{ storage.pack_size }} | Jar {{ storage.pack_size }} {{ drug.dosage_form }} |
