{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Telmisartan 40mg
  Module: module3_quality
  Vars  : 1
#}

## (a)	Specification(s) for the {{ drug.molecular_formula }}:

{# TABLE #}
| Standard (e.g. Ph.Int., BP, USP, in-house) | Standard (e.g. Ph.Int., BP, USP, in-house) | Standard (e.g. Ph.Int., BP, USP, in-house) | B.P |
| --- | --- | --- | --- |
|  |  |  | SP/{{ drug.molecular_formula }}/ |
| Acceptance criteria
(shelf-life) | Acceptance criteria
(shelf-life) | Acceptance criteria
(shelf-life) | Analytical procedure
(type/source/version) |
|  |  |  | In -House |
|  |  |  | {{ drug.pharmacopoeia_standard }} |
|  |  |  | {{ drug.pharmacopoeia_standard }} |
|  |  |  | {{ drug.pharmacopoeia_standard }} |
|  |  |  | {{ drug.pharmacopoeia_standard }} |
|  |  |  | {{ drug.pharmacopoeia_standard }} |
|  |  |  | {{ drug.pharmacopoeia_standard }} |
|  |  |  | {{ drug.pharmacopoeia_standard }} |
|  |  |  | {{ drug.pharmacopoeia_standard }} |
|  |  |  | {{ drug.pharmacopoeia_standard }} |
|  |  |  | {{ drug.pharmacopoeia_standard }} |
