{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Telmisartan 40mg
  Module: module3_quality
  Vars  : 2
#}

## (a)	Summary of the analytical procedures for supplementary tests:

In every batch, the excipients used in the manufacturing of {{ drug.name }} {{ drug.strength }} are tested to ascertain conformance to the pharmacopoeia requirements.

The excipient listed in 2.3.P.4.1 is analyzed according to {{ drug.pharmacopoeia_standard }} specifications.
