{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Telmisartan 40mg
  Module: module3_quality
  Vars  : 0
#}

## (a)	Summary of the controls performed at critical steps of the manufacturing process and on intermediates:

N/A
