{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Telmisartan 40mg
  Module: module3_quality
  Vars  : 0
#}

## (a)	Summary of controls performed at the critical steps of the manufacturing process and on isolated intermediates:

Proposed/validated holding periods for intermediates (including bulk product):

{# TABLE #}
| Step
(e.g. granulation, compression, coating) | Controls (parameters/limits/frequency of testing) |
| --- | --- |
| Before Sifting | All raw materials must bear a Q.C ‘{{ drug.molecular_formula }}’ label and the stainless steel equipment must be cleaned. The temperature and humidity is ensured to be ≤ 27oC and between 35 to 65% respectively. |
| Sifting | It is ensured the right sifter no. is used for this operation. |
| Mixing and Milling | It is ensured this is done for the specified duration for this product. After the machine is stopped, the Q.C Dept. withdraws a sample for complete analysis having labeled the drum holding the blend with ‘{{ drug.molecular_formula }} {{ drug.molecular_formula }}’ label. |
| Compression/Inspection | The temperature and humidity is ensured to be ≤ 27oC and between 35 to 65% respectively. While compression is ongoing, a Q.A Officer ensures that the compressed {{ drug.dosage_form }} meet set specifications. |
|  |  |
|  |  |
