{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Telmisartan 40mg
  Module: module3_quality
  Vars  : 0
#}

## (a)	Summary of the validation information (e.g. validation parameters and results):

See 2.3.R Regional Information for summaries of the analytical procedures and validation information (i.e. 2.3.R.2 Analytical Procedures and Validation Information).

Analytical Method Validation Protocol & Report for Assay, Dissolution & Related substances along with Dissolution profiling are enclosed in Module 3.2.P.5.3.

{# TABLE #}
| col_0 | col_1 |
| --- | --- |
| 1. | Analytical method validation for Assay of 
{{ drug.name }} {{ drug.strength }} {{ drug.dosage_form }}
Validation Protocol Number: {{ drug.molecular_formula }}. NO. {{ drug.molecular_formula }} 021 |
