{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Glibenclamide 5mg
  Module: module3_quality
  Vars  : 5
#}

## {{ drug.molecular_formula }} {{ drug.molecular_formula }}:

Those limits specified for tests performed for validation should meet the specification.

Validation is successful if all the tests meet the limits and all the test requirements have been met.

{{ drug.molecular_formula }} {{ drug.molecular_formula }}:

If any test does not meet the limits specified for that test, then the cause should be analysed or sorted for and the validation team should propose the {{ drug.dosage_form }} for the problem.

{# TABLE #}
| col_0 | col_1 | col_2 | col_3 |
| --- | --- | --- | --- |
|  | {{ drug.molecular_formula }} BY | {{ drug.molecular_formula }} BY | {{ drug.molecular_formula }} BY |
| {{ drug.molecular_formula }} |  |  |  |
| {{ drug.molecular_formula }} |  |  |  |
| {{ drug.molecular_formula }} |  |  |  |
| {{ drug.molecular_formula }} |  |  |  |
