{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Telmisartan 40mg
  Module: module3_quality
  Vars  : 2
#}

## {{ drug.molecular_formula }} specifications of the {{ drug.molecular_formula }} manufacturer:

{# TABLE #}
| Telmisartan BP 40mg | Telmisartan BP 40mg | Telmisartan BP 40mg |
| --- | --- | --- |
| B.P | B.P | B.P |
| SP/RM/{{ drug.molecular_formula }}/ | SP/RM/{{ drug.molecular_formula }}/ | SP/RM/{{ drug.molecular_formula }}/ |
| Analytical procedure
(Type/Source/Version) | Analytical procedure
(Type/Source/Version) | Analytical procedure
(Type/Source/Version) |
|  |  |  |
|  |  |  |
|  |  |  |
|  |  |  |
|  |  |  |
|  |  |  |
|  |  |  |
|  |  |  |
|  |  |  |
