{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Telmisartan 40mg
  Module: module3_quality
  Vars  : 0
#}

## (b)	Summary of specifications of each primary and functional secondary (e.g. foil pouches) packaging components:

{# TABLE #}
| Packaging component | Specifications 
(list parameters e.g. identification (IR)) |
| --- | --- |
| Printed Leaflet | Description, Dimensions, Grammage, Printed Text, Colour |
| Plastic Jar | Description, Identification, Diameter, Grammage, Thickness. |
