{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Telmisartan 40mg
  Module: module3_quality
  Vars  : 4
#}

# Bioavailability of Two Different {{ drug.dosage_form }} Formulations of {{ drug.name }} of Two Different Strengths ({{ drug.strength }} and {{ drug.strength }}) in Healthy Male Mexican Volunteers

Daniel Ponce-Navarrete1, Armando Cortés-Mendoza1, Ericka López-Bojórquez2, Jessica González-Bañuelos2, Victoria Burke-Fraga2 and Mario González-de la Parra2*

1Biodextra, S.A. de C.V., Mexico City, Mexico

2Biokinetics, S. A. de C. V., Mexico City, Mexico
