{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Losartan Potassium 50mg
  Module: module3_quality
  Vars  : 1
#}

# Bioequivalence study of two losartan {{ drug.dosage_form }} formulations with special emphasis on cardiac safety.

Khandave SS1, Sawant SV, Sahane RV, Murthi V, Dhanure SS, Surve PG.
