{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Telmisartan 40mg
  Module: module3_quality
  Vars  : 5
#}

## Composition:

Each {{ drug.dosage_form }} Contains:

{{ drug.name }} B.P. {{ drug.strength }}

Excipients: q.s.

{{ batch_number }}: 50,{{ storage.pack_size }}.

{# TABLE #}
| Ingredient | Specification | Qty/ Batch (50,000 Tabs) |
| --- | --- | --- |
| {{ drug.molecular_formula }} |  |  |
| {{ drug.name }} | B. P. | 2.000 Kg |
| {{ drug.molecular_formula }} – {{ drug.molecular_formula }} |  |  |
| Starch | B.P | 0.500 kg |
| Lactose | B.P | 2.500 kg |
| {{ drug.molecular_formula }} | B.P. | 2.000 kg |
| P.V.P. K30 | B.P | 0.300 Kg |
| Isopropyl Alcohol | B.P | 2.000 Kg |
| Magnesium Stearate | B.P. | 0.050Kg. |
| Talcum | B.P. | 0.100 Kg |
| Colloidal Silicon Dioxide | B.P. | 0.025 Kg. |
| Sodium Starch Glycolate | B.P. | 0.150 Kg |
