{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Telmisartan 40mg
  Module: module3_quality
  Vars  : 6
#}

## Composition:

Each {{ drug.dosage_form }} Contains:

{{ drug.name }} B.P. {{ drug.strength }}

Excipients: ……..q.s.

For a full list of excipients, see section 6.1

{{ drug.molecular_formula }} {{ drug.molecular_formula }}: {{ drug.dosage_form }}.
