{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Telmisartan 40mg
  Module: module3_quality
  Vars  : 3
#}

#### Conclusion

In these two studies of healthy, fasting, male Mexican subjects, who received a single dose of either the test or reference formulation, it was concluded that the test formulations of {{ drug.name }} {{ drug.strength }} and {{ drug.strength }} met the Mexican regulatory requirements to assume bioequivalence, based on the rate and extent of absorption. These formulations were also well tolerated.
