{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Amlodipine 5mg
  Module: module3_quality
  Vars  : 1
#}

## Description of the container closure system(s) for the storage and shipment of the {{ drug.molecular_formula }}:

Primary Packing Material- Polyethylene bag

Secondary Packing Material- Corrugated Box
