{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Telmisartan 40mg
  Module: module3_quality
  Vars  : 2
#}

## Description of the batches:

Not Available

(b)	Summary of {{ batch_number }} release results of the {{ drug.molecular_formula }} manufacturer for relevant batches (e.g. comparative bioavailability or biowaiver, stability):

N/A

Summary of analytical procedures and validation information for those procedures not previously summarized in 2.3.S.4.2 and 2.3.S.4.3 (e.g. historical analytical procedures):

N/A

{# TABLE #}
| S/N | TESTS | SPECIFICATION | LIMIT |
| --- | --- | --- | --- |
| 1 |  |  |  |
| 2 |  |  |  |
| 3 |  |  |  |
