{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Telmisartan 40mg
  Module: module3_quality
  Vars  : 11
#}

## Description

Examine the {{ drug.dosage_form }} for color, appearance, weight and breaks.

Method of  analysis  of {{ drug.name }}  as per  In-house  specification

{{ drug.molecular_formula }} OF {{ drug.name }} {{ drug.molecular_formula }}: {{ drug.strength }}/{{ drug.dosage_form }}.

The {{ drug.dosage_form }} comply with requirement stated under {{ drug.dosage_form }} and with following requirement.

Content of {{ drug.name }} ({{ drug.molecular_formula }} ) 90% to 110 % of the stated amount.
