{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Telmisartan 40mg
  Module: module3_quality
  Vars  : 8
#}

#### Discussion

The results of the two studies suggest that each pair of reference/test formulations ({{ drug.name }} 40 or {{ drug.strength }}) was not statistically different in terms of their PK parameters (Cmax, {{ drug.molecular_formula }}–t and {{ drug.molecular_formula }}–∞). In addition, they suggest that no clinically important differences exist for Tmax and t1/2 between each pair of reference/test formulations (based on means and standard deviations).

Considering that all 90% CIs of the ratios of the pharmacokinetic parameters (Cmax, {{ drug.molecular_formula }}–t and {{ drug.molecular_formula }}–∞) were found to be within the predetermined ranges of bioequivalence and that the two one-sided ttests found all of the probability values to be <0.05, the results of both studies satisfied the accepted regulatory requirements to assume bioequivalence.

In addition, the mean plasma concentration-time curves for the two {{ drug.name }} dose strengths are consistent with the reported nonlinear pharmacokinetics of {{ drug.name }} [4].

In both studies, none of the reported AEs was considered serious.
