{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Glibenclamide 5mg
  Module: module3_quality
  Vars  : 8
#}

## {{ drug.molecular_formula }} {{ drug.molecular_formula }}:  {{ submission_date }}

{{ drug.molecular_formula }} {{ drug.molecular_formula }} {{ drug.molecular_formula }} {{ drug.molecular_formula }}: {{ submission_date }}
