{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Telmisartan 40mg
  Module: module3_quality
  Vars  : 0
#}

## For Excipients used in this formulation comply as per British Pharmacopoeias.

Not Applicable
