{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Glibenclamide 5mg
  Module: module3_quality
  Vars  : 5
#}

## {{ drug.name }} B.P

{{ drug.molecular_formula }} {{ drug.molecular_formula }} {{ drug.molecular_formula }}

{{ drug.molecular_formula }}/B019/07/18

Characterization and evaluation of non-official (e.g. not from an officially recognized pharmacopoeia) primary reference standards or reference materials (e.g. elucidation of structure, certificate of analysis):

N/A

Description of the process controls of the secondary reference standard (comparative certificate of analysis and IR spectra against primary standard) :

N/A
