{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Telmisartan 40mg
  Module: module3_quality
  Vars  : 3
#}

## (i)	Compatibility of the {{ drug.molecular_formula }}(s) with excipients listed in 2.3.P.1:

N/A

(ii)	Key physicochemical characteristics (e.g. water content, solubility, particle size distribution, polymorphic or solid state form) of the {{ drug.molecular_formula }}(s) that can influence the performance of the {{ drug.molecular_formula }}:

N/A
