{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Telmisartan 40mg
  Module: module3_quality
  Vars  : 3
#}

## (iii)	For fixed-dose combinations, compatibility of {{ drug.molecular_formula }} with each other:

Both {{ drug.molecular_formula }} was mix and kept for excipient compatibility study.

Details about {{ drug.molecular_formula }} – Excipient Compatibility report is enclosed in 3.2.P.2 of module 3.
