{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Telmisartan 40mg
  Module: module3_quality
  Vars  : 0
#}

## Justification of overages in the formulation(s) described in 2.3.P.1:

No overages are added in the formulation
