{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Telmisartan 40mg
  Module: module3_quality
  Vars  : 2
#}

## Manufacturing process

The method of manufacture is blending, granulation and compression. For the {{ drug.dosage_form }}, excipients are

Adequate in-process controls are provided to ensure {{ drug.dosage_form }} quality.

(b)	Discussion of the differences in the manufacturing process(es) for the batches used in the comparative bioavailability or biowaiver studies and the process described in 2.3.P.3.3:

Not applicable

{# TABLE #}
| Starch |
| --- |
| Lactose |
| {{ drug.molecular_formula }} |
| {{ drug.molecular_formula }} K30 |
| {{ drug.molecular_formula }} |
| Magnesium Stearate |
| Talcum |
| Aerosil |
| {{ drug.molecular_formula }} |
