{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Telmisartan 40mg
  Module: module3_quality
  Vars  : 7
#}

###### {{ drug.molecular_formula }} {{ drug.molecular_formula }}

2.000 kgs of {{ drug.name }} B.P. (Ingr. No. 1) passed through {{ drug.molecular_formula }} using #40 S.S. Sieve and transferred to the R.M.G.

2.	2.000 kgs of Micro Crystelline Celulose (Ingr. No. 4), 2.500 kgs of Lactose (Ingr. No. 3) and 0.500Kg of Starch (Ingr. No. 2) are passed through sifter using #40 S.S. sieve and mixed for 10 minutes with the material of Step. 1 in the {{ drug.molecular_formula }} {{ drug.molecular_formula }} {{ drug.molecular_formula }}.
