{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Glibenclamide 5mg
  Module: module3_quality
  Vars  : 4
#}

## {{ drug.molecular_formula }} {{ drug.molecular_formula }} OF {{ drug.name }} {{ drug.strength }} {{ drug.dosage_form }}

(b)	Narrative description of the manufacturing process, including equipment type and working capacity, process parameters:

{# TABLE #}
| Sr. No. | Equipment / Machine Name |
| --- | --- |
| 1 | Sifter  #20, #40, #60, #80, #100 |
| 2 | Mass Mixer (20kg) |
| 3 | Multimill ( # 20, #40, # 60, #80, # 100) |
| 4 | Fluid Bed Dryer |
| 5 | Double Cone Blender |
| 6 | {{ drug.dosage_form }} Compression Machine |
| 7 | {{ drug.molecular_formula }} Friability Test Apparatus |
| 8 | Disintegration Test Apparatus |
| 9 | I.R Moisture Balance |
| {{ drug.molecular_formula }} {{ drug.molecular_formula }} |  |
| 10 | SS Scoops, Containers |
| 11 | Platform Balance |
| 12 | Plastic Containers |
