{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Metformin Hydrochloride 500mg
  Module: module3_quality
  Vars  : 2
#}

## {{ drug.name }} B.P

{{ batch_number }} 1711025

Characterization and evaluation of non-official (e.g. not from an officially recognized pharmacopoeia) primary reference standards or reference materials (e.g. elucidation of structure, certificate of analysis):

N/A

Description of the process controls of the secondary reference standard (comparative certificate of analysis and IR spectra against primary standard) :

N/A
