{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Glibenclamide 5mg
  Module: module3_quality
  Vars  : 3
#}

## {{ drug.molecular_formula }} {{ drug.molecular_formula }} {{ drug.molecular_formula }}

Mixing of active material with excipients is done in the R.M.G mass mixer as described in the Master Processing Procedure.

Wet mass of the mixed raw materials is passed through a multimill and the mass obtained is transferred into a Fluid Bed Dryer bowl for semi drying and final drying operations. Milling and blending is done to get lubricated granules of same particle size.

The data is filled and recorded in the attachment attached in this protocol.
