{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Telmisartan 40mg
  Module: module3_quality
  Vars  : 2
#}

## Other information on the container closure system(s): Not Applicable

The Packaging Material Specification of the proposed product, {{ drug.name }} {{ drug.strength }} {{ drug.dosage_form }} are provided in Section no. 3.2. P.7 of Module 3.
