{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Metformin Hydrochloride 500mg
  Module: module3_quality
  Vars  : 5
#}

# [{{ drug.molecular_formula }}]

{{ drug.molecular_formula }} {{ drug.molecular_formula }} {{ drug.molecular_formula }} – TO BE {{ drug.molecular_formula }}
