{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Glibenclamide 5mg
  Module: module3_quality
  Vars  : 12
#}

## {{ drug.molecular_formula }} {{ drug.molecular_formula }} {{ drug.molecular_formula }} {{ drug.molecular_formula }} {{ drug.dosage_form }} {{ drug.molecular_formula }}

{{ drug.molecular_formula }} {{ drug.molecular_formula }}                                                                                                          {{ drug.molecular_formula }} {{ drug.molecular_formula }} {{ drug.molecular_formula }}

Weight of {{ drug.dosage_form }} = [1] T 20: 3.844 gms - Avg. wt.  : 0.192 gms

[2] T 20: 3.6703 gms - Avg. wt.  : 0.183 gms

Attachment ix (a)

{# TABLE #}
| BMR DOC. NO:-                          ME/MFT049/2018 | DATE:                      29/10/18 |
| --- | --- |
| {{ drug.molecular_formula }} {{ drug.molecular_formula }}:          {{ drug.molecular_formula }} | {{ drug.molecular_formula }}:             {{ drug.name }} {{ drug.pharmacopoeia_standard }} {{ drug.strength }}  {{ drug.dosage_form }} |
| {{ drug.molecular_formula }}:-                                  {{ drug.molecular_formula }} {{ drug.molecular_formula }} {{ drug.molecular_formula }} | {{ drug.molecular_formula }}:                    GL/PR/{{ drug.molecular_formula }} |
| {{ drug.molecular_formula }}:-                                 {{ drug.molecular_formula }} {{ drug.molecular_formula }}
{{ drug.molecular_formula }} {{ drug.molecular_formula }}:-                  170.{{ drug.strength }}±5.0%/ {{ drug.dosage_form }} | Temp0C = 45±{{ storage.temperature }}, % RH 50±5% |

{# TABLE #}
| Batch No | DATE | SPEED (RPM) | Time (Hr) | Thickness 2.85mm ± 0.2mm | Thickness 2.85mm ± 0.2mm | Wt. of 20 Tablets 3.40g ± 5% | Wt. of 20 Tablets 3.40g ± 5% | Hardness NLT 3.0kg/cm2 | Hardness NLT 3.0kg/cm2 | Disintegration Time (Sec) | Disintegration Time (Sec) | Friability   NMT 2.0 % | % Yield | % Assay |
| --- | --- | --- | --- | --- | --- | --- | --- | --- | --- | --- | --- | --- | --- | --- |
| Batch No | {{ drug.molecular_formula }} | {{ drug.molecular_formula }} ({{ drug.molecular_formula }}) | Time (Hr) | Max. | Max. | Max. | Max. | Max. | Max. | Max. | Max. | Friability   {{ drug.molecular_formula }} 2.0 % | % Yield | % Assay |
| GB 01/ Trial 1 | {{ submission_date }} | 20 | 0
1
2
3
4
5 | 2.84
2.84
2.84
2.84
2.89
2.89 | 2.84
2.84
2.84
2.84
2.89
2.89 | 3.486
3.486
3.489
3.480
3.484
3.484 | 3.486
3.486
3.489
3.480
3.484
3.484 | 8.7
8.7
8.7
8.6
8.2
8.2 | 8.7
8.7
8.7
8.6
8.2
8.2 | Not more than 15mins | Not more than 15mins | 0.06
0.06
0.06
 0.08
 0.06
 0.02 | 95.95 | {{ drug.name }}  {{ drug.pharmacopoeia_standard }}. =  99.79% |
