{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Glibenclamide 5mg
  Module: module3_quality
  Vars  : 6
#}

## {{ drug.molecular_formula }} {{ drug.molecular_formula }} {{ drug.molecular_formula }} {{ drug.molecular_formula }} {{ drug.dosage_form }} {{ drug.molecular_formula }}

{# TABLE #}
| BMR DOC.  No.:        ME / MFT049/2018 | Date:                      25/10/18 |
| --- | --- |
| Manufacturing Step:   {{ drug.molecular_formula }} | Product: {{ drug.name }} {{ drug.pharmacopoeia_standard }} {{ drug.strength }} {{ drug.dosage_form }} |
| Machine:  {{ drug.molecular_formula }} {{ drug.molecular_formula }} {{ drug.molecular_formula }}/ {{ drug.molecular_formula }} {{ drug.molecular_formula }} | Code No.:                GL/PR/{{ drug.molecular_formula }} |
| {{ drug.molecular_formula }}:- {{ drug.molecular_formula }} {{ drug.molecular_formula }}
%RH=50±5%. {{ drug.molecular_formula }} {{ storage.temperature }} = 45±{{ storage.temperature }} |  |
