{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Glibenclamide 5mg
  Module: module3_quality
  Vars  : 12
#}

## {{ drug.molecular_formula }} {{ drug.molecular_formula }} {{ drug.molecular_formula }} {{ drug.molecular_formula }} {{ drug.dosage_form }} {{ drug.molecular_formula }}

{{ drug.molecular_formula }} {{ drug.molecular_formula }}                                                                                                          {{ drug.molecular_formula }} {{ drug.molecular_formula }} {{ drug.molecular_formula }}

Weight of sugar coated {{ drug.dosage_form }} = [1] T 20: 3.071 gms - Avg. wt.  : 0.153 gms

[2] T 20: 3.069 gms - Avg. wt.  : 0.153 gms

Attachment ix (c)

{# TABLE #}
| BMR DOC. NO:-                          ME/MFT049/2018 | DATE:                      29/10/18 |
| --- | --- |
| {{ drug.molecular_formula }} {{ drug.molecular_formula }}:          {{ drug.molecular_formula }} | {{ drug.molecular_formula }}:             {{ drug.name }}  {{ drug.pharmacopoeia_standard }} {{ drug.strength }}  {{ drug.dosage_form }} |
| {{ drug.molecular_formula }}:-                                  {{ drug.molecular_formula }} {{ drug.molecular_formula }} {{ drug.molecular_formula }} | {{ drug.molecular_formula }}:                    GL/PR/{{ drug.molecular_formula }} |
| {{ drug.molecular_formula }}:-                                 {{ drug.molecular_formula }} {{ drug.molecular_formula }}
{{ drug.molecular_formula }} {{ drug.molecular_formula }}:-                  170.{{ drug.strength }}±5%/ {{ drug.dosage_form }} | Temp0C = 45±{{ storage.temperature }}, % RH 50±5% |

{# TABLE #}
| Batch No. | DATE | SPEED        (RPM) | Time (Hr) | Thickness
2.85 mm ±0.2mm | Thickness
2.85 mm ±0.2mm | Thickness
2.85 mm ±0.2mm | Wt of  20 Tablets
 3.400g.±5% | Wt of  20 Tablets
 3.400g.±5% | Wt of  20 Tablets
 3.400g.±5% | Hardness 
(kg/ cm2) NLT 3.0 | Hardness 
(kg/ cm2) NLT 3.0 | Disintegration
Time (sec) | Disintegration
Time (sec) | Friability NMT 
2.0 % | % Yield | % Assay |
| --- | --- | --- | --- | --- | --- | --- | --- | --- | --- | --- | --- | --- | --- | --- | --- | --- |
| Batch No. | {{ drug.molecular_formula }} | {{ drug.molecular_formula }}        ({{ drug.molecular_formula }}) | Time (Hr) | Max | Max | Max | Max | Max | Max | Max | Max | Max | Max | Friability {{ drug.molecular_formula }} 
2.0 % | % Yield | % Assay |
| GB 01/
Trial 3 | {{ submission_date }} | 20 | 0
1
2
3
4
5 |  |  |  |  |  |  | 8.7
8.7
8.6
8.2
8.6
8.5 | 8.7
8.7
8.6
8.2
8.6
8.5 | Not More Than 15mins | Not More Than 15mins | 0.08
0.08
0.20
0.18
0.18
0.18 | 98.76 | {{ drug.name }}  {{ drug.pharmacopoeia_standard }} = 100.1% |
