{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Glibenclamide 5mg
  Module: module3_quality
  Vars  : 11
#}

## {{ drug.molecular_formula }} {{ drug.molecular_formula }} {{ drug.molecular_formula }}

11. {{ drug.molecular_formula }}/{{ drug.molecular_formula }}: On the basis of the evaluation of results, this validation team concludes that all the manufacturing steps of {{ drug.name }} {{ drug.pharmacopoeia_standard }} {{ drug.strength }} {{ drug.dosage_form }} are validated up to this date.

{{ drug.molecular_formula }} {{ drug.molecular_formula }}: Except otherwise needed, this validation team has set the revalidation date after two years of the first validation program.

This is on
