{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Amlodipine 5mg
  Module: module3_quality
  Vars  : 10
#}

## {{ drug.molecular_formula }} {{ drug.molecular_formula }} {{ drug.molecular_formula }} {{ drug.molecular_formula }} {{ drug.name }} {{ drug.dosage_form }}

{{ drug.molecular_formula }} No:                  {{ drug.molecular_formula }} 018

{{ drug.molecular_formula }}:                   {{ drug.dosage_form }}
