{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Amlodipine 5mg
  Module: module3_quality
  Vars  : 9
#}

## {{ drug.molecular_formula }} {{ drug.molecular_formula }}:  {{ drug.name }} {{ drug.pharmacopoeia_standard }} {{ drug.strength }} {{ drug.dosage_form }}.

Plan for sampling of materials required during validation is done as given below.

The sampling is done by taking three samples from a container.

These three samples are taken from three different regions of the container.

For cylindrical containers:

The first sample is drawn from the top of the container (approx.1/8th of the depth). This is sample 1M1.

The second sample is drawn from the middle of the container (approx. ½ of the depth). This is sample 1M2.

The third sample is drawn from the bottom of the container (approx. 2/3rd of the depth). This is sample 1M3.

For shallow & wide containers:

The first sample is drawn from the top of the container (approx. 1/8th of the length). This is sample 1L1.

The second sample is drawn from the middle of the container (approx. 1/8th of the length). This is sample 1L2.

The third sample is drawn from the bottom of the container (approx. 2/3rd of the length). This is sample 1L3.

The samples collected should be recorded along with the date and batch No. of the collected samples.

{{ drug.molecular_formula }} BY: {{ drug.molecular_formula }} {{ drug.molecular_formula }}.

Attachment iii.

{# TABLE #}
| S/N | BATCH No. | SIFTING | GRANULATION | DRYING | LUBRICATION | COMPRESSION |
| --- | --- | --- | --- | --- | --- | --- |
| 1 | AD 01/Trial - 1 | {{ submission_date }} |  |  |  | {{ submission_date }} |
| 2 | AD 01/Trial - 2 | {{ submission_date }} |  |  |  | {{ submission_date }} |
| 3 | AD 01/Trial - 3 | {{ submission_date }} |  |  |  | {{ submission_date }} |

{# TABLE #}
| col_0 | col_1 | col_2 | col_3 |
| --- | --- | --- | --- |
|  | {{ drug.molecular_formula }} BY | {{ drug.molecular_formula }} BY | {{ drug.molecular_formula }} BY |
| {{ drug.molecular_formula }} |  |  |  |
| {{ drug.molecular_formula }} |  |  |  |
| {{ drug.molecular_formula }} |  |  |  |
| {{ drug.molecular_formula }} |  |  |  |
