{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Telmisartan 40mg
  Module: module3_quality
  Vars  : 7
#}

## References

1 RafieeTehrani H, Mehramizi A. In vitro release studies of piroxicam

from oil-in-water creams and hydroalcoholic {{ drug.dosage_form }} {{ drug.route_of_administration }} formulations.

Drug DevInd Pharm 2000; 26(4): 409–414.

2 Ruckmani K et al. Eudragit matrices for sustained release of ketorolac

tromethamine: formulation and kinetics of release. Boll Chim Form

2000; 139: 205–208.

3 Guengoer S, Bergisadi N. Effect of penetration enhancers on in vitro

percutaneous penetration of nimesulide through rat skin. Pharmazie

2004; 59: 39–41.

4 Merritt BA et al. Isopropyl alcohol {{ drug.route_of_administration }}: alternative treatment of

postoperative nausea and vomiting. Nurs Res 2002; 51(2): 125–128.

5 Leeper SC et al. {{ drug.route_of_administration }} absorption of isopropyl alcohol induced cardiac

neurological deficits in an adult female with intact skin. Vet Hum

Toxicol 2000; 42: 15–17.

I

Isopropyl Alcohol 347

6 Schick JB, Milstein JM. Burn hazard of isopropyl alcohol in the

neonate. Pediatrics 1981; 68: 587–588.

7 Weintraub Z, Iancu TC. Isopropyl alcohol burns. Pediatrics 1982; 69:

506.

8 Monaghan MS et al. Use of delta osmolality to predict serum

isopropanol and acetone concentrations. Pharmacotherapy 1993;

13(1): 60–63.

9 Lewis RJ, ed. Sax’s Dangerous Properties of Industrial Materials, 11th

edn. New York: Wiley, 2004; 2148–2149.

10 Health and Safety Executive. EH40/2005:Workplace Exposure Limits.

Sudbury: {{ drug.molecular_formula }} Books, 2005 (updated 2007). http://www.hse.gov.uk/

coshh/table1.pdf (accessed {{ submission_date }}).

11 {{ manufacturer.name }} Codex, 6th edn. Bethesda, MD: United States

Pharmacopeia, 2008; 511.
