{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Glibenclamide 5mg
  Module: module3_quality
  Vars  : 1
#}

## {{ drug.molecular_formula }}

Revalidation is required after:-

Change of Manufacturers/ Suppliers of Raw/ Active materials.

Problem encountered during manufacturing process.

Installation of new machines.

Two years from the time of first validation.
