{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Glibenclamide 5mg
  Module: module3_quality
  Vars  : 4
#}

## See attached Process Validation Protocol for Me Cure’s {{ drug.name }} {{ drug.strength }} {{ drug.pharmacopoeia_standard }}.

A white oblong caplet shaped {{ drug.dosage_form }} having embossed with “GL and BD” and a break line in between on one side and “M and 5” and a break line in between on the other side.
