{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Amlodipine 5mg
  Module: module3_quality
  Vars  : 4
#}

## Source (including {{ batch_number }}) of primary reference standards or reference

{{ manufacturer.name }}’s {{ drug.name }} Besylate

{{ batch_number }}

Characterization and evaluation of non-official (e.g. not from an officially recognized pharmacopoeia) primary reference standards or reference materials (e.g. elucidation of structure, certificate of analysis):

Attached.

Description of the process controls of the secondary reference standard (comparative certificate of analysis and IR spectra against primary standard) :

Attached.
