{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Telmisartan 40mg
  Module: module3_quality
  Vars  : 1
#}

## Specification(s) for the {{ drug.molecular_formula }}:

{# TABLE #}
| Standard (e.g. Ph. Int., BP, USP, in-house) | Standard (e.g. Ph. Int., BP, USP, in-house) | Standard (e.g. Ph. Int., BP, USP, in-house) | Standard (e.g. Ph. Int., BP, USP, in-house) | Standard (e.g. Ph. Int., BP, USP, in-house) | In-house |
| --- | --- | --- | --- | --- | --- |
|  |  |  |  |  |  |
|  |  |  |  |  | Analytical procedure (type/source/version) |
|  |  |  |  |  | In-House |
|  |  |  |  |  | {{ drug.pharmacopoeia_standard }} |
|  |  |  |  |  | {{ drug.pharmacopoeia_standard }} |
|  |  |  |  |  | {{ drug.pharmacopoeia_standard }} |
|  |  |  |  |  | {{ drug.pharmacopoeia_standard }} |
|  |  |  |  |  | {{ drug.pharmacopoeia_standard }} |
|  |  |  |  |  | {{ drug.pharmacopoeia_standard }} |
|  |  |  |  |  | {{ drug.pharmacopoeia_standard }} |
|  |  |  |  |  | {{ drug.pharmacopoeia_standard }} |
|  |  |  |  |  | {{ drug.pharmacopoeia_standard }} |
|  |  |  |  |  |  |
| In-house | In-house | In-house | In-house | In-house |  |
| {{ drug.pharmacopoeia_standard }} | {{ drug.pharmacopoeia_standard }} | {{ drug.pharmacopoeia_standard }} | {{ drug.pharmacopoeia_standard }} | {{ drug.pharmacopoeia_standard }} |  |
