{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Telmisartan 40mg
  Module: module3_quality
  Vars  : 0
#}

## Steps involved in the development of the product:

Reference  product  evaluation and Literature survey

Pre formulation studies

Trial batch

Stability batches

Reproducible batches

Technology transfer documents (master formula record)

Submission of product development report to regulatory department

For Details about finished product specification is enclosed in 3.2.P.2 of Module 3.

(b)	Information on primary (submission, registration, exhibit) batches including comparative bioavailability or biowaiver, stability, commercial:
