{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Telmisartan 40mg
  Module: module3_quality
  Vars  : 1
#}

## Summary of formulations and discussion of any differences:

N/A

(c)	Description of batches used in the comparative in vitro studies (e.g. dissolution) and in the in vivo studies (e.g. comparative bioavailability or biowaiver), including strength, {{ batch_number }}, type of study and reference to the data (volume, page):

N/A

{# TABLE #}
| Component and quality standard (e.g. NF, BP, Ph. Eur, in-house)
As per Ph. Int./In-house | Relevant batches | Relevant batches | Relevant batches | Relevant batches | Relevant batches | Relevant batches | Relevant batches | Relevant batches | Relevant batches |
| --- | --- | --- | --- | --- | --- | --- | --- | --- | --- |
| Component and quality standard (e.g. NF, {{ drug.pharmacopoeia_standard }}, Ph. Eur, in-house)
As per {{ drug.pharmacopoeia_standard }}./In-house |  |  |  |  |  |  |  |  |  |
| Component and quality standard (e.g. NF, {{ drug.pharmacopoeia_standard }}, Ph. Eur, in-house)
As per {{ drug.pharmacopoeia_standard }}./In-house |  |  |  |  |  |  |  |  |  |
| Component and quality standard (e.g. NF, {{ drug.pharmacopoeia_standard }}, Ph. Eur, in-house)
As per {{ drug.pharmacopoeia_standard }}./In-house | % | % | % | % | % | % | % | % | % |
| <complete with appropriate title e.g. Core {{ drug.dosage_form }}, Contents of {{ drug.dosage_form }}, Powder for {{ drug.dosage_form }}> |  |  |  |  |  |  |  |  |  |
|  |  |  |  |  |  |  |  |  |  |
| Total |  |  |  |  |  |  |  |  |  |
