{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Glibenclamide 5mg
  Module: module3_quality
  Vars  : 1
#}

## Summary of {{ batch_number }}:

Summary of formulations and discussion of any differences:

{# TABLE #}
| Batch number(s) of the FPPs used in | Batch number(s) of the FPPs used in | Batch number(s) of the FPPs used in | Batch number(s) of the FPPs used in |
| --- | --- | --- | --- |
|  |  |  |  |
|  |  |  |  |
|  |  |  |  |
|  |  |  |  |
|  |  |  |  |
|  |  |  |  |
|  |  |  |  |
|  |  |  |  |
|  |  |  |  |
|  |  |  |  |
|  |  |  |  |
|  |  |  |  |
|  |  |  |  |
|  |  |  |  |
|  |  |  |  |
|  |  |  |  |

{# TABLE #}
| Component and quality standard (e.g. NF, BP, Ph.Eur, in-house) | Relevant batches | Relevant batches | Relevant batches | Relevant batches | Relevant batches | Relevant batches | Relevant batches | Relevant batches | Relevant batches | Relevant batches |
| --- | --- | --- | --- | --- | --- | --- | --- | --- | --- | --- |
| Component and quality standard (e.g. NF, {{ drug.pharmacopoeia_standard }}, Ph.Eur, in-house) |  |  |  |  |  |  |  |  |  |  |
| Component and quality standard (e.g. NF, {{ drug.pharmacopoeia_standard }}, Ph.Eur, in-house) |  |  |  |  |  |  |  |  |  |  |
| Component and quality standard (e.g. NF, {{ drug.pharmacopoeia_standard }}, Ph.Eur, in-house) | % | % | % | % | % | % | % | % | % | % |
| <complete with appropriate titles e.g. Core {{ drug.dosage_form }} (Layer 1, Layer 2, etc. as applicable), Contents of {{ drug.dosage_form }}, Powder for {{ drug.dosage_form }}> |  |  |  |  |  |  |  |  |  |  |
| {{ drug.name }} |  |  |  |  |  |  |  |  |  |  |
| Starch |  |  |  |  |  |  |  |  |  |  |
| Lactose |  |  |  |  |  |  |  |  |  |  |
| {{ drug.molecular_formula }} |  |  |  |  |  |  |  |  |  |  |
| {{ drug.molecular_formula }} |  |  |  |  |  |  |  |  |  |  |
| {{ drug.molecular_formula }} K30 |  |  |  |  |  |  |  |  |  |  |
| Magnesium Stearate |  |  |  |  |  |  |  |  |  |  |
| Talcum |  |  |  |  |  |  |  |  |  |  |
| {{ drug.molecular_formula }} |  |  |  |  |  |  |  |  |  |  |
| Total |  |  |  |  |  |  |  |  |  |  |
