{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Telmisartan 40mg
  Module: module3_quality
  Vars  : 3
#}

## Summary of the validation information for the analytical procedures for supplementary tests (where applicable):

All excipients used in {{ drug.name }} {{ drug.strength }} {{ drug.dosage_form }} are tested as per the specifications and analytical methods given as per {{ drug.pharmacopoeia_standard }} and hence they are not validated.
