{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Telmisartan 40mg
  Module: module3_quality
  Vars  : 1
#}

# The specifications for drug product as described under “Finished Product Specification, Analytical

Procedures” have been fixed as per IN – House and {{ drug.pharmacopoeia_standard }} specifications.
