{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Losartan Potassium 50mg
  Module: module3_quality
  Vars  : 1
#}

## Type of container closure system used for the {{ drug.molecular_formula }} and accompanying reconstitution diluent, if applicable:

Not applicable
