{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Telmisartan 40mg
  Module: module3_quality
  Vars  : 1
#}

## Uniformity of weight variation:

Not more than 5% of the average weight of the {{ drug.dosage_form }}.

See 2.3.R Regional Information for summaries of the analytical procedures and validation information (i.e. 2.3.R.2 Analytical Procedures and Validation Information)
