{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Telmisartan 40mg
  Module: module3_quality
  Vars  : 4
#}

## US {{ drug.molecular_formula }} {{ drug.molecular_formula }} {{ drug.molecular_formula }}

US/{{ drug.molecular_formula }}/201806007

Characterization and evaluation of non-official (e.g. not from an officially recognized pharmacopoeia) primary reference standards or reference materials (e.g. elucidation of structure, certificate of analysis):

N/A

Description of the process controls of the secondary reference standard (comparative certificate of analysis and IR spectra against primary standard) :

N/A
