{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Glibenclamide 5mg
  Module: module3_quality
  Vars  : 6
#}

## {{ drug.molecular_formula }} {{ drug.molecular_formula }}

The validation report should contain:-

{{ drug.molecular_formula }}

This includes the brief description of the validation process and the tests involved.

{{ drug.molecular_formula }}

The results of the tests are collected and compiled for analysis.

{{ drug.molecular_formula }}

The validation process is then evaluated on the basis of the results obtained.

{{ drug.molecular_formula }}

The recommendations are made regarding the validation process. This also includes the certificate of validation from the validation team and the revalidation date.

{# TABLE #}
| col_0 | col_1 | col_2 | col_3 |
| --- | --- | --- | --- |
|  | {{ drug.molecular_formula }} BY | {{ drug.molecular_formula }} BY | {{ drug.molecular_formula }} BY |
| {{ drug.molecular_formula }} |  |  |  |
| {{ drug.molecular_formula }} |  |  |  |
| {{ drug.molecular_formula }} |  |  |  |
| {{ drug.molecular_formula }} |  |  |  |
