{#
  Source: 1.0 COVER LETTER.docx
  Drug  : Glibenclamide 5mg
  Module: module3_quality
  Vars  : 2
#}

## {{ drug.molecular_formula }} {{ drug.molecular_formula }}

{# TABLE #}
| S/N | DEPARTMENT | NAME | DESIGNATION | SIGNATURE | DATE |
| --- | --- | --- | --- | --- | --- |
| 1 | Production |  | Production Pharmacist |  | {{ submission_date }} |
| 2 | Quality Assurance |  | QA Manager |  | {{ submission_date }} |
| 3 | Quality Control |  | QC Manager |  | {{ submission_date }} |
| 4 | Regulatory |  | Superintendent Pharmacist |  | {{ submission_date }} |
| 5 | Engineering & Maintenance |  | Maintenance / Engineering Manager |  | {{ submission_date }} |

{# TABLE #}
| col_0 | col_1 | col_2 | col_3 |
| --- | --- | --- | --- |
|  | {{ drug.molecular_formula }} BY | {{ drug.molecular_formula }} BY | {{ drug.molecular_formula }} BY |
| {{ drug.molecular_formula }} |  |  |  |
| {{ drug.molecular_formula }} |  |  |  |
| {{ drug.molecular_formula }} |  |  |  |
| {{ drug.molecular_formula }} |  |  |  |
